mixin software-usage()

  section.software-usage
    h2.software-usage__title: span.
      Основное программное обеспечение, используемое при проектировании
    ul.software-usage__list
      li
        | Геологическое моделирование рудных месторождений
        img(src='img/micromine.png', alt='')
        img(src='img/surpac.png', alt='')
      li
        | Геологическое моделирование стратиформных месторождений
        img(src='img/minescape.png', alt='')
      li
        | Подготовка данных для моделирования
        img(src='img/digimine.png', alt='')
      li
        | Геостатистическая обработка данных
      li
        | Собственные программные и методические разработки