$software-usage-title-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><g fill="#005DA3" fill-rule="nonzero"><path d="M41.9953333 12.0347329c0-.3742625-.3033333-.6775924-.6776-.6775924-.3742666 0-.6776.3033299-.6776.6775924v13.3665849H1.35473333V6.34006289c0-1.3715181.55906667-2.61423762 1.4644-3.52096088C3.7254 1.91377874 4.9686 1.35471828 6.33966667 1.35471828H23.7066667c.3742666 0 .6771333-.30332996.6771333-.6771258 0-.37426252-.3033333-.67712582-.6771333-.67712582L6.34013333 0C2.8476.0023333.00233333 2.84756836 0 6.34006289V28.5582827c.00186667 3.4943612 2.85226667 6.3125298 6.34013333 6.3129965H20.3247333v5.7735359h-6.0960666c-.3742667 0-.6776.3033299-.6776.6775924S13.8544 42 14.2286667 42h13.5468666c.3742667 0 .6776-.30333.6776-.6775925 0-.3742625-.3033333-.6775924-.6776-.6775924h-6.0960666v-5.7735359H35.6552c1.7542.0004667 3.3441333-.7055922 4.4879333-1.8470461 1.1452-1.140054 1.8522-2.7239031 1.8517334-4.4659504v-2.434573L42 26.0789102l-.0046667-.0447995V12.0347329zM35.6552 33.5165609H6.34013333c-1.3734 0-2.6166-.5539272-3.5224-1.4527172-.9044-.8997233-1.46253333-2.1345096-1.463-3.505561v-1.80178H40.6401333v1.80178c-.0004666 2.7411695-2.2124666 4.9568782-4.9849333 4.9582782z"/><path d="M33.819355 9c.1889732 0 .3662525-.07371466.495353-.20631116l7.5018602-7.69509165c.2563299-.2629456.2422973-.6760174-.0313396-.92233225-.2736369-.24631485-.7035041-.23283046-.959834.03011514L33.819355 7.39311024l-3.6447496-3.73877175c-.2563299-.2629456-.6861971-.27642999-.959834-.03011514-.2736369.24631485-.2876695.65938665-.0313396.92233225l4.1401026 4.24713324C33.4531026 8.92583586 33.6303819 9 33.819355 9z"/></g></svg>';

.software-usage {
  position: relative;
  padding: 1rem;

  &__title {
    @extend .directions__title;

    span {

      &::before {
        width: 42px;
        height: 42px;
        @include background-svg($software-usage-title-icon);
      }
    }
  }

  &__list {
    max-width: $screen-sm;
    margin: auto;

    > li {
      margin-bottom: 0.7em;

      > img {
        max-height: 2rem;
        width: auto;
        vertical-align: middle;
        margin-left: 1rem;
      }
    }

    @media (min-width: $screen-sm) {
      padding-left: 2rem;
      font-size: 1.125rem;
    }

    @media (min-width: $screen-md) {
      padding-left: 0.4rem;
    }
  }
}