mixin link(url, trusted)

  //- External links
    links are opened in a new window while preventing it from accessing the referrer's window object

  //- Param:
    url     - {string} link reference
    trusted - {boolean} link reference is trusted (default: false)

  //- Usage:
    +link('http://example.com') or +link('http://trusted.com', true)

  if trusted
    a(href=url target='_blank')&attributes(attributes)
      block

  else
    a(href=url target='_blank' rel='noopener')&attributes(attributes)
      block