mixin feedback()

  //- Usage:
    +feedback

  .feedback
    .feedback__stripe
    .feedback__inner
      +form.feedback__form
        h3.feedback__title Задайте вопрос эксперту
        .feedback__form-group.feedback__form-group--persona
          +field-text({
            title: 'Ваше имя'
          })
          +field-text({
            title: 'E-mail'
          })
          +field-text({
            title: 'Название компании'
          })
        .feedback__form-group.feedback__form-group--message-type
          +field-checkbox([
            {
              title: 'Сотрудничество',
              attrs: {
                name: 'check1'
              }
            },
            {
              title: 'Вакансии',
              attrs: {
                name: 'check2'
              }
            },
            {
              title: 'Прочее',
              attrs: {
                name: 'check3'
              }
            },
          ], 'Тип вопроса')
        .feedback__form-group.feedback__form-group--message
          +field-text({
            title: 'Текст сообщения',
            isTextarea: true,
            mods: '',
            attrs: {
              name: 'test'
            }
          })
        .feedback__form-group.feedback__form-group--privacy
          +field-checkbox([
            {
              title: 'Согласен на обработку персональных данных в соответствии с Условиями',
              isPrivacy: true,
              attrs: {
                name: 'check1'
              }
            }
          ])
        .feedback__form-group.feedback__form-group--action
          +field-actions
            +btn('', 'submit')
              svg(width='18', height='14', xmlns='http://www.w3.org/2000/svg')
                g(fill='#FFF', fill-rule='nonzero')
                  path(d='M6.58564286 11.6871111c.3375.3626667.67478571.7255556 1.01228571 1.088.114.1226667.34285714.1373333.4545 0C11.3012143 8.77933333 14.55 4.78311111 17.7987857.78711111 18.0047143.534 17.8127143.15311111 17.4861429.23 11.7717857 1.57555556 6.05764286 2.92111111.34328571 4.26688889c-.24214285.05688889-.303.384-.14185714.55711111C1.65128571 6.38266667 3.10114286 7.94133333 4.5512143 9.5c.28821428.31.74228571-.162.4545-.47133333C3.55585714 7.47 2.106 5.91133333.65592857 4.35266667c-.04735714.18555555-.0945.37133333-.14185714.55711111C6.22842857 3.56422222 11.9425714 2.21866667 17.6569286.87288888c-.1041429-.18555555-.2085-.37133332-.3126429-.5571111-3.249 3.996-6.4975714 7.992-9.74614284 11.98800002h.4545c-.3375-.3626667-.67478572-.7255556-1.01228572-1.088-.28842857-.31-.7425.162-.45471428.4713333z')
                  path(d='M3.66921429 8.41755556c.04264285 1.75111114.08507142 3.50200004.12771428 5.25311114.00771429.3128889.33514286.4115555.54878572.2357777.89828571-.7397777 1.79657142-1.4793333 2.69464285-2.2191111.13907143-.1146666.111-.352 0-.4713333C6.09964286 10.2046667 5.15871429 9.19333333 4.218 8.18222222c-.28821429-.31-.74228571.162-.4545.47133334.94071429 1.01133333 1.88142857 2.02266664 2.82235714 3.03377774V11.216c-.89828571.7397778-1.79657143 1.4793333-2.69464285 2.2191111.183.0786667.36578571.1571111.54878571.2357778-.04264286-1.7511111-.08507143-3.502-.12771429-5.25311112-.01071428-.42933334-.65357142-.43044445-.64307142-.00022222zM3.5 8c.66666667 0 .66666667-1 0-1s-.66666667 1 0 1z')
                  path(d='M4.42145637 8.94623664C5.90304736 7.84260677 7.3848285 6.7387525 8.8664195 5.63512264c.31012255-.23113842.02414811-.81369701-.28787587-.58143655C7.09695264 6.15754036 5.6151715 7.26117022 4.1335805 8.36502449c-.31012255.23091402-.02414811.81369701.28787587.58121215z')
              | Отправить
