.feedback {
  background-color: $bg-color--lighter;
  padding: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    padding: 3rem;
  }

  &__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    overflow: hidden;
    transform: skewY(-7deg);
    transform-origin: 0;
    background-color: $bg-color--default;
    z-index: -2;
  }

  &__inner {
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius;
    box-shadow: 0 5px 35px 0 rgba(77,77,77,0.25);
    background-color: $bg-color--default;
    position: relative;
    padding: 2rem 1rem;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 116px;
      height: 393px;
      z-index: -2;
    }

    &::before {
      left: -8rem;
      bottom: 1rem;
      @include background-svg('<svg width="116" height="393" xmlns="http://www.w3.org/2000/svg"><g fill="#005DA3" fill-rule="evenodd" opacity=".40000001"><path d="M116 186h-2v-2h2zM116 393h-2v-2h2zM116 163h-2v-2h2zM116 370h-2v-2h2z"/><path opacity=".89999998" d="M97 186h-2v-2h2zM97 393h-2v-2h2zM97 163h-2v-2h2zM97 370h-2v-2h2z"/><path opacity=".79999995" d="M78 186h-2v-2h2zM78 393h-2v-2h2zM78 163h-2v-2h2zM78 370h-2v-2h2z"/><path opacity=".69999999" d="M59 186h-2v-2h2zM59 393h-2v-2h2zM59 163h-2v-2h2z"/><path opacity=".5" d="M40 186h-2v-2h2zM40 163h-2v-2h2z"/><path opacity=".30000001" d="M21 186h-2v-2h2zM21 163h-2v-2h2z"/><path d="M116 140h-2v-2h2zM116 347h-2v-2h2z"/><path opacity=".89999998" d="M97 140h-2v-2h2zM97 347h-2v-2h2z"/><path opacity=".79999995" d="M78 140h-2v-2h2zM78 347h-2v-2h2z"/><path opacity=".69999999" d="M59 140h-2v-2h2zM59 347h-2v-2h2z"/><path opacity=".5" d="M40 140h-2v-2h2zM40 347h-2v-2h2z"/><path opacity=".30000001" d="M21 347h-2v-2h2z"/><path d="M116 117h-2v-2h2zM116 324h-2v-2h2z"/><path opacity=".89999998" d="M97 117h-2v-2h2zM97 324h-2v-2h2z"/><path opacity=".79999995" d="M78 117h-2v-2h2zM78 324h-2v-2h2z"/><path opacity=".69999999" d="M59 117h-2v-2h2zM59 324h-2v-2h2z"/><path opacity=".5" d="M40 117h-2v-2h2z"/><path opacity=".30000001" d="M21 117h-2v-2h2zM21 324h-2v-2h2z"/><path opacity=".2" d="M2 117H0v-2h2zM2 324H0v-2h2z"/><path d="M116 94h-2v-2h2zM116 301h-2v-2h2z"/><path opacity=".89999998" d="M97 94h-2v-2h2zM97 301h-2v-2h2z"/><path opacity=".79999995" d="M78 94h-2v-2h2zM78 301h-2v-2h2z"/><path opacity=".69999999" d="M59 94h-2v-2h2zM59 301h-2v-2h2z"/><path opacity=".5" d="M40 94h-2v-2h2zM40 301h-2v-2h2z"/><path opacity=".30000001" d="M21 94h-2v-2h2zM21 301h-2v-2h2z"/><path opacity=".2" d="M2 94H0v-2h2z"/><path d="M116 71h-2v-2h2zM116 278h-2v-2h2z"/><path opacity=".89999998" d="M97 71h-2v-2h2zM97 278h-2v-2h2z"/><path opacity=".79999995" d="M78 71h-2v-2h2zM78 278h-2v-2h2z"/><path opacity=".69999999" d="M59 71h-2v-2h2zM59 278h-2v-2h2z"/><path opacity=".5" d="M40 71h-2v-2h2zM40 278h-2v-2h2z"/><path opacity=".30000001" d="M21 278h-2v-2h2z"/><path opacity=".2" d="M2 278H0v-2h2z"/><path d="M116 48h-2v-2h2zM116 255h-2v-2h2z"/><path opacity=".89999998" d="M97 48h-2v-2h2zM97 255h-2v-2h2z"/><path opacity=".79999995" d="M78 48h-2v-2h2zM78 255h-2v-2h2z"/><path opacity=".69999999" d="M59 48h-2v-2h2zM59 255h-2v-2h2z"/><path opacity=".5" d="M40 48h-2v-2h2zM40 255h-2v-2h2z"/><path opacity=".30000001" d="M21 255h-2v-2h2z"/><path opacity=".2" d="M2 255H0v-2h2z"/><path d="M116 25h-2v-2h2zM116 232h-2v-2h2z"/><path opacity=".89999998" d="M97 25h-2v-2h2zM97 232h-2v-2h2z"/><path opacity=".79999995" d="M78 25h-2v-2h2zM78 232h-2v-2h2z"/><path opacity=".69999999" d="M59 25h-2v-2h2zM59 232h-2v-2h2z"/><path opacity=".5" d="M40 232h-2v-2h2z"/><path d="M116 2h-2V0h2zM116 209h-2v-2h2z"/><path opacity=".89999998" d="M97 2h-2V0h2zM97 209h-2v-2h2z"/><path opacity=".79999995" d="M78 209h-2v-2h2z"/><path opacity=".69999999" d="M59 209h-2v-2h2z"/><path opacity=".5" d="M40 209h-2v-2h2z"/><path opacity=".30000001" d="M21 209h-2v-2h2z"/></g></svg>')
    }

    &::after {
      top: 5rem;
      right: -8rem;
      @include background-svg('<svg width="116" height="393" xmlns="http://www.w3.org/2000/svg"><g fill="#005DA3" fill-rule="evenodd" opacity=".40000001"><path d="M0 207h2v2H0zM0 0h2v2H0zM0 230h2v2H0zM0 23h2v2H0z"/><path opacity=".89999998" d="M19 207h2v2h-2zM19 0h2v2h-2zM19 230h2v2h-2zM19 23h2v2h-2z"/><path opacity=".79999995" d="M38 207h2v2h-2zM38 0h2v2h-2zM38 230h2v2h-2zM38 23h2v2h-2z"/><path opacity=".69999999" d="M57 207h2v2h-2zM57 0h2v2h-2zM57 230h2v2h-2z"/><path opacity=".5" d="M76 207h2v2h-2zM76 230h2v2h-2z"/><path opacity=".30000001" d="M95 207h2v2h-2zM95 230h2v2h-2z"/><path d="M0 253h2v2H0zM0 46h2v2H0z"/><path opacity=".89999998" d="M19 253h2v2h-2zM19 46h2v2h-2z"/><path opacity=".79999995" d="M38 253h2v2h-2zM38 46h2v2h-2z"/><path opacity=".69999999" d="M57 253h2v2h-2zM57 46h2v2h-2z"/><path opacity=".5" d="M76 253h2v2h-2zM76 46h2v2h-2z"/><path opacity=".30000001" d="M95 46h2v2h-2z"/><path d="M0 276h2v2H0zM0 69h2v2H0z"/><path opacity=".89999998" d="M19 276h2v2h-2zM19 69h2v2h-2z"/><path opacity=".79999995" d="M38 276h2v2h-2zM38 69h2v2h-2z"/><path opacity=".69999999" d="M57 276h2v2h-2zM57 69h2v2h-2z"/><path opacity=".5" d="M76 276h2v2h-2z"/><path opacity=".30000001" d="M95 276h2v2h-2zM95 69h2v2h-2z"/><path opacity=".2" d="M114 276h2v2h-2zM114 69h2v2h-2z"/><path d="M0 299h2v2H0zM0 92h2v2H0z"/><path opacity=".89999998" d="M19 299h2v2h-2zM19 92h2v2h-2z"/><path opacity=".79999995" d="M38 299h2v2h-2zM38 92h2v2h-2z"/><path opacity=".69999999" d="M57 299h2v2h-2zM57 92h2v2h-2z"/><path opacity=".5" d="M76 299h2v2h-2zM76 92h2v2h-2z"/><path opacity=".30000001" d="M95 299h2v2h-2zM95 92h2v2h-2z"/><path opacity=".2" d="M114 299h2v2h-2z"/><path d="M0 322h2v2H0zM0 115h2v2H0z"/><path opacity=".89999998" d="M19 322h2v2h-2zM19 115h2v2h-2z"/><path opacity=".79999995" d="M38 322h2v2h-2zM38 115h2v2h-2z"/><path opacity=".69999999" d="M57 322h2v2h-2zM57 115h2v2h-2z"/><path opacity=".5" d="M76 322h2v2h-2zM76 115h2v2h-2z"/><path opacity=".30000001" d="M95 115h2v2h-2z"/><path opacity=".2" d="M114 115h2v2h-2z"/><path d="M0 345h2v2H0zM0 138h2v2H0z"/><path opacity=".89999998" d="M19 345h2v2h-2zM19 138h2v2h-2z"/><path opacity=".79999995" d="M38 345h2v2h-2zM38 138h2v2h-2z"/><path opacity=".69999999" d="M57 345h2v2h-2zM57 138h2v2h-2z"/><path opacity=".5" d="M76 345h2v2h-2zM76 138h2v2h-2z"/><path opacity=".30000001" d="M95 138h2v2h-2z"/><path opacity=".2" d="M114 138h2v2h-2z"/><path d="M0 368h2v2H0zM0 161h2v2H0z"/><path opacity=".89999998" d="M19 368h2v2h-2zM19 161h2v2h-2z"/><path opacity=".79999995" d="M38 368h2v2h-2zM38 161h2v2h-2z"/><path opacity=".69999999" d="M57 368h2v2h-2zM57 161h2v2h-2z"/><path opacity=".5" d="M76 161h2v2h-2z"/><path d="M0 391h2v2H0zM0 184h2v2H0z"/><path opacity=".89999998" d="M19 391h2v2h-2zM19 184h2v2h-2z"/><path opacity=".79999995" d="M38 184h2v2h-2z"/><path opacity=".69999999" d="M57 184h2v2h-2z"/><path opacity=".5" d="M76 184h2v2h-2z"/><path opacity=".30000001" d="M95 184h2v2h-2z"/></g></svg>');
    }

    @media (min-width: $screen-sm) {
      padding: 3rem 2rem;
    }

    @media (min-width: $screen-lg) {
      padding: 0;
    }
  }

  &__form {

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      height: 543px;
      padding: 1.5rem 1.5rem 0 1.5rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;

    @media (min-width: $screen-lg) {
      width: 50%;
      order: 3;
      padding: 2rem 3rem 1rem;
      margin-bottom: 1rem;
    }
  }

  &__form-group {

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @media (min-width: $screen-lg) {
      padding: 1.5rem 3rem;
      width: 50%;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &--persona {

      @media (min-width: $screen-lg) {
        order: 1;
        flex-basis: 50%;
      }
    }

    &--message-type {

      @media (min-width: $screen-lg) {
        order: 2;
      }
    }

    &--message {

      @media (min-width: $screen-lg) {
        order: 4;
      }
    }

    &--privacy {

      @media (min-width: $screen-lg) {
        order: 5;
      }
    }

    &--action {

      @media (min-width: $screen-lg) {
        order: 6;
      }
    }
  }
}