-
  var mainMenu = [
    {
      "id": "0",
      "name": "Ar",
      "url": "/"
    },
    {
      "id": "1",
      "name": "О компании",
      "url": "/"
    },
    {
      "id": "2",
      "name": "Главная",
      "url": "/"
    },
    {
      "id": "3",
      "name": "Услуги",
      "url": "/"
    },
    {
      "id": "4",
      "name": "Проекты",
      "url": "/"
    },
    {
      "id": "5",
      "name": "Новости",
      "url": "/"
    },
    {
      "id": "6",
      "name": "Контакты",
      "url": "/"
    }
  ];
