.main-nav {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;

  @media (max-width: ($screen-md - 1)) {
    z-index: 10;
    white-space: nowrap;
    will-change: transform, opacity;
    transform-origin: 100% 0;
    transition-duration: .25s;
    transition-property: transform, opacity;
    opacity: 0;
    transform: scale(.95);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    color: $text-color;
    background-color: $white;
    pointer-events: none;
  }

  @media (min-width: $screen-md) {
    font-size: 13px;
  }

  &__list {
    margin: 0;
    list-style-type: none;
    padding: 0;

    @media (max-width: ($screen-md - 1)) {
      padding: 1.5rem;
    }
  }

  &__item {
    margin: 0;

    @media (max-width: ($screen-md - 1)) {

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    @media (min-width: $screen-md) {
      display: inline-block;

      & + & {
        margin-left: 2rem;
      }
    }
  }

  &__link {
    color: currentColor;
    display: inline-block;

    @media (max-width: ($screen-md - 1)) {
      display: block;
      padding: 0.25rem 0;
    }
  }

  &__mobile-close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &--is-open {

    @media (max-width: ($screen-md - 1)) {
      transform: none;
      opacity: 1;
      pointer-events: auto;
    }
  }
}