mixin main-nav()

  include main-nav-data.pug

  nav#main-nav.main-nav(role='navigation')
    ul.main-nav__list
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem)

mixin main-nav-item(selectedID, item)
  -
    var thisItemClass = 'main-nav__item';
    var thisLinkClass = 'main-nav__link';
    if(selectedID == item.id) {
      thisItemClass += '  main-nav__item--active';
    }

  li(class= thisItemClass)
    a(class= thisLinkClass, href= item.url)= item.name
    block
