@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  min-height: 100%;
  min-width: 320px;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    &--ar {
      background-color: rgba($text-color, 0.9);

      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}