mixin promo()

  section.promo
    .promo__inner
      h1.promo__title СПб-Гипрошахт
      h2.promo__subtitle проектно-консалтинговая компания
      p.promo__desc.
        Лидер в области консалтинга и комплексного проектирования предприятий горной промышленности по добыче и переработке угля, железной руды и золота