.promo {
  background-color: $bg-color--darker;
  background-image:
    linear-gradient(
      to -25deg,
      rgba(43,66,88,0.50),
      ease-in-out,
      rgba(43,66,88,0.20)
    ),
    url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;

  &__inner {
    width: 100%;
    max-width: $screen-md;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-size: 1.5rem;
    color: currentColor;
    font-weight: 500;
    line-height: 1.3em;

    @media (min-width: $screen-sm) {
      font-size: 3rem;
      font-weight: 400;
    }
  }

  &__subtitle {
    font-size: 1.125rem;
    color: currentColor;
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      font-size: 2.25rem;
    }
  }

  &__desc {
    max-width: 28em;

    @media (min-width: $screen-sm) {
      font-size: 1.125rem;
    }
  }
}