.news-card {
  background-color: $bg-color--default;
  box-shadow: $box-shadow;
  color: #1a354f;
  font-weight: 500;
  border-radius: $border-radius;
  margin-bottom: 2rem;
  transition: box-shadow 0.25s ease-out 0s;

  &:hover {
    box-shadow: 0 10px 30px 0 rgba(43,66,88,0.25);
  }

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__inner {
    padding: 1rem;
    padding-top: 0;
    position: relative;
    margin-top: 1.5rem;
  }

  &__cover {
    border-radius: $border-radius;
    width: 100%;
    height: 210px;
    transform: translate3d(0,-1.5rem,0);
    box-shadow: $box-shadow;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }

  &__info {

    time {
      opacity: 0.5;
      font-size: 0.75rem;
    }
  }

  &__title {
    font-size: 0.875rem;
    letter-spacing: 0.025em;
    font-weight: inherit;
    color: currentColor;
    line-height: 1.25rem;
  }
}