mixin news-card()

  article.news-card
    a(href='/')
      .news-card__inner
        .news-card__cover
          img(src='https://images.unsplash.com/photo-1477310405250-8113258ed5cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67811b92554048ea698a29ca72a714f2&auto=format&fit=crop&w=800&q=60', alt='', width='228px', heoght='210px')
        .news-card__info
          +date('2018-07-18')
          h3.news-card__title.
            Прохождение экологической экспертизы проектом хранения отходов
