.timeline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1.5rem;
    transform: translate3d(-50%,0,0);
    height: 100%;
    width: 6px;
    background:
      linear-gradient(
        to bottom,
        $primary-color 1px,
        transparent 1px);
    background-position: right;
    background-size: 100% 7px;
    background-repeat: repeat-y;

    @media (min-width: $screen-md) {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: block;
      transform: translate3d(0,-50%,0);
      width: 100%;
      height: 6px;
      background:
        linear-gradient(
          to right,
          $primary-color 1px,
          transparent 1px);
      background-position: bottom;
      background-size: 7px 100%;
      background-repeat: repeat-x;
      left: 1rem;
      top: 50%;
    }
  }

  &__list {
    margin: 0;
    padding-left: 3rem;

    @media (min-width: $screen-md) {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    padding-left: 0.5rem;
    margin-bottom: 3.25rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      min-height: 9rem;
      width: 40%;
      flex-basis: 40%;
      padding-left: 0;
    }

    &--second,
    &--third,
    &--fourth {

      &::before {
        position: absolute;
        content: '';
        top: 0.5rem;
        left: -2rem;
        width: 1rem;
        height: 1rem;
        background-color: $bg-color--default;
        @include background-svg($timeline-small-point);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 0 7px $bg-color--default;

        @media (min-width: $screen-md) {
          display: none;
        }

        @media (min-width: $screen-lg) {
          display: block;
        }
      }
    }

    &--mark {

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -2.75rem;
        width: 40px;
        height: 40px;
        background-color: $bg-color--default;
        @include background-svg($timeline-big-point);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 0 8px $bg-color--default;

        @media (min-width: $screen-md) {
          display: none;
        }

        @media (min-width: $screen-lg) {
          display: block;
          top: auto;
          bottom: -20px;
        }
      }
    }

    &--first {

      @media (min-width: $screen-lg) {
        order: 1;
      }
    }

    &--second {

      @media (min-width: $screen-lg) {
        padding-top: 2.5rem;
        order: 3;
        width: 40%;
        flex-basis: 40%;
        margin-left: auto;

        &::before {
          top: -0.5rem;
        }

        .timeline__date {
          position: absolute;
          top: 2.5rem;
          left: -5rem;
        }
      }
    }

    &--third {

      @media (min-width: $screen-lg) {
        order: 2;

        &::before {
          top: auto;
          bottom: -0.5rem;
        }
      }
    }

    &--fourth {

      @media (min-width: $screen-lg) {
        padding-top: 2.5rem;
        order: 4;
        width: 30%;
        flex-basis: 30%;

        &::before {
          top: -0.5rem;
        }

        .timeline__date {
          position: absolute;
          top: 2.5rem;
          left: -5rem;
        }
      }
    }
  }

  &__date {
    color: $primary-color;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    letter-spacing: 0.025em;
    display: inline-block;

    @media (min-width: $screen-lg) {
      position: absolute;
      top: 0;
      left: -5rem;
    }
  }

  &__desc {
    max-width: 26em;
    font-size: 1rem;
    line-height: 1.5em;

    @media (min-width: $screen-lg) {
      padding-right: 1.5rem;
    }
  }
}