.page-header {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: $white;
  padding: 1rem;
  z-index: 10;

  &__inner {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {

    svg {
      fill: currentColor;
      vertical-align: middle;

      @media (min-width: $screen-md) {
        width: 129px;
        height: 29px;
      }
    }
  }

  &__nav {

    @media (max-width: ($screen-md - 1)) {
      position: absolute;
      top: 110%;
      width: 100%;
    }
  }

  &__hamburger {
    transform: translate3d(15px,0,0);

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &--colored {
    color: $primary-color;
  }
}