mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__inner

      .page-header__logo
        +logo('/')
          +svg-icon('logo', '100px', '22px')

      .page-header__nav
        +main-nav

      .page-header__hamburger
        +hamburger('Show menu', 'main-nav', 'main-nav--is-open')(class='main-nav__toggler')

      // .page-header__search


      // .page-header__language