.bim-leader {
  background-color: $bg-color--lighter;
  padding: 1rem;

  &__container {
    width: 100%;
    max-width: $screen-md + 50px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__cover {
    padding: 1rem;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      width: 30%;
      flex-basis: 30%;
      text-align: center;
    }

    > span {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate3d(0,0,1,180deg);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 500;
      color: $primary-color;
      line-height: 1.4em;
    }

    > img {
      width: 150px;
      height: auto;
    }
  }

  &__content {

    @media (min-width: $screen-sm) {
      padding: 1rem;
      width: 70%;
      flex-basis: 70%;
    }
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
    max-width: 26em;
    position: relative;

    @media (min-width: $screen-lg) {

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 18px;
        height: 55px;
        @include background-svg($bim-monogram);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      &::before {
        top: 0.125rem;
        left: -2.5rem;
      }

      &::after {
        top: -0.125rem;
        right: -1.5rem;
        transform: rotate3d(0,0,1,180deg);
      }
    }
  }

  &__desc {
    position: relative;
    padding-top: 2rem;
    max-width: 36em;

    &::before {
      position: absolute;
      content: '';
      background-color: $primary-color;
      height: 1px;
      width: 100px;
      top: 0;
      left: 0;
    }
  }
}