mixin bim-leader()

  //- Usage:
    +bim-leader

  section.bim-leader
    .bim-leader__container
      .bim-leader__cover
        span BIM Лидер
        img(src='img/bim.png', alt='')
      .bim-leader__content
        h2.bim-leader__title.
          Компания СПб Гипрошахт является признанным BIM лидером России по версии Autodesk с 2014 года
        p.bim-leader__desc.
          Клуб BIM-лидеров создан компанией Autodesk в 2014 году. Его цель — развитие практик применения BIM в России, работа с государственными органами, разработка шаблонов и BIM стандартов, работа с ВУЗами.
        +label('BIM Лидер Россия 2014')
        +label('BIM Лидер Россия 2016')
        +label('BIM Лидер Россия 2017')
        +label('BIM Лидер Россия 2018')