@mixin field-help-text {
  $text-color--muted:         hsl(0, 0%, 50%) !default;
  $font-size--small:          0.75em !default;

  display: block;
  padding-top: 0.4em;
  font-size: $font-size--small;
  line-height: 1.2em;
  color: $text-color--muted;

  &:empty {
    display: none;
  }
}


@mixin field-focus {
  outline: 0;
}


@mixin field-name {
  display: block;
  line-height: $line-height;
  font-weight: 400;
}