// Encode SVG SCSS
// https://codepen.io/jakob-e/pen/doMoML?editors=0100

@mixin aspect-ratio($arglist... /*$width/$ratio, $height*/) {
  $map : keywords($arglist);
  $height: map-get($map, height) or nth-or-null($arglist, 2);
  $width:  map-get($map, width)  or nth-or-null($arglist, 1);
  $ratio:
    map-get($map, ratio)
    or
    if($width and $height, $width/$height, nth-or-null($arglist, 1))
    or
    1;
  $padding: 1/$ratio * 100%;

  &:before {
    content: '';
    float:left;
    padding-bottom: $padding;
  }

  &:after  {
    content: '';
    display:table;
    clear: both;
  }
}

// Helper function
// Return null rather than throwing an error if index is outside list range.
@function nth-or-null($list, $index) {
  @return if(length($list) >= $index, nth($list, $index), null);
}

//  Function to create an optimized svg url
//  Version: 1.0.6
@function svg-url($svg){

  //  Add missing namespace
  @if not str-index($svg,xmlns) {
    $svg: str-replace($svg, '<svg','<svg xmlns="http://www.w3.org/2000/svg"');
  }

  //  Chunk up string in order to avoid
  //  "stack level too deep" error
  $encoded:'';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);

    // Encode
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '%', '%25');
    $chunk: str-replace($chunk, '#', '%23');
    $chunk: str-replace($chunk, '{', '%7B');
    $chunk: str-replace($chunk, '}', '%7D');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E');

    // The maybe list
    // Keep size and compile time down
    // ... only add on documented fail
    //  $chunk: str-replace($chunk, '&', '%26');
    //  $chunk: str-replace($chunk, '|', '%7C');
    //  $chunk: str-replace($chunk, '[', '%5B');
    //  $chunk: str-replace($chunk, ']', '%5D');
    //  $chunk: str-replace($chunk, '^', '%5E');
    //  $chunk: str-replace($chunk, '`', '%60');
    //  $chunk: str-replace($chunk, ';', '%3B');
    //  $chunk: str-replace($chunk, '?', '%3F');
    //  $chunk: str-replace($chunk, ':', '%3A');
    //  $chunk: str-replace($chunk, '@', '%40');
    //  $chunk: str-replace($chunk, '=', '%3D');

    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }

  @return url("data:image/svg+xml,#{$encoded}");
}

//  Background svg mixin
@mixin background-svg($svg){
  background-image: svg-url($svg);
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @return if($index,
    str-slice($string, 1, $index - 1) + $replace +
    str-replace(str-slice($string, $index + str-length($search)), $search, $replace), $string);
}



// Icons
// Title icons

$clients-title-icon: '<svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><g fill="#005DA3" fill-rule="nonzero"><path d="M17.1386477 18.5874379c-.5543081-.788695-1.5270197-1.4111124-2.746345-1.7436675.5153692-.5145617.8352798-1.2171218.8352798-1.9938328C15.2275825 13.2785397 13.9242711 12 12.3231909 12s-2.90439159 1.2785397-2.90439159 2.8499376c0 .775962.31991064 1.4792711.83451629 1.9938328C8.32545316 17.369567 7 18.6173978 7 20.1086529v2.1593614c0 .3100852.25653932.5617485.57263241.5617485h6.54938779c-.2076747.4291759-.3222012.8883117-.3222012 1.3684195v2.7855237c0 .3100852.2565393.5617485.5726324.5617485h12.2566242c.3160931 0 .5726324-.2516633.5726324-.5617485v-2.7855237c0-.4808568-.1145265-.9392436-.3229647-1.3684195h6.5486243c.3160931 0 .5726324-.2516633.5726324-.5617485v-2.1593614c0-1.4912551-1.3254532-2.7390859-3.2540791-3.2648825.5153691-.5145617.8352798-1.2171218.8352798-1.9938328C31.5812007 13.2785397 30.2778893 12 28.6760456 12c-1.6010802 0-2.9036281 1.2785397-2.9036281 2.8499376 0 .775962.3199106 1.4792711.8345163 1.9930838-1.2208523.3333041-2.1943274.9572195-2.7486356 1.7474124.1351413-.369256.2214179-.760982.2214179-1.1751779 0-1.936909-1.6064248-3.5128009-3.5800979-3.5128009-1.9744365 0-3.5808613 1.5758919-3.5808613 3.5128009 0 .4134469.0862766.8044239.2198908 1.172182zm8.2420892 4.0745494c.001527.000749.0022906.0022469.0030541.0037449.4275655.4598848.6726522.9834345.6726522 1.5324501v2.2237752H14.9443203v-2.2237752c0-1.7728784 2.544015-3.2708745 5.5552979-3.2708745 2.0759834 0 3.9290219.7115481 4.8811187 1.7346795zm-14.8166728-7.8113007c0-.9519765.7887057-1.7264405 1.7591268-1.7264405s1.7591268.774464 1.7591268 1.7264405c0 .9512275-.7894692 1.7249425-1.7591268 1.7249425-.9696575 0-1.7591268-.773715-1.7591268-1.7249425zm1.7591268 2.8484396c2.2645703 0 4.1779261 1.1032741 4.1779261 2.4095267v.5460196c-.6031728.2913602-1.1299946.6433893-1.5514521 1.0508442H8.14526482v-1.5976128c0-1.3055036 1.91335578-2.4087777 4.17792608-2.4087777zm14.5944914-2.8484396c0-.9519765.7887057-1.7264405 1.7583633-1.7264405.970421 0 1.7598903.774464 1.7598903 1.7264405 0 .9512275-.7894693 1.7249425-1.7598903 1.7249425-.9696576 0-1.7583633-.773715-1.7583633-1.7249425zm1.7583633 2.8484396c2.2653338 0 4.1786896 1.1032741 4.1786896 2.4095267v1.5976128h-6.8036366c-.4214574-.4074549-.9482793-.760233-1.5514521-1.0508442v-.5460196c-.0007635-1.3070016 1.9118288-2.4102757 4.1763991-2.4102757zm-5.2147725 1.6867436c-.0702429.2329384-.1076549.4741157-.1076549.7227831v.1041107c-.1748438-.0524298-.3535051-.1003657-.5359839-.1423096.2412691-.2037275.464214-.4261799.6436388-.6845842zm-2.9616549-4.3599177c1.3430139 0 2.4348331 1.0718162 2.4348331 2.3893038 0 1.3167386-1.0925827 2.3878058-2.4348331 2.3878058-1.3430138 0-2.4355965-1.0710672-2.4355965-2.3878058 0-1.3174876 1.0925827-2.3893038 2.4355965-2.3893038zm-2.318016 5.0437529c-.1824788.0434419-.3611401.0898798-.5352204.1423096v-.1041107c0-.2479184-.0366485-.4883467-.1061279-.7205361.1786614.2584043.4008427.4801077.6413483.6823372zM.54013533 15.9758057C.60207103 15.9922578.66497447 16 .72594243 16c.32129143 0 .61548601-.2148457.70161534-.5400175C3.23917698 8.61589039 8.61596989 3.23894243 15.4598647 1.42727098c.3870981-.10258396.6183892-.50033875.5158082-.88744804-.102581-.38710928-.4964533-.6174393-.8874224-.51582312C7.74209588 1.9682562 1.96949514 7.74102341.02432708 15.0883576c-.102581.3871093.12871012.7848641.51580825.8874481zM15.4590971 38.5722775C8.61574858 36.7631837 3.2389701 31.3862354 1.42704025 24.539943c-.10157642-.3862111-.49917555-.6194864-.88710074-.5149481-.38695779.1016345-.61816507.5004288-.51562125.8876078 1.94543029 7.3496252 7.71787311 13.121496 15.06426674 15.0641666.0619133.0164551.1238265.0232307.1857397.0232307.321175 0 .6152629-.2148843.701361-.5410826.1025439-.3862111-.1286634-.7830695-.5165886-.8866399zM39.4572171 24.0242972c-.3883979-.1028953-.783559.1307828-.8830739.5163999-1.784505 6.8497521-7.162174 12.2301203-14.0344989 14.0408859-.3874317.1009721-.6183449.4962055-.5149654.880861.0859886.3240722.3787363.537556.7004689.537556.0608684 0 .123669-.0076931.1845374-.024041 7.3795609-1.9434717 13.152391-7.7181117 15.0673282-15.0717624.0995149-.3875404-.1333307-.7808506-.5197963-.8798994zM24.5393168 1.42744366C31.3832875 3.2393343 36.7609005 8.61596491 38.572796 15.4599172c.0861425.3252112.3803819.5400828.7017224.5400828.0609772 0 .1238903-.0077431.1858354-.0241973.3871572-.1025963.6184836-.5003992.514919-.8875554C38.0298081 7.74195997 32.2572948 1.96946223 24.9119555.02400273c-.3852213-.10162849-.785929.1287294-.8875578.51588553-.1025966.388124.1277619.78495903.5149191.8875554z"/></g></svg>';

$promo-in-numbers-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43"><g fill="none" fill-rule="evenodd"><g fill-rule="nonzero" stroke="#005DA3" transform="translate(1 1)"><circle cx="5.5" cy="20.5" r="5.5"/><circle cx="20.5" cy="20.5" r="5.5"/><circle cx="20.5" cy="35.5" r="5.5"/><circle cx="5.5" cy="5.5" r="5.5"/><circle cx="35.5" cy="20.5" r="5.5"/><circle cx="35.5" cy="35.5" r="5.5"/><circle cx="20.5" cy="5.5" r="5.5"/></g></g></svg>';

$promo-news-title-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45"><g fill="#005da3" fill-rule="nonzero"><path d="M44.4374997 2.80588557H26.9731095c-.0040838-.00061849-.0071775-.00329484-.011295-.00384585L5.46210919.00392552c-.14803882-.01701957-.29827702.02141643-.41693083.11310958-.11837818.09169878-.19528322.22677019-.2136826.37529645L.0043772 39.4150224c-.03845252.3083089.1807257.5888873.48889148.6270478l9.30926696 1.1535524v3.2421187c0 .3105074.25185946.5622587.56250026.5622587h34.0724638C44.7481405 45 45 44.7482487 45 44.4377413V3.36814428c0-.31050737-.2518595-.56225871-.5625003-.56225871zM1.18979589 38.9955212L5.87821314 1.1921356 18.2776653 2.80588557h-7.9126294c-.3106408 0-.56250026.25175134-.56250026.56225871V40.0627332l-8.61273975-1.067212zM43.8749995 43.875477H10.9275362V3.93040299h32.9474633V43.875477z"/><path d="M17.5737153 19h19.8525694C37.743119 19 38 18.776125 38 18.5s-.256881-.5-.5737153-.5H17.5737153C17.256881 18 17 18.223875 17 18.5s.2568868.5.5737153.5zM17.5737153 14h19.8525694C37.743119 14 38 13.776125 38 13.5s-.256881-.5-.5737153-.5H17.5737153C17.256881 13 17 13.223875 17 13.5s.2568868.5.5737153.5zM17.5737153 25h19.8525694C37.743119 25 38 24.776125 38 24.5s-.256881-.5-.5737153-.5H17.5737153C17.256881 24 17 24.223875 17 24.5s.2568868.5.5737153.5zM17.5737153 31h19.8525694C37.743119 31 38 30.776125 38 30.5s-.256881-.5-.5737153-.5H17.5737153C17.256881 30 17 30.223875 17 30.5s.2568868.5.5737153.5zM17.5737153 36h19.8525694C37.743119 36 38 35.776125 38 35.5s-.256881-.5-.5737153-.5H17.5737153C17.256881 35 17 35.223875 17 35.5s.2568868.5.5737153.5z"/></g></svg>';

$promo-testimonials-title-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 50"><g fill="#005DA3" fill-rule="nonzero"><path d="M48.2685603 32h-2.5371206C45.327685 32 45 31.552 45 31s.327685-1 .7314397-1h2.5371206C48.672315 30 49 30.448 49 31s-.327685 1-.7314397 1zM56.9174865 31h-2.5001161c-.4249838 0-.7698982-.3356806-.7698982-.749287 0-.4136064.3449144-.7492869.7698982-.7492869h2.5001161c1.401728 0 2.5427171-1.1074462 2.5427171-2.4686508V3.96822379c0-1.36220371-1.1409891-2.46964985-2.5427171-2.46964985H23.0830268c-1.4022413 0-2.5432304 1.10794566-2.5432304 2.46964985v3.96023139c0 .41360641-.3449144.74928697-.7698982.74928697-.4249838 0-.7698982-.33568056-.7698982-.74928697V3.96822379C19 1.77980631 20.8313312 0 23.0830268 0h33.8344597C59.1686688 0 61 1.77980631 61 3.96822379V27.0322757C61 29.2201937 59.1681555 31 56.9174865 31z"/><path d="M47.8127232 38c-.0975267 0-.1950535-.0158277-.2898712-.048967C47.2080572 37.8412284 47 37.5657274 47 37.2580765v-6.516067c0-.4095418.3641-.7419235.8127232-.7419235.4486233 0 .8127233.3323817.8127233.7419235v4.5712381l4.9554445-5.0653592c.2990822-.3056725.8121815-.3323817 1.1475653-.0593539.3348419.2730279.3641.7419236.0650178 1.0475961l-6.3750011 6.5160669C48.2613465 37.9129476 48.0397439 38 47.8127232 38zM37.9226689 43h-4.396065c-.4249786 0-.7698888-.3356806-.7698888-.749287 0-.4136064.3449102-.7492869.7698888-.7492869h4.396065c1.3996579 0 2.5375535-1.1079457 2.5375535-2.4696499V15.9682238c0-1.3622037-1.1384089-2.4696499-2.5375535-2.4696499H4.0829769c-1.40222412 0-2.54319931 1.1079457-2.54319931 2.4696499v23.0635524c0 1.3622037 1.14097519 2.4696499 2.54319931 2.4696499h23.4046193c.4249787 0 .7698888.3356805.7698888.7492869S27.9125749 43 27.4875962 43H4.0829769C1.83130881 43 0 41.2201937 0 39.0317762V15.9682238C0 13.7798063 1.83130881 12 4.0829769 12h33.839692C40.1712575 12 42 13.7798063 42 15.9682238v23.0635524C42 41.2196942 40.1712575 43 37.9226689 43z"/><path d="M34.1871116 50c-.2270668 0-.4487144-.0870641-.6064148-.2478358l-6.374129-6.5159535c-.2991429-.3057135-.2698789-.7746722.0650311-1.0477368.33491-.2725699.8481136-.2463517 1.1477985.0593619l4.9548258 5.0650507v-4.5708632c0-.4095969.364174-.7420233.8128884-.7420233C34.635826 42 35 42.3324264 35 42.7420233v6.5159534c0 .3076924-.2080994.583725-.5235001.6930498C34.3827467 49.9841702 34.2846582 50 34.1871116 50zM13.2239038 21H6.77609624C6.34769111 21 6 20.552 6 20s.34769111-1 .77609624-1h6.44780756C13.6523089 19 14 19.448 14 20s-.3471737 1-.7760962 1zM27.2534781 26H6.74652189C6.33444181 26 6 25.552 6 25s.33444181-1 .74652189-1H27.2534781C27.6655582 24 28 24.448 28 25s-.3344418 1-.7465219 1zM26.2473478 31H6.7526522C6.33718819 31 6 30.552 6 30s.33718819-1 .7526522-1h19.4946956C26.6628118 29 27 29.448 27 30s-.3371882 1-.7526522 1z"/></g></svg>';

$promo-team-title-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 48"><path d="M17.0689655 21.2146557v-2.651832c0-.8286975.3894253-1.657395 1.0570115-2.1546135 2.0583908-1.7126414 4.2836782-2.9280644 5.2850575-3.4252829v-2.8175715c-.5006897-.49721845-.7788506-1.16017644-.7788506-1.87838093V4.41971993C22.6321839 1.98887397 24.6349425 0 27.0827586 0h.8344828c2.4478161 0 4.4505747 1.98887397 4.4505747 4.41971993v3.86725494c0 .71820449-.2781609 1.38116248-.7788506 1.87838093v2.8175715c1.0013793.4972185 3.2266667 1.7126415 5.2850575 3.4252829.6675862.552465 1.0570115 1.325916 1.0570115 2.1546135v2.651832c0 .4972185-.4450575.9391905-.9457471.9391905-.5006897 0-.9457472-.441972-.9457472-.9391905v-2.651832c0-.2762325-.1112643-.552465-.3337931-.7182045-2.3365517-1.8783809-4.84-3.1490504-5.3406896-3.4252829-.3894253-.1657395-.6119541-.552465-.6119541-.994437V9.72338385c0-.331479.1668966-.60771149.4450575-.77345099.2225288-.1657395.3337931-.38672549.3337931-.66295799V4.41971993c0-1.38116248-1.1682758-2.54133896-2.5590804-2.54133896h-.8344828c-1.3908046 0-2.5590805 1.16017648-2.5590805 2.54133896v3.86725494c0 .2762325.1112644.49721849.3337931.66295799.278161.1657395.4450575.44197199.4450575.77345099v3.70151545c0 .441972-.2225287.8286975-.611954.994437-.5006897.220986-3.0041379 1.4916555-5.3406897 3.4252829-.2225287.1657395-.3337931.441972-.3337931.7182045v2.651832c0 .4972185-.4450574.9391905-.9457471.9391905-.5006896 0-1.0570115-.3867255-1.0570115-.9391905zm18.1316447 21.0397084c-.6711658.552465-1.0626792 1.325916-1.0626792 2.1546135v2.6518319c0 .4972185.4474439.9391905.9508182.9391905.5033743 0 .9508181-.441972.9508181-.9391905v-2.6518319c0-.2762325.111861-.552465.3355829-.7182045 2.3490802-1.878381 4.8659518-3.1490505 5.3693261-3.425283.3915133-.1657395.6152353-.552465.6152353-.994437v-3.7015154c0-.331479-.1677915-.6077115-.4474439-.773451-.2237219-.1657395-.3355829-.3867255-.3355829-.662958v-3.8672549c0-1.3811625 1.1745401-2.541339 2.5728021-2.541339h.8389572c1.398262 0 2.5728021 1.1601765 2.5728021 2.541339v3.8672549c0 .2762325-.111861.4972185-.3355829.662958-.2796524.1657395-.4474438.441972-.4474438.773451v3.7015154c0 .441972.2237219.8286975.6152352.994437.5033744.220986 3.020246 1.4916555 5.3693261 3.425283.2237219.1657395.3355829.441972.3355829.7182045v2.6518319c0 .4972185.4474438.9391905.9508181.9391905C54.5525562 48 55 47.558028 55 47.0608095v-2.6518319c0-.8286975-.3915134-1.657395-1.0626791-2.1546135-2.0694278-1.7126415-4.306647-2.9280645-5.3133956-3.425283v-2.8175714c.5033743-.4972185.7830267-1.1601765.7830267-1.878381v-3.8672549c0-2.430846-2.0134973-4.41972-4.4744384-4.41972h-.8389572c-2.4609411 0-4.4744383 1.988874-4.4744383 4.41972v3.8672549c0 .7182045.2796524 1.3811625.7830267 1.878381v2.8175714c-.8948877.552465-3.1321069 1.767888-5.2015346 3.425283zm-15.342598-.0408165c-2.0638946-1.7083811-4.2951319-2.9207807-5.2991887-3.4167623v-2.8105626c.5020284-.4959816.7809331-1.1572904.7809331-1.8737083v-3.857635c0-2.424799-2.0081136-4.4087256-4.4624747-4.4087256h-.8367139c-2.4543611 0-4.46247469 1.9839266-4.46247469 4.4087256v3.857635c0 .7164179.27890466 1.3777267.78093306 1.8737083v2.8105626c-.94827586.5510907-3.17951319 1.7634902-5.29918864 3.4167623C.39046653 42.7646383 0 43.5361653 0 44.3628014v2.6452353c0 .4959817.44624747.9368542.94827586.9368542.5020284 0 .94827586-.4408725.94827586-.9368542v-2.6452353c0-.2755454.11156187-.5510907.3346856-.7164179 2.34279919-1.8737084 4.85294118-3.141217 5.35496958-3.4167624.39046653-.1653272.61359026-.5510907.61359026-.9919632v-3.6923077c0-.3306544-.1673428-.6061998-.44624746-.771527-.22312374-.1653272-.3346856-.3857635-.3346856-.6613088v-3.857635c0-1.3777267 1.17139959-2.5350172 2.56592292-2.5350172h.83671398c1.3945233 0 2.5659229 1.1572905 2.5659229 2.5350172v3.857635c0 .2755453-.1115618.4959816-.3346856.6613088-.2231237.2204363-.3904665.4959816-.3904665.826636v3.6923077c0 .4408726.2231237.8266361.6135903.9919633.5020284.2204363 3.0121704 1.4879449 5.3549695 3.4167623.2231238.1653272.3346856.4408726.3346856.7164179v2.6452354c0 .4959816.4462475.9368542.9482759.9368542.5020284 0 .9482759-.4408726.9482759-.9368542v-2.6452354c0-.8817451-.3346856-1.6532721-1.0040568-2.2043628zm-.0274558-7.1366245c.1680292 0 .3360584-.0540715.5040876-.1081429l6.1610704-3.4065015 6.1610704 3.4065015c.1680292.1081429.3360584.1081429.5040876.1081429.3360584 0 .6721168-.1622144.840146-.4866431.2800486-.4325716.1120194-1.0273576-.3360584-1.2436434l-6.1610704-3.4065014v-6.8670744c0-.486643-.4480779-.9192146-.9521655-.9192146-.5040875 0-.9521654.4325716-.9521654.9192146v6.8130029l-6.1610704 3.4065015c-.4480778.2703572-.616107.8110717-.3360584 1.2436434.1120195.3785001.4480779.5407145.7281265.5407145z" fill="#005DA3" fill-rule="nonzero"/></svg>';

$company-structure-title-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 39"><path d="M34.248161 26.7773828c-1.1279249 0-2.1640046.3970866-2.9798536 1.0566698l-6.4581941-6.463934c.724282-.8836212 1.1600444-2.0127529 1.1600444-3.2421309 0-1.2294708-.4357934-2.3586644-1.1601681-3.2422856l4.0234454-4.0270528c.7678706.6129563 1.738351.982042 2.7947102.982042 2.4765752 0 4.4916676-2.01655854 4.4916676-4.49548751S34.1047205 2.8494688 31.6281452 2.8494688c-2.4770698 0-4.4921621 2.01680607-4.4921621 4.49573499 0 1.05710289.3687721 2.02825394.9812076 2.79665381l-4.0234146 4.0270219c-.8828703-.7249598-2.0111044-1.1611238-3.2394996-1.1611238-1.2283951 0-2.3566292.436164-3.2394996 1.1611238l-4.0140167-4.0176161c.9123932-1.07572886 1.4659376-2.46528424 1.4659376-3.98351991C15.0666978 2.76679655 12.3022523 0 8.9041953 0 5.50613827 0 2.74169286 2.7667966 2.74169286 6.16774349c0 3.40069941 2.76444551 6.16749601 6.16250254 6.16749601 1.5170383 0 2.9054748-.5540153 3.9803514-1.4671535l4.0140168 4.0176161c-.7243748.8836212-1.1601682 2.0128148-1.1601682 3.2422856 0 1.2295017.4358552 2.3587572 1.1602609 3.2424093l-4.5402642 4.5441255c-1.31211-1.1472008-3.02304035-1.8482439-4.89799995-1.8482439C3.34661629 24.0662787 0 27.4159886 0 31.5332631S3.34661629 39 7.46039215 39c4.11377585 0 7.46088675-3.3494624 7.46088675-7.4667369 0-1.8764923-.7004782-3.588754-1.8466733-4.901918l4.5402951-4.5441564c.8828704.724898 2.0110426 1.161031 3.2393759 1.161031 1.228457 0 2.3567529-.4362259 3.2396541-1.1612476l6.4581632 6.4639031c-.6590227.8164809-1.0557719 1.8534418-1.0557719 2.9823878 0 2.622244 2.1318233 4.7556328 4.751839 4.7556328S39 34.155507 39 31.5332631c0-2.6224915-2.1318233-4.7558803-4.751839-4.7558803zM31.6281453 3.86331732c1.9181463 0 3.4786805 1.56186137 3.4786805 3.48188647 0 1.91977762-1.5605342 3.48163901-3.4786805 3.48163901-1.9186409 0-3.4791751-1.56186139-3.4791751-3.48163901 0-1.9200251 1.5605342-3.48188647 3.4791751-3.48188647zM8.9041954 11.3213909c-2.83962814 0-5.14951553-2.31185182-5.14951553-5.15364741S6.06456726 1.01384852 8.9041954 1.01384852c2.8396281 0 5.1495155 2.31209938 5.1495155 5.15389497s-2.3098874 5.15364741-5.1495155 5.15364741zm5.0040965 20.2118722c0 3.5581232-2.8925528 6.4528884-6.4478998 6.4528884-3.55534702 0-6.44740509-2.8947653-6.44740509-6.4528884 0-3.5583707 2.89205812-6.4531359 6.44740514-6.4531359 3.55534705 0 6.44789975 2.8947652 6.44789975 6.4531359zm6.9459847-9.2988919c-2.2624037 0-4.1028942-1.8420558-4.1028942-4.1063835 0-2.2643276 1.8404906-4.1063834 4.1028942-4.1063834 2.2624035 0 4.1028941 1.8420558 4.1028941 4.1063834 0 2.2643277-1.8404905 4.1063835-4.1028941 4.1063835zM34.248161 35.2750473c-2.0615868 0-3.7388519-1.6784441-3.7388519-3.7417843 0-2.0633401 1.6772651-3.7420316 3.7388519-3.7420316 2.0615869 0 3.738852 1.6786916 3.738852 3.7420317s-1.6772651 3.7417842-3.738852 3.7417842z" fill="#005DA3" fill-rule="nonzero"/></svg>';

// Advantages icons

$team: '<svg viewBox="0 0 37 37" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" stroke-width=".5" fill="none"><path d="M19.8113333 18.3708889c.3865556-.3554445.6331111-.861.6331111-1.4264445C20.4444444 15.8726667 19.5725556 15 18.5 15c-1.0717778 0-1.9444444.8726667-1.9444444 1.9444444 0 .5654445.2465555 1.071.6331111 1.4264445C15.9076667 18.8912222 15 20.145 15 21.6111111 15 21.8257778 15.1742222 22 15.3888889 22s.3888889-.1742222.3888889-.3888889c0-1.5011111 1.2211111-2.7222222 2.7222222-2.7222222 1.5011111 0 2.7222222 1.2211111 2.7222222 2.7222222 0 .2146667.1742222.3888889.3888889.3888889S22 21.8257778 22 21.6111111c0-1.4661111-.9076667-2.7198889-2.1886667-3.2402222zm-2.478-1.4264445c0-.6432222.5234445-1.1666666 1.1666667-1.1666666s1.1666667.5234444 1.1666667 1.1666666c0 .6432223-.5234445 1.1666667-1.1666667 1.1666667s-1.1666667-.5234444-1.1666667-1.1666667z" stroke="#00BFA5" fill="#00BFA5"/><path d="M32.3322621 28.6645242c-.8411345 0-1.6301057.2958642-2.2772577.8142379l-5.2318243-5.2318244c1.3831447-1.5200736 2.234875-3.5332541 2.234875-5.7469377 0-2.2128685-.8517303-4.2260491-2.234875-5.7469377l5.2318243-5.23182435c.647152.51837362 1.4361232.81423781 2.2772577.81423781.9796936 0 1.9007033-.38144474 2.5934982-1.07423967C35.6193703 6.56844115 36 5.64743142 36 4.66773788s-.3814447-1.90151833-1.0742397-2.59349821C34.2329654 1.38144474 33.3127707 1 32.3322621 1c-.9805086 0-1.9007033.38144474-2.5934982 1.07423967-.69361.69279493-1.0742397 1.61380467-1.0742397 2.59349821 0 .84113455.2958642 1.63010572.8142379 2.27644264l-5.2318244 5.23182428C22.7260491 10.79367519 20.7128685 9.94194495 18.5 9.94194495c-2.2128685 0-4.2260491.85173024-5.7469377 2.23487495L7.52123795 6.94499558c.51837362-.64715198.81423781-1.43612315.81423781-2.27644265 0-.97969354-.38144474-1.90070327-1.07423967-2.59349821-.69279494-.69279493-1.61380467-1.07423967-2.59349821-1.07423967S2.7670346 1.3822598 2.07423967 2.07505472C1.38144474 2.76784966 1 3.68885939 1 4.66855293s.38144474 1.90070328 1.07423967 2.59349821c.69279493.69279493 1.61380467 1.07423967 2.59349821 1.07423967.84113455 0 1.63010572-.29586419 2.27644264-.81423781l5.23182428 5.2318243C10.79367519 14.2739509 9.94194495 16.2871315 9.94194495 18.5s.85173024 4.2260491 2.23487495 5.7469377l-5.23182432 5.2318244c-.64715198-.5183737-1.43612315-.8142379-2.27644265-.8142379-.97969354 0-1.90151833.3814448-2.59349821 1.0742397-.69279493.6927949-1.07423967 1.6129896-1.07423967 2.5934982 0 .9805086.38144474 1.9007033 1.07423967 2.5934982C2.76784966 35.6193703 3.68885939 36 4.66855293 36s1.90070328-.3814447 2.59349821-1.0742397c.69279493-.6927949 1.07423967-1.6129896 1.07423967-2.5934982 0-.8411345-.29586419-1.6301057-.81423781-2.2772577l5.2318243-5.2318243c1.5200736 1.3831447 3.5332542 2.234875 5.7461227 2.234875 2.2136836 0 4.2268641-.8517303 5.7469377-2.234875l5.2318244 5.2318243c-.5183737.647152-.8142379 1.4361232-.8142379 2.2772577 0 .9796936.3814448 1.9007033 1.0742397 2.5934982C30.4315588 35.6193703 31.3517535 36 32.3322621 36c.9805086 0 1.9007033-.3814447 2.5934982-1.0742397C35.6193703 34.2329654 36 33.3127707 36 32.3322621c0-.9805086-.3814447-1.9007033-1.0742397-2.5934982-.6927949-.69361-1.6138046-1.0742397-2.5934982-1.0742397zM30.3150063 2.6512971c.5387499-.53874994 1.2551814-.83542918 2.0172558-.83542918.7620744 0 1.4776909.29667924 2.0172559.83542918.5395649.53874994.8354291 1.25518141.8354291 2.01725583 0 .76207443-.2966792 1.47769084-.8354291 2.01725584-1.0774999 1.07749988-2.9561968 1.07749988-4.0336967 0-.5387499-.53874995-.8354291-1.25518141-.8354291-2.01725584-.0008151-.76207442.2958641-1.47850589.8346141-2.01725583zM2.6512971 6.68499371c-.53874994-.53874994-.83542918-1.25518141-.83542918-2.01725583 0-.76207443.29667924-1.47850589.83542918-2.01725583.53874994-.53874995 1.25518141-.83542919 2.01725583-.83542919.76207443 0 1.47769084.29667924 2.01725584.83542919.53956499.53874994.83542918 1.2551814.83542918 2.01725583 0 .76207442-.29667924 1.47769084-.83542918 2.01725583-1.07912999 1.07749989-2.95782684 1.07749989-4.03451167 0zM6.68499371 34.3487029c-1.07831493 1.0774999-2.95701178 1.0766848-4.03451166 0-.53874995-.5387499-.83542919-1.2551814-.83542919-2.0172558 0-.7620745.29667924-1.4776909.83542919-2.0172559.53874994-.539565 1.2551814-.8354291 2.01725583-.8354291.76207442 0 1.47769084.2966792 2.01725583.8354291.539565.53875.83542919 1.2551814.83542919 2.0172559 0 .7620744-.29586419 1.4785059-.83542919 2.0172558zM10.75699781 18.5c0-4.2692469 3.47375529-7.74300219 7.74300219-7.74300219 4.2692469 0 7.7430022 3.47375529 7.7430022 7.74300219 0 4.2692469-3.4737553 7.7430022-7.7430022 7.7430022-4.2692469 0-7.74300219-3.4737553-7.74300219-7.7430022zM34.3487029 34.3487029c-1.0774999 1.0774999-2.9561967 1.0774999-4.0336966 0-.53875-.5387499-.8354292-1.2551814-.8354292-2.0172558 0-.7620745.2966792-1.4776909.8354292-2.0172559.5387499-.539565 1.2551814-.8354291 2.0172558-.8354291.7620744 0 1.4776909.2966792 2.0172559.8354291.5395649.53875.8354291 1.2551814.8354291 2.0172559 0 .7620744-.2974943 1.4785059-.8362442 2.0172558z" stroke="#005DA3" fill="#005DA3"/></g></svg>';

$respect: '<svg viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M14.9999975 18.9392372c.5355058 0 .969619-.434113.969619-.9696186S15.5355033 17 14.9999975 17c-3.3126995.0000028-5.9985712 2.6847199-5.99999693 5.9974177-.00142574 3.3126978 2.68213403 5.9997258 5.99483233 6.00258C18.3075312 29.002852 20.9957173 26.3204523 21 23.0077569c0-.5355055-.4341132-.9696186-.969619-.9696186s-.969619.4341131-.969619.9696186c-.000003 1.6462679-.9921078 3.1302862-2.5133626 3.7595585-1.5212548.6292723-3.2718054.279763-4.4347817-.8854344-1.1629764-1.1651974-1.5091445-2.9164111-.8769699-4.4364615.6321746-1.5200505 2.1180841-2.509321 3.7643497-2.5061823z" fill="#00BFA5"/><path d="M2.11438818 26.7229845l1.45264123.255047c.18291692.559136.408055 1.103502.6734617 1.6283768l-.8457426 1.2085304c-.71113178 1.0140418-.59046498 2.3938933.28582968 3.2685251l1.22554368 1.2281494c.87277628.8781577 2.24970021.9990811 3.26159069.2864373l1.20596631-.8475407c.52381811.2658471 1.06701963.4914598 1.62492213.6748936l.2545059 1.4557297c.20835 1.2255344 1.2692661 2.1211861 2.5098195 2.1188518h1.7345554c1.242032.0042541 2.3051409-.8918509 2.513735-2.1188518l.2545058-1.4557297c.5579288-.1833628 1.1011356-.4089778 1.6249222-.6748936l1.2059663.8475407c1.0118905.7126438 2.3888144.5917204 3.2615907-.2864373l1.2255437-1.2281494c.8762946-.8746318.9969614-2.2544833.2858296-3.2685251l-.8457426-1.2085304c.2653242-.5249128.4904597-1.0692724.6734617-1.6283768l1.4526413-.255047c.3558948-.0460715.657765-.284341.78584-.6202723.128075-.3359313.0616485-.7152129-.1729242-.9873606-.2345727-.2721476-.599367-.3931619-.9496467-.315029l-2.0438779.3609896c-.3764205.0616555-.6823965.3376193-.783095.7062839-.2174346.8128642-.5399284 1.5937713-.9592914 2.3228895-.1885338.3287671-.1702179.7371616.0469857 1.0476545l1.2020508 1.6990053c.1760617.2416583.1476735.5763475-.0665631.7847599l-1.2255436 1.2281494c-.2079703.214692-.5419494.2431406-.7830951.0667045l-1.6993161-1.1771399c-.3098342-.2176653-.7173623-.2360201-1.0454318-.0470856-.7250534.4197479-1.5016491.7429182-2.3101303.961331-.3678824.1009126-.6432608.4075391-.7047855.7847599l-.3602237 2.0482235c-.068575.2681008-.3111592.4544774-.5873213.4512369h-1.7306399c-.2906681.0007637-.5399432-.2076829-.5912368-.4943987l-.3602237-2.0482235c-.0615247-.3772208-.336903-.6838473-.7047855-.7847599-.8107282-.2155017-1.5899519-.5360321-2.31796118-.9534834-.32806959-.1889345-.73559762-.1705797-1.04543183.0470856l-1.69931616 1.17714c-.24114562.176436-.57512474.1479874-.783095-.0667046l-1.20596631-1.1928352c-.21423658-.2084124-.2426248-.5431016-.06656308-.7847599l1.17464251-1.7029291c.22177786-.30572.24770116-.7122058.06656308-1.0437307-.41897774-.7265354-.74146908-1.5047983-.95929138-2.3150419-.10069855-.3686646-.40667451-.6446284-.78309501-.7062839l-2.04387796-.3609896c-.28592932-.0552641-.4907884-.3085712-.4855189-.6003414v-1.7343194c-.00076201-.2912861.20724236-.5410912.49334985-.5924938l2.04387796-.3609896c.3764205-.0616555.68239646-.3376193.78309501-.7062839.21754348-.8115829.54004053-1.5911787.95929138-2.3189657.18853373-.3287671.17021787-.7371616-.0469857-1.0476545l-1.17464251-1.7029291c-.17606173-.2416583-.1476735-.5763475.06656307-.7847599l1.18247346-1.2124542c.20591042-.2171657.54006236-.2489776.78309501-.0745522l1.69931616 1.17714c.3098342.2176653.71736223.2360201 1.04543183.0470856.7263024-.4200213 1.5042281-.7431973 2.3140457-.961331.3678825-.1009126.6432608-.4075391.7047855-.7847599l.3602237-2.0482235c.0667847-.5180972-.2849354-.9971806-.798381-1.0874871-.5134457-.09030658-1.0069412.2401175-1.1202017.7500403l-.2545059 1.4557297c-.5579235.183377-1.10112924.4089915-1.62492213.6748936l-1.20596631-.8475408c-1.01189048-.7126437-2.38881441-.5917203-3.26159069.2864374l-1.22554368 1.2281493c-.8750592.8756355-.99406624 2.2554082-.28191421 3.2685252l.84574261 1.2085303c-.26537916.5248876-.49051636 1.0692514-.6734617 1.6283769l-1.45655671.2825136c-1.22586405.2092797-2.12052131 1.2768495-2.11435652 2.5230033v1.7382432c-.0004177 1.2417086.89288279 2.3026861 2.11435652 2.5112319z" fill="#005DA3"/><path d="M36.5841108 10.880027l-1.0844918-.5035788c-.1013167-.82912433-.3177159-1.64007353-.6429488-2.40943117l.6855538-.98004194c.6790293-.96729876.5646564-2.28275592-.271123-3.11831524l-1.1619555-1.16210506c-.8354518-.83588693-2.1507397-.95027451-3.117914-.27115785l-.9682963.70113672c-.7692586-.32527476-1.5801035-.54170172-2.4091211-.64303147L27.1103 1.4088708C26.612142.33539298 25.4138267-.2237838 24.2712553.08407103l-1.549274.41835783c-1.1551301.30072242-1.9213968 1.39529564-1.8087775 2.58374691l.104576 1.16210506c-.6649133.50454049-1.2578236 1.09752714-1.7622992 1.76252601l-1.1890678-.10458945c-1.176764-.10423375-2.2582629.65225931-2.5640486 1.79351547l-.418304 1.54947342c-.3078152 1.14271842.2512896 2.34118792 1.3246293 2.83941002l1.0844919.5035789c.1013663.8291147.3177636 1.6400571.6429487 2.4094311l-.6855538.980042c-.6790293.9672987-.5646564 2.2827559.271123 3.1183152l1.1619555 1.1621051c.8354518.8358869 2.1507397.9502745 3.117914.2711578l.9799159-.685642c.7605466.3324708 1.563468.5579956 2.385882.6701473l.5035141 1.0846314c.5018646 1.0671683 1.6967847 1.6206246 2.8351715 1.3131787l1.549274-.4183578c1.1426591-.304269 1.9009836-1.386328 1.7971579-2.5643785l-.104576-1.1892209c.3319993-.2520605.6464544-.5264353.941184-.8212209.3057263-.2961757.5904492-.6132943.8521007-.9490525l1.1890679.1045895c1.1767639.1042337 2.2582628-.6522593 2.5640485-1.7935155l.418304-1.5494734c.3157942-1.1485904-.2464971-2.3569344-1.3285025-2.8549048zm-.5383727 2.3242102l-.418304 1.5494734c-.0583606.2432234-.2852255.4076395-.5344996.3873683L33.3538744 15.0055c-.3520889-.0300091-.6923947.1349638-.8869594.4299789-.5346749.8073431-1.226183 1.4989401-2.0334222 2.0336838-.2949771.1945898-.4599288.5349393-.4299235.8870736l.1549274 1.7392839c.0202685.2493061-.1441264.4762003-.3873185.5345683l-1.5492741.4183578c-.2381204.0646184-.4882009-.051447-.5925973-.2750315l-.7397783-1.5882103c-.150108-.3206677-.4638186-.5333047-.8172421-.5539367-.9704003-.0531291-1.9195609-.3049527-2.7886933-.7398736-.3166105-.1577628-.6941699-.1295166-.983789.0736l-1.421459 1.0032841c-.2021752.1414331-.4767707.1169124-.650695-.0581053l-1.1619556-1.162105c-.161793-.1753994-.179528-.4398464-.042605-.6352841l1.0031549-1.433263c.1985804-.2869235.2267225-.6587439.0735905-.9722945-.4341691-.8642165-.687227-1.8080332-.7436515-2.7735574-.0206294-.353469-.233239-.66722-.5538655-.8173473l-1.5880059-.7398735c-.2235557-.1044099-.3396062-.3545225-.2749961-.5926736l.418304-1.54947341c.0583605-.24322341.2852255-.40763948.5344995-.38736835l1.7390601.15494734c.352089.03000914.6923947-.1349638.8869594-.42997887.5346749-.8073431 1.226183-1.49894015 2.0334222-2.03368386.3016643-.19633218.468919-.54432642.4337968-.90256826l-.1549275-1.73928391c-.0202685-.24930611.1441264-.47620029.3873186-.53456833l1.549274-.41835782c.2381204-.06461836.4882009.05144699.5925973.27503153l.7397784 1.58821025c.1501079.32066776.4638186.53330472.817242.55393675.9654.05643172 1.9090953.30952223 2.7732006.74374723.3190396.15706387.6986127.12580089.9876622-.08134735L32.110582 4.0197335c.2021752-.14143308.4767707-.11691247.6506951.05810526l1.1619555 1.16210506c.1749952.17394672.1995127.44857758.0580978.65077883l-1.0147745 1.42164186c-.2030905.28965635-.2313331.66726434-.0735905.98391562.4341691.8642165.6872271 1.80803317.7436515 2.77355737.0206294.353469.233239.66722.5538655.8173473l1.5880059.7398735c.2280982.1003602.3495626.3515284.2866157.5926736l-.0193659-.0154947z" fill="#005DA3"/><path d="M26.5 8C24.5670034 8 23 9.56700338 23 11.5c0 1.9329966 1.5670034 3.5 3.5 3.5s3.5-1.5670034 3.5-3.5c-.0035969-1.9315048-1.5684952-3.49640315-3.5-3.5zm0 5.375817c-.7595767.00397-1.4465708-.4505325-1.7400032-1.1511537-.2934324-.7006211-.1353744-1.5090462.4003256-2.0475608.5357001-.53851457 1.3432858-.70080662 2.045435-.41104961.7021491.28975701 1.1602453.97436001 1.1602557 1.73394711-.0017689 1.0314318-.8346047 1.8686433-1.8660131 1.875817z" fill="#00BFA5"/></g></svg>';

$safe: '<svg viewBox="0 0 40 36" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M20 0l20 19.1688312h-4.6511628v14.025974C35.3488372 34.7376623 34.0465116 36 32.5581395 36H7.44186047c-1.4883721 0-2.79069768-1.2623377-2.79069768-2.8051948v-14.025974H0L20 0zm13.9534884 17.7662338h2.3255814L20 1.91688312 3.72093023 17.7662338h2.3255814v15.4285714c0 .7480519.69767442 1.4025974 1.39534884 1.4025974H32.5581395c.6976745 0 1.3953489-.6545455 1.3953489-1.4025974V17.7662338z" fill="#005DA3"/><rect stroke="#005DA3" x="13.5" y="26.5" width="5" height="5" rx="1"/><rect stroke="#005DA3" x="13.5" y="18.5" width="5" height="5" rx="1"/><rect stroke="#00BFA5" x="21.5" y="18.5" width="5" height="5" rx="1"/><rect stroke="#005DA3" x="21.5" y="26.5" width="5" height="5" rx="1"/></g></svg>';

$responsive: '<svg viewBox="0 0 45 27" xmlns="http://www.w3.org/2000/svg"><path d="M38.991717 10.94516129c1.052283-.63709677 1.763-1.77822581 1.763-3.09032258 0-2.00080645-1.6380566-3.62903226-3.6509434-3.62903226s-3.6509434 1.62822581-3.6509434 3.62903226c0 1.31209677.710717 2.45322581 1.763 3.09032258-2.663566.75645161-4.6764528 3.06129031-4.970151 5.87258061C28.798283 15.5540323 27.0409623 14.6379032 25.0986604 14.2c2.5175283-1.0217742 4.297566-3.47903226 4.297566-6.34516129C29.3962264 4.075 26.3026604 1 22.5 1c-3.8026604 0-6.8962264 3.075-6.8962264 6.85483871 0 2.86612903 1.7800377 5.32338709 4.297566 6.34596779-1.9423019.4370967-3.6988113 1.3532258-5.1470188 2.6177419-.2936982-2.8112903-2.3057736-5.1169355-4.96933967-5.87258066 1.0514717-.63790322 1.76218867-1.77983871 1.76218867-3.09112903 0-2.00080645-1.63805659-3.62903226-3.65094338-3.62903226-2.0128868 0-3.6509434 1.62822581-3.6509434 3.62903226 0 1.31129032.71071698 2.45322581 1.76218868 3.09032258C3.12160377 11.7645161 1 14.4040323 1 17.5322581c0 .2225806.18173585.4032258.40566038.4032258.22392453 0 .40566037-.1806452.40566037-.4032258 0-3.3354839 2.72928302-6.0483871 6.08490567-6.0483871 3.35562268 0 6.08490568 2.7129032 6.08490568 6.0483871 0 .007258.0032453.0129032.0040566.0185484-2.0080189 2.0991935-3.24933964 4.9290322-3.24933964 8.0459677 0 .2225806.18173585.4032258.40566034.4032258.2239246 0 .4056604-.1806452.4056604-.4032258 0-6.0032258 4.9133585-10.8870968 10.9528302-10.8870968 6.0394717 0 10.9528302 4.883871 10.9528302 10.8870968 0 .2225806.1817358.4032258.4056604.4032258.2239245 0 .4056603-.1806452.4056603-.4032258 0-3.1169355-1.2413207-5.9467742-3.2493396-8.0459677.0008113-.0056452.0040566-.0112904.0040566-.0185484 0-3.3354839 2.729283-6.0483871 6.0849057-6.0483871 3.3556226 0 6.0849056 2.7129032 6.0849056 6.0483871 0 .2225806.1817359.4032258.4056604.4032258.2239246 0 .4056604-.1806452.4056604-.4032258 0-3.1282258-2.1216038-5.767742-5.008283-6.58709681zM5.05660377 7.85483871c0-1.55645161 1.27377359-2.82258065 2.83962265-2.82258065 1.56584905 0 2.83962264 1.26612904 2.83962264 2.82258065 0 1.55645161-1.27377359 2.82258064-2.83962264 2.82258064-1.56584906 0-2.83962265-1.26612903-2.83962265-2.82258064zm11.35849053 0c0-3.33548387 2.7292831-6.0483871 6.0849057-6.0483871 3.3556226 0 6.0849057 2.71290323 6.0849057 6.0483871 0 3.33548389-2.7292831 6.04838709-6.0849057 6.04838709-3.3556226 0-6.0849057-2.7129032-6.0849057-6.04838709zm17.8490566 0c0-1.55645161 1.2737736-2.82258065 2.8396227-2.82258065 1.565849 0 2.8396226 1.26612904 2.8396226 2.82258065 0 1.55645161-1.2737736 2.82258064-2.8396226 2.82258064-1.5658491 0-2.8396227-1.26612903-2.8396227-2.82258064z" fill="#00BFA5" fill-rule="nonzero" stroke="#005DA3"/></svg>';

$united: '<svg viewBox="0 0 30 40" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M28.7222222 34.8648649h-5.2777778c-.4444444 0-.8333333-.3783784-.8333333-.8108108 0-.4324325.3888889-.8108109.8333333-.8108109h4.4444445V1.89189189H2.11111111V33.2432432H18.1666667c.4444444 0 .8333333.3783784.8333333.8108109 0 .4324324-.3888889.8108108-.8333333.8108108H1.27777778c-.44444445 0-.83333334-.3783784-.83333334-.8108108V1.08108108c0-.43243243.3888889-.81081081.83333334-.81081081H28.7222222c.4444445 0 .8333334.37837838.8333334.81081081V34.0540541c0 .4324324-.3888889.8108108-.8333334.8108108z" fill="#005DA3"/><path d="M22.9444444 7.56756757H5.72222222c-.44444444 0-.83333333-.37837838-.83333333-.81081081 0-.43243244.38888889-.81081081.83333333-.81081081H22.9444444c.4444445 0 .8333334.37837837.8333334.81081081 0 .43243243-.3888889.81081081-.8333334.81081081zM22.9444444 12.5945946H5.72222222c-.44444444 0-.83333333-.3783784-.83333333-.8108108 0-.4324324.38888889-.8108108.83333333-.8108108H22.9444444c.4444445 0 .8333334.3783784.8333334.8108108 0 .4324324-.3888889.8108108-.8333334.8108108zM22.8888889 17.6216216H5.72222222c-.44444444 0-.83333333-.3783784-.83333333-.8108108 0-.4324324.38888889-.8108108.83333333-.8108108H22.8888889c.4444444 0 .8333333.3783784.8333333.8108108 0 .4324324-.3888889.8108108-.8333333.8108108z" fill="#005DA3"/><path d="M20.7222222 31.3513514c-2.8888889 0-5.2222222-2.2702703-5.2222222-5.0810811 0-2.8108108 2.3333333-5.0810811 5.2222222-5.0810811s5.2222222 2.2702703 5.2222222 5.0810811c0 2.8108108-2.3333333 5.0810811-5.2222222 5.0810811zm0-8.4864865c-1.9444444 0-3.5555555 1.5675675-3.5555555 3.4594594s1.6111111 3.4594595 3.5555555 3.4594595c1.9444445 0 3.5555556-1.5675676 3.5555556-3.4594595 0-1.8918919-1.6111111-3.4594594-3.5555556-3.4594594z" fill="#00BFA5"/><path d="M22.8888889 39.7297297c-.1666667 0-.3888889-.054054-.5-.1621621l-1.6666667-1.2432433-1.6666666 1.2432433c-.2777778.2162162-.6111112.2162162-.8888889.1081081-.2777778-.1081081-.4444445-.4324325-.4444445-.7027027V30c0-.4324324.3888889-.8108108.8333334-.8108108.4444444 0 .8333333.3783784.8333333.8108108v7.2972973l.8333333-.5945946c.2777778-.2162162.7222222-.2162162 1 0l.8333334.5945946V30c0-.4324324.3888888-.8108108.8333333-.8108108.4444444 0 .8333333.3783784.8333333.8108108v8.9189189c0 .3243243-.1666666.5945946-.4444444.7027027-.1111111.1081081-.2777778.1081081-.3888889.1081081zM13.1796875 30h-5.359375C7.3828125 30 7 29.6056338 7 29.1549296v-6.3098592C7 22.3943662 7.3828125 22 7.8203125 22h5.359375c.4375 0 .8203125.3943662.8203125.8450704v6.3098592C14 29.6056338 13.671875 30 13.1796875 30zM8.640625 28.3098592h3.71875v-4.6197184h-3.71875v4.6197184z" fill="#00BFA5"/></g></svg>';

$effective: '<svg viewBox="0 0 34 33" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M17 0c-.4911111 0-.8688889.37330317-.8688889.85859728 0 .48529412.3777778.85859729.8688889.85859729 8.4244444 0 15.2622222 6.60746606 15.2622222 14.78280543 0 8.1753394-6.8377778 14.7828054-15.2622222 14.7828054-8.42444444 0-15.26222222-6.6447964-15.26222222-14.7828054 0-4.3303167 1.96444444-8.43665158 5.36444444-11.23642534l-.45333333 1.7918552c-.03777778.14932127.15111111.29864254.30222222.2239819L8.16 6.57013575c.22666667-.11199095.37777778-.33597285.41555556-.59728507l.68-2.79977376c.07555555-.26131221-.07555556-.48529411-.34-.55995475l-2.83333334-.6719457c-.26444444-.07466063-.49111111-.03733032-.71777778.11199095l-1.20888888.70927602c-.15111112.07466063-.11333334.29864253.03777777.33597285l2.15333334.52262443C2.38 6.75678733 0 11.4604072 0 16.5 0 25.6085973 7.63111111 33 17 33c9.3688889 0 17-7.3914027 17-16.5C34 7.39140271 26.3688889 0 17 0z" fill="#005DA3"/><path d="M17.2010855 21.7701711c.5395088 0 1.0070831-.1564792 1.4386902-.391198l1.9062644 2.3080685c.1798363.195599.3956398.3129584.6114433.3129584.2158035 0 .3956398-.0782396.575476-.2347188.3237053-.3520783.3596726-.8997555.0719346-1.2909536l-1.9062645-2.3080684c.3237053-.5476773.5035416-1.1735942.5035416-1.8777506 0-1.603912-1.0070831-2.9339854-2.3738387-3.3643032V8.8997555c0-.50855746-.3596726-.8997555-.8272469-.8997555s-.8272468.39119804-.8272468.8997555v6.1026895C15.0070831 15.393643 14 16.7628362 14 18.3667482c0 1.8777506 1.4386901 3.4034229 3.2010855 3.4034229zm-.8272468-4.8508557c.2517708-.1564792.5395088-.2738386.8272468-.2738386.2877381 0 .5754761.1173594.8272469.2738386.143869.1173594.287738.2347188.3956397.4303179.1798363.2738386.2877381.6259168.2877381.9779951 0 .1564792-.0359673.2738386-.0359673.4303178-.0719345.3129584-.2517708.5867971-.431607.8215159-.0359673.0391198-.1079018.1173594-.1798363.1564792-.1079017.0782396-.2517708.1564792-.3956398.195599-.0719345.0391198-.143869.0391198-.2158035.0391198-.0719345 0-.143869.0391199-.2517708.0391199-.4675743 0-.8991813-.2347189-1.1509521-.5867971l-.0359672-.0391198c-.0359673-.0782396-.1079018-.1564792-.143869-.2347188-.1079018-.2347189-.1798363-.5085575-.1798363-.7823961 0-.4694377.1798363-.8606357.431607-1.1735942.0719345-.1173594.1438691-.195599.2517708-.2738386z" fill="#00BFA5"/></g></svg>';


// Bim leader title icon
$bim-monogram: '<svg viewBox="0 0 18 55" xmlns="http://www.w3.org/2000/svg"><path d="M14.707137 3.92478114c-.57588187 1.16640082-1.5947498 1.78112557-2.71698113 2.2382286-.10336342.04728652-.23625923.15762173-.29532404.25219477-.41345365.97725474-.8416735 1.97027166-1.28465956 2.96328857-.13289581.36252998-.26579163.72505992-.44298605 1.11911432.50205086-.5989626.93027071-1.13487649 1.37325677-1.65502821.76784249-.8826817 1.683347-1.57621732 2.87940935-1.7653634 1.24036095-.17338391 2.4659557-.03152435 3.64725184.34676781.0295324.01576217.05906481.03152434.13289582.09457304-.31009024.47286519-.57588187.94573039-.90073831 1.37130907-.64971288.85115735-1.41755537 1.54469299-2.4216571 1.87569859-1.47662018.457103-2.93847416.5359139-4.41509434.2364326-.13289581-.0315243-.29532403-.0788108-.39868744-.094573-.7826087 2.2539908-1.41755538 4.4922194-1.86054143 6.8407832.29532403-.4728652.53158326-.9299682.8269073-1.4185956.64971288-1.08759 1.47662018-1.9702717 2.68744873-2.3800882.90073831-.36253 1.84577522-.4728652 2.82034454-.4413408.32485644.0157621.62018048.0630487 1.00410173.0788108-.17719443.4255787-.31009024.8511574-.48728466 1.2136874-.45775226 1.0245412-1.07793274 1.9545095-2.03773585 2.553472-1.10746514.72506-2.3921247 1.1033522-3.70631666 1.2136874-.42821985.0315243-.8564397.0315243-1.29942571.0472865-.4134537 2.3485638-.7087777 4.7128898-.8121411 7.0772158.073831-.0788109.1033634-.1891461.1624282-.267957.1328958-.457103.3100902-.9457304.4872846-1.4185955.5315833-1.3397848 1.3732568-2.3958504 2.70221497-2.9790508.8859721-.3940543 1.80147662-.6462491 2.74651353-.7408221.19196062-.0315244.36915505-.0315244.53158327-.0630487 0 .094573 0 .1418595-.02953241.2049082-.0295324.2364326-.05906481.4728652-.14766202.72506-.31009023 1.4343578-.8712059 2.7110938-1.99343724 3.6095377-1.21082855.9772547-2.58408532 1.5762173-4.0754717 1.8441742-.1328958.0315244-.295324.0630487-.4725185.0788109-.1033634 2.4273747.0590649 4.8389872.3691551 7.2663619.2067268-.819633.3543888-1.5604552.5020509-2.2855152.28055779-1.0718277.78260865-1.9702716 1.55045114-2.6795694 1.01886793-.8511574 2.14109926-1.4028334 3.38146021-1.7653634.10336342-.0157622.20672683-.0630487.41345365-.1260974-.0295324.6620113-.073831 1.276736-.13289581 1.8756986-.19196063 1.0560656-.50205086 2.0963691-1.18129615 2.9002399-1.13699754 1.3555469-2.5250205 2.3485638-4.17883514 2.9002399-.0590648.0315243-.147662.0630487-.221493.094573.3986875 2.2382286.90073832 4.3976464 1.5799836 6.5413019.05906481-.3782921.0295324-.7881086.05906481-1.1506386.08859721-1.2294495.28055783-2.4431369 1.04840032-3.451916.60541428-.8038708 1.37325677-1.4501199 2.18539787-1.9860338.45775226-.2679569.88597211-.5201517 1.38802297-.7723465.0295324.2206704.08859721.3782922.10336341.5674382.19196063 1.5762174.17719443 3.1051482-.62018047 4.5079816-.66447908 1.1506386-1.53568499 2.1121312-2.55455291 2.9002399-.36915505.2994813-.7678425.5359139-1.15176374.8353952.64971287 2.001796 1.47662018 3.9878298 2.40689089 5.8792906.0295324-.0945731.0295324-.1891461 0-.2837191-.04429861-.5043896-.10336341-1.0403035-.13289582-1.5762174-.0442986-.9772547.13289582-1.9072229.62018048-2.7741425.54634947-1.0245412 1.25512715-1.8284121 2.09680066-2.5692342.29532403-.2679569.60541427-.5043895.98933552-.7723465.38392124 1.1191143.63494667 2.1909421.63494667 3.3100564 0 .6462491-.08859721 1.2924982-.31009023 1.8914608-.63494668 1.639266-1.609516 3.0736238-2.92370796 4.2400246-.14766202.094573-.14766202.1891461-.07383101.3310056.8269073 1.5131687 1.68334701 2.9632886 2.67268253 4.3818842 0 .0157622-.19196063.36253-1.40278918-.4728652-.26579163-.457103-.56111566-.9142061-.8269073-1.3870713-.48728466-.9457304-1.04840032-1.9072229-1.53568498-2.8844777-.10336342-.2364326-.22149303-.2994813-.48728466-.2364326-1.5799836.3467678-3.18949957.2837192-4.72518457-.189146-1.1369976-.3310057-2.0082035-1.0718278-2.7022149-2.0490826-.3543889-.4255786-.6054143-.8669195-.9007384-1.3240225-.0295324-.0630487-.0590648-.0945731-.0885972-.1891461.0295324-.0315243.0885972-.0630487.1033635-.0630487 1.2698933-.4098165 2.5545529-.6147247 3.8982772-.4728652 1.31419199.1418596 2.34782611.8511574 3.24856442 1.8126499.20672683.2364326.41345365.4413409.67924529.6777735-.05906481-.0945731-.08859721-.1576217-.11812962-.2521948-.78260869-1.7968877-1.49138638-3.641062-2.03773585-5.5325228-.0590648-.2049082-.14766201-.2521948-.31009023-.2521948-1.59474981.0945731-3.10090241-.2521947-4.53322391-.9457304-1.1222314-.551676-1.8457753-1.4816442-2.4216571-2.5849964-.2657917-.5043895-.4725185-1.0403034-.7383101-1.639266.516817-.0315243.9893355-.0630487 1.4323215-.0788109.9302708-.0157621 1.8162429.1103353 2.7169812.3940544 1.1812961.36253 2.0082034 1.2136873 2.7169811 2.2855151.1624282.2206704.295324.4728652.4429861.6620113-.4134537-2.0648447-.8121411-4.1612138-1.2108286-6.2102963-.7087777-.2049082-1.4766202-.3782921-2.2149303-.6777734-1.1074651-.4413409-2.126333-1.0087791-2.9237079-1.9860339C.7826087 30.4840431.073831 28.6713931 0 27.5522788c.0295324 0 .0295324-.0157621.0590648-.0157621 1.5504512.094573 3.0566038.4255786 4.3560295 1.371309.8269073.5516761 1.314192 1.4028334 1.7128794 2.3012773.1033635.2206704.2067269.4255787.3248565.630487-.147662-2.0490826-.1771944-4.1139273.0147662-6.1630098-.9598031-.3152435-1.8162428-.7565843-2.6283839-1.3397847-1.1812962-.8511574-2.1558655-1.8441743-2.5840853-3.3731051-.2067269-.8038708-.3100903-1.6077417-.3100903-2.4116125v-.3467678c.7087777.2679569 1.3437244.4728652 1.9786711.7408221.8416735.3940544 1.6242822.9142061 2.2887612 1.6550282.5463495.6620113.8416735 1.4658821 1.0631666 2.2855152.1181296.3625299.1919606.7565843.295324 1.1348764.0295324-.1103352.0590648-.1733839.0590648-.2521947.1919606-1.9860339.5020509-3.9405434.9155045-5.8635285.0295324-.2364326.0295324-.3467678-.147662-.457103-1.4766202-.8038709-2.6283839-1.9229852-3.5291222-3.3731051-.6054143-1.0245413-.7235439-2.1909421-.6644791-3.3415807.0295324-.457103.073831-.88268172.1328958-1.40283344.5168171.29948129 1.0336341.56743824 1.535685.83539514.9450369.6462491 1.8162428 1.4028335 2.3625923 2.5061856.442986.8511573.5315832 1.7968877.5758819 2.7426181.0295324.2994813.0295324.5832004.0590648.8984439.0590648-.1103352.0885972-.1891461.1033634-.2521948.50205084-2.001796 1.10746511-3.9563054 1.8753076-5.8635284.05906481-.1891461.05906481-.28371913-.10336341-.40981652C8.53486464 8.82681702 7.6341263 7.56584316 6.9696473 6.13148539c-.5020509-1.18216299-.4725185-2.36432598-.2067269-3.5937755.0590648-.44134085.2067269-.86691953.3100903-1.2924982l.0295324-.03152435c.7678425.52015172 1.50615255 1.16640082 2.14109923 1.90722296.93027071 1.13487648 1.43232157 2.44313686 1.25512715 3.95630549-.0295324.59896258-.10336341 1.21368734-.14766201 1.84417427.0442986-.07881087.0442986-.11033522.073831-.15762174.41345365-.86691952.84167351-1.73383905 1.25512716-2.58499641.0295324-.11033521.0295324-.25219477.0295324-.33100564 0-.81963301.0295324-1.60774167.25102543-2.34856381.16242822-.63048693.38392125-1.21368734.8121411-1.65502819.48728466-.58320041 1.06316653-.96149257 1.69811321-1.30826038C14.82526661.33100564 15.13535685.17338391 15.46021329 0c.0295324 0 .10336341.03152435.13289582.03152435-.02953241.28371911-.10336342.5832004-.10336342.8826817-.0590648 1.05606561-.31009023 2.06484469-.78260869 3.01057509z" fill="#000" fill-rule="nonzero"/></svg>';

$direction-title-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 42"><path d="M18.7028832.00507441l12.1030893 1.1828187c.0774602.01907768.1549198.03815537.2130146.07631089L44.903652 9.56301256c.1355544.07631127.2323789.22893274.2711087.38155475l1.8203049 11.25585519c.0193633.1335444-.0193632.2670881-.0968245.3815542l-8.4624806 11.8663428c-.038732.057233-.0968245.1144666-.1742847.152622l-13.2843512 7.7073991c-.0580947.0190761-.1355544.057233-.1936491.057233l-4.8412361.6295652c-.1355544.0190761-.2711093-.0190761-.3679338-.0953889L5.05059783 31.8648685c-.07745978-.057233-.13555461-.1144661-.17428448-.1907768L.05444238 22.7075628c-.05809483-.1335444-.07745978-.2861658-.01936495-.4387878l6.0418624-15.39572117c.038732-.1144661.13555434-.20985452.23237941-.28616579L18.4124091.06230758c.0774596-.03815545.1936491-.07631089.2904741-.05723317zm-.1355549 1.1828187L7.21947143 7.33091931 10.6857966 20.837946l8.6754945 5.1128294 8.0751814-2.2702492 7.7459774-7.6120107L18.5673283 1.18789311zM6.40614377 9.00975867L1.1388792 22.4404746l4.20219276 7.7646322 4.31838246-8.9856066L6.40614377 9.00975867zM44.2065138 10.8602977l-7.5716927 5.4562282 1.4911004 15.7200423 7.7459774-10.874301-1.6653851-10.3019695zm-8.5980349 6.2765702l-7.2231239 7.1350676-2.5174426 15.2621773 11.2510318-6.5055029-1.5104653-15.891742zM10.492147 21.9826092l-4.45393698 9.2526947L19.070817 40.2399882l-.4841237-13.4688708-8.0945463-4.7885082zm16.6732162 2.8998138l-7.4748682 2.0985489.5034887 13.9076591c1.4911004-.2480104 4.4926667-.6677205 4.4926667-.6677205l2.4787128-15.3384875z" fill="#005DA3" fill-rule="nonzero"/></svg>';

$decoration-shape: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 716 308"><g fill="#005DA3" fill-rule="evenodd" opacity=".40000001"><path d="M68 68h2v2h-2zM0 102h2v2H0zM34 68h2v2h-2zM102 68h2v2h-2zM34 102h2v2h-2zM102 34h2v2h-2zM102 102h2v2h-2zM136 34h2v2h-2zM170 68h2v2h-2zM170 34h2v2h-2zM170 102h2v2h-2zM204 68h2v2h-2zM204 34h2v2h-2zM204 102h2v2h-2zM238 0h2v2h-2zM238 68h2v2h-2zM238 34h2v2h-2zM238 102h2v2h-2zM272 0h2v2h-2zM272 68h2v2h-2zM272 34h2v2h-2zM272 102h2v2h-2zM306 0h2v2h-2zM306 68h2v2h-2zM306 34h2v2h-2zM306 102h2v2h-2zM340 68h2v2h-2zM340 34h2v2h-2zM340 102h2v2h-2zM374 0h2v2h-2zM374 68h2v2h-2zM374 34h2v2h-2zM374 102h2v2h-2zM408 0h2v2h-2zM408 68h2v2h-2zM408 34h2v2h-2zM408 102h2v2h-2zM442 68h2v2h-2zM442 102h2v2h-2zM476 0h2v2h-2zM476 34h2v2h-2zM476 102h2v2h-2zM510 68h2v2h-2zM510 34h2v2h-2zM510 102h2v2h-2zM544 68h2v2h-2zM544 34h2v2h-2zM544 102h2v2h-2zM578 34h2v2h-2zM578 102h2v2h-2zM612 0h2v2h-2zM612 68h2v2h-2zM612 34h2v2h-2zM612 102h2v2h-2zM646 0h2v2h-2zM646 68h2v2h-2zM646 102h2v2h-2zM680 68h2v2h-2zM680 34h2v2h-2zM680 102h2v2h-2zM714 34h2v2h-2zM714 102h2v2h-2zM0 136h2v2H0zM68 136h2v2h-2zM34 136h2v2h-2zM102 136h2v2h-2zM34 170h2v2h-2zM102 170h2v2h-2zM136 136h2v2h-2zM136 170h2v2h-2zM170 136h2v2h-2zM170 170h2v2h-2zM204 136h2v2h-2zM204 170h2v2h-2zM238 136h2v2h-2zM238 170h2v2h-2zM272 136h2v2h-2zM272 170h2v2h-2zM306 136h2v2h-2zM306 170h2v2h-2zM340 136h2v2h-2zM374 136h2v2h-2zM374 170h2v2h-2zM408 170h2v2h-2zM442 136h2v2h-2zM442 170h2v2h-2zM476 136h2v2h-2zM476 170h2v2h-2zM510 136h2v2h-2zM544 136h2v2h-2zM544 170h2v2h-2zM578 170h2v2h-2zM612 136h2v2h-2zM612 170h2v2h-2zM646 170h2v2h-2zM680 136h2v2h-2zM680 170h2v2h-2zM714 136h2v2h-2zM0 204h2v2H0zM68 204h2v2h-2zM68 238h2v2h-2zM34 204h2v2h-2zM102 204h2v2h-2zM34 238h2v2h-2zM102 238h2v2h-2zM136 238h2v2h-2zM170 204h2v2h-2zM170 238h2v2h-2zM204 204h2v2h-2zM204 238h2v2h-2zM238 204h2v2h-2zM272 204h2v2h-2zM272 238h2v2h-2zM306 204h2v2h-2zM306 238h2v2h-2zM340 204h2v2h-2zM340 238h2v2h-2zM374 204h2v2h-2zM408 204h2v2h-2zM408 238h2v2h-2zM442 204h2v2h-2zM442 238h2v2h-2zM476 204h2v2h-2zM510 204h2v2h-2zM510 238h2v2h-2zM544 204h2v2h-2zM544 238h2v2h-2zM578 238h2v2h-2zM612 204h2v2h-2zM612 238h2v2h-2zM646 238h2v2h-2zM680 204h2v2h-2zM680 238h2v2h-2zM714 204h2v2h-2zM34 272h2v2h-2zM102 272h2v2h-2zM136 272h2v2h-2zM170 272h2v2h-2zM170 306h2v2h-2zM204 272h2v2h-2zM204 306h2v2h-2zM238 272h2v2h-2zM272 272h2v2h-2zM306 272h2v2h-2zM306 306h2v2h-2zM340 306h2v2h-2zM374 272h2v2h-2zM374 306h2v2h-2zM408 272h2v2h-2zM408 306h2v2h-2zM442 272h2v2h-2zM476 272h2v2h-2zM476 306h2v2h-2zM510 272h2v2h-2zM510 306h2v2h-2zM544 306h2v2h-2zM578 272h2v2h-2zM612 272h2v2h-2z"/></g></svg>';

// Timeline
$timeline-big-point: '<svg viewBox="0 0 43 43" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1 1)" fill="none" fill-rule="evenodd"><circle fill="#FFF" cx="20.5" cy="20.5" r="10.5"/><circle stroke="#005DA3" fill-opacity=".2357337" fill="#005DA3" opacity=".60000002" cx="20.5" cy="20.5" r="20.5"/><circle stroke="#005DA3" fill="#FFF" opacity=".60000002" cx="20.5" cy="20.5" r="8.5"/><circle fill="#005DA3" cx="20.5" cy="20.5" r="4.5"/></g></svg>';

$timeline-small-point: '<svg viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle stroke="#005DA3" stroke-width=".5" fill="#FFF" cx="8.5" cy="8.5" r="8.25"/><circle fill="#005DA3" cx="8.5" cy="8.5" r="4.5"/></g></svg>';