.promo-testimonials {
  background-color: $bg-color--default;

  &__title {

    &::before {
      @include background-svg($promo-testimonials-title-icon);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 61px;
      height: 50px;
    }
  }

  &__container {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}