mixin promo-testimonials()

  //- Usage:
    +promo-testimonials

  section.promo-testimonials.section
    h2.promo-testimonials__title.main-subtitle Отзывы наших клиентов
    .promo-testimonials__container
      +owl-carousel('promo-testimonials-slider').main-slider
        +testimonial-quote(
          'img/magi-cad.png'
        )
        +testimonial-quote(
          'img/autodesk.png'
        )
        +testimonial-quote(
          'img/autodesk.png'
        )