mixin company-structure()

  //- Usage:
    +company-structure

  section.company-structure.section
    h2.company-structure__title.
      Компания состоит из 10 производственных отделов
    .company-structure__container
      .company-structure__structure
        ul.company-structure__structure-list
          li Отдел геологии
          li Отдел открытых горных работ
          li Отдел подземных горных работ
        ul.company-structure__structure-list
          li Отдел проектирования объектов обогащения и технологии поверхности
          li Инженерно-строительный отдел
          li Проектно-конструкторский отдел
        ul.company-structure__structure-list
          li Отдел проектирования систем инженерно-технического обеспечения
          li Отдел информационного моделирования
          li Отдел экологии
          li Отдел экономических обоснований и сметной документации