.company-structure {
  background-color: $bg-color--default;

  &__title {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    position: relative;

    @media (min-width: $screen-sm) {
      font-size: 1.5rem;
    }

    &::before {
      position: absolute;
      content: '';
      left: 50%;
      top: -4rem;
      transform: translate3d(-50%,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      @include background-svg($company-structure-title-icon);
      width: 39px;
      height: 39px;
    }
  }

  &__container {
    padding: 1rem;

    @media (min-width: $screen-sm) {
      padding: 1rem 3rem;
    }
  }

  &__structure {
    width: 100%;
    max-width: $screen-md;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @media (min-width: $screen-lg) {
      justify-content: space-between;
    }
  }

  &__structure-list {
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      color: rgba($text-color, 0.7);
    }

    @media (min-width: $screen-md) {
      width: 50%;
      flex-basis: 50%;
      flex-shrink: 1;
      flex-grow: 0;
    }

    @media (min-width: $screen-lg) {
      width: 20rem;
      max-width: 20rem;
      flex-basis: 20rem;
      flex-shrink: 1;
      flex-grow: 0;
    }
  }
}