mixin directions()

  section.directions
    .directions__background
    h2.directions__title: span.
      Геологоразведка, оценка месторождения полезных ископаемых
    .directions__container
      .directions__nav
        span.directions__selection
        a(href='#development').directions__toggle.directions__toggle--is-active Разработка кондиций
        a(href='#prepare').directions__toggle Подготовка исходной информации
        a(href='#assistance').directions__toggle Гидрогеологическое сопровождение
        a(href='#simulation').directions__toggle Моделирование в объеме
        a(href='#geologic-simulation').directions__toggle Геологическое моделирование
      .directions__group
        #development.directions__content.directions__content--is-active
          p.
            Производится разработка технико-экономических обоснований кондиций на полезные ископаемые и выполняются подсчёты их запасов в соответствии с требованиями действующего законодательства для постановки запасов на государственный баланс.
          p.
            Моделируются в объёме любые месторождения твёрдых полезных ископаемых, в том числе — золота, полиметаллических и железных руд, угля, урана, нерудных материалов.
        #prepare.directions__content
          p.
            Осуществляется подготовка исходной для проектирования геологической информации и создание электронных геологических баз данных (ЭГБД):
          ul
            li сбор, анализ и оцифровка исходных материалов (результаты геологоразведочных работ и т. д.);
            li создание и подготовка ЭГБД для моделирования.

        #assistance.directions__content
          p.
            Производится гидрогеологическое сопровождение проектных работ при обработке исходных материалов и разработка разделов проектной документации, а также при обработке исходной информации и разработке материалов для дренажа подземных и открытых горных выработок.
        #simulation.directions__content
          p.
            Подготовка геологических материалов и геологическое 3D-моделирование могут быть выполнены как в соответствии с требованиями Государственной комиссии по запасам полезных ископаемых, так и — с форматами промышленно развитых государств (JORC и пр.).
        #geologic-simulation.directions__content
          p: strong.
            Выполняется геологическое моделирование для:
          ul
            li разработки ТЭО кондиций и подсчёта запасов;
            li выполнения проектной документации;
            li оценки запасов и ресурсов полезных ископаемых и использовании в проектах, выполняемых в форматах промышленно развитых государств: CPR, PFS, FS и т. д.;
            li создания планирования горных работ на этапе эксплуатации;
            li проведения аудита существующих геологических моделей месторождений полезных ископаемых.
          p.
            Подготовка геологических материалов и геологическое 3D-моделирование могут быть выполнены, как в соответствии с требованиями Государственной комиссии по запасам полезных ископаемых, так и — с форматами промышленно развитых государств.

