$selection-height: 2.5rem;

.directions {
  position: relative;
  padding: 1rem;

  @media (min-width: $screen-sm) {
    padding: 9rem 1rem 1rem;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 34rem;
    top: -7rem;
    left: 0;
    transform: skewY(-10deg);
    background-image:
      linear-gradient(
        to -25deg,
        hsla(0,0%,100%,1),
        ease-in-out,
        hsla(240,6%,97%,1)
    );
    z-index: -3;
  }

  &__title {
    font-size: 1.25rem;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    max-width: $screen-md;

    @media (min-width: $screen-lg) {
      font-size: 1.5rem;
      margin-top: 0;
    }

    span {
      position: relative;
      display: inline-block;

      @media (min-width: $screen-md) {
        transform: translate3d(2.25rem,0,0);
      }

      &::before {
        position: absolute;
        content: '';
        top: -3rem;
        left: 50%;
        width: 47px;
        height: 42px;
        transform: translate3d(-50%,-50%,0);
        @include background-svg($direction-title-icon);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @media (min-width: $screen-md) {
          top: 1rem;
          left: -3.5rem;
        }
      }
    }
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1090px;
    padding-top: 3rem;

    .js & {
      display: grid;
      align-items: flex-start;
      grid-gap: 1rem;
      grid-template: 'nav nav' 'group group' / 1fr 1fr;

      @media (min-width: $screen-sm) {
        grid-gap: 1rem;
        grid-template: 'nav group' / 0.4fr 0.6fr;
      }

      @media (min-width: $screen-md) {
        grid-gap: 4rem;
        grid-template: 'nav group' / 0.35fr 0.65fr;
      }

      @media (min-width: $screen-lg) {
        grid-gap: 8rem;
        grid-template: 'nav group' / 0.3fr 0.7fr;
      }
    }
  }

  &__nav {
    position: relative;
    grid-area: nav;

    @media (min-width: $screen-md) {
      margin-top: 3rem;
    }

    .no-js & {
      display: none;
    }
  }

  &__selection {
    position: absolute;
    width: 100%;
    border-radius: $border-radius;
    background: $bg-color--default;
    box-shadow: $box-shadow;
    will-change: transform;
    transform-origin: 50% 0;
    transition: transform .25s cubic-bezier(0.165,0.84,0.44,1) 0.05s;
    height: $selection-height;
    z-index: 1;
  }

  &__toggle {
    display: block;
    position: relative;
    color: currentColor;
    font-size: 0.875rem;
    line-height: 1.2em;
    height: $selection-height;
    padding: 0 1rem;
    z-index: 2;
    display: flex;
    align-items: center;

    &--is-active {
      color: $primary-color;
    }
  }

  &__group {
    position: relative;
    grid-area: group;

    @media (min-width: $screen-xl) {

      &::before {
        position: absolute;
        content: '';
        top: -3rem;
        left: -4rem;
        right: -4rem;
        height: 20rem;
        @include background-svg($decoration-shape);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -2;
        opacity: 0.75;
      }
    }
  }

  &__content {
    background-color: $bg-color--default;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 1rem;

    .js & {
      display: none;
    }

    @media (min-width: $screen-sm) {
      padding: 3rem;
    }

    @media (min-width: $screen-md) {
      padding: 3rem 4rem 2rem;
    }

    &--is-active {

      .js & {
        display: block;
      }
    }
  }
}