.g-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color;
  background-image: none;
  color: $white;
  margin: 0;
  padding: 1.2em 2em;
  min-width: 11rem;
  border-radius: $border-radius;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;

  &:hover,
  &:focus {}

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }

  &--submit {

    > svg {
      vertical-align: middle;
      margin-right: 1rem;
      transform: translate3d(0,-2px,0);
    }
  }
}