.promo-news {
  background-color: $bg-color--lighter;

  &__title {

    &::before {
      @include background-svg($promo-news-title-icon);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 45px;
      height: 45px;
    }
  }

  &__container {
    max-width: $screen-lg - 30px;
    margin-left: auto;
    margin-right: auto;
  }
}