mixin promo-news()

  //- Usage:
    +promo-news

  section.promo-news.section
    h2.promo-news__title.main-subtitle Новости
    .promo-news__container
      +owl-carousel('promo-news-slider').main-slider
        +news-card
        +news-card
        +news-card
        +news-card