.in-numbers {
  background-color: $bg-color--lighter;

  &__title {
    margin-bottom: 4rem;

    @media (min-width: $screen-lg) {
      margin-bottom: 3rem;
    }

    &::before {
      @include background-svg($promo-in-numbers-icon);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 41px;
      height: 41px;
    }
  }

  &__container {
    max-width: 1156px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
  }

  &__list {
    margin: 0;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  &__item {

    @media (min-width: $screen-sm) {
      width: 50%;
      flex-basis: 50%;
      margin-bottom: 2rem;
    }

    @media (min-width: $screen-lg) {
      width: 25%;
      flex-basis: 25%;
      margin-bottom: 0;
    }

    & + & {
      margin-top: 4rem;

      @media (min-width: $screen-sm) {
        margin-top: 0;
      }
    }

    &--bim {

      @media (min-width: $screen-lg) {
        width: 17%;
        flex-basis: 17%;
        text-align: left;
      }

      .in-numbers__caption {
        text-align: center;

        @media (min-width: $screen-lg) {
          text-align: left;
        }
      }
    }

    &--projects {

      @media (min-width: $screen-lg) {
        width: 33%;
        flex-basis: 33%;
      }
    }


    &--employees {

      @media (min-width: $screen-lg) {
        width: 32%;
        flex-basis: 32%;
      }
    }


    &--years {

      @media (min-width: $screen-lg) {
        width: 18%;
        flex-basis: 18%;
        text-align: right;
      }
    }
  }

  &__figure {
    color: $primary-color;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;

    > svg {
      vertical-align: middle;
      margin-bottom: 1.5rem;
      stroke: currentColor;
    }
  }

  &__caption {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.1em;

    @media (min-width: $screen-lg) {
      font-size: 0.75rem;
      text-align: right;
    }
  }
}