mixin in-numbers()

  //- Usage:
    +in-numbers

  section.in-numbers.section
    h2.in-numbers__title.main-subtitle О нас в цифрах
    .in-numbers__container
      ul.in-numbers__list
        li.in-numbers__item.in-numbers__item--bim
          figure.in-numbers__figure
            svg(width='78', height='113', viewBox='0 0 94 135' xmlns='http://www.w3.org/2000/svg')
              path(d='M3.530225 68.196909L11.568565 1h76.860981v23.663428H36.315814l-2.980508 26.102025c2.167653-1.264464 5.012655-2.37838 8.535091-3.341782 3.522436-.963401 6.969555-1.445095 10.34146-1.445095 13.066131 0 23.106429 3.868601 30.121195 11.605918 7.014766 7.737317 10.522097 18.590473 10.522097 32.559793 0 8.429762-1.881615 16.061593-5.644902 22.895721-3.763286 6.834129-9.046862 12.087598-15.850884 15.760566-6.804022 3.672967-14.842281 5.509424-24.11502 5.509424-8.249124 0-15.986325-1.70098-23.211835-5.102992-7.22551-3.402011-12.885409-8.068416-16.979864-13.999356-4.094456-5.930939-6.111548-12.629489-6.051335-20.09585h30.527628c.301063 4.817007 1.836461 8.640449 4.60624 11.470441 2.769779 2.829991 6.412586 4.244966 10.92853 4.244966 10.236139 0 15.354132-7.586672 15.354132-22.760244 0-14.029532-6.262015-21.044193-18.786233-21.044193-7.105085 0-12.403713 2.288044-15.896043 6.8642L3.530225 68.196909z', stroke-width='.5', fill='none', fill-rule='evenodd')
            figcaption.in-numbers__caption Лет подряд BIM-лидеры

        li.in-numbers__item.in-numbers__item--projects
          figure.in-numbers__figure
            svg(width='260', height='113', viewBox='0 0 307 135' xmlns='http://www.w3.org/2000/svg')
              path(d='M32.24048 55.269176h14.192104c11.246628 0 16.869859-5.50422 16.869859-16.512825 0-4.28443-1.338865-7.780353-4.016634-10.487875-2.677768-2.707522-6.456341-4.061262-11.335831-4.061262-3.9869 0-7.453071 1.160349-10.398617 3.481082-2.945545 2.320733-4.418296 5.206729-4.418296 8.658075H3.052946c0-6.843186 1.904162-12.942457 5.712545-18.297995 3.808382-5.355537 9.089458-9.535769 15.843386-12.540821C31.362805 2.502503 38.786064 1 46.878876 1c14.459952 0 25.825422 3.302532 34.096752 9.907695 8.271331 6.605163 12.406934 15.679688 12.406934 27.223847 0 5.593561-1.710771 10.874637-5.132365 15.843386-3.421593 4.968749-8.405144 9.000218-14.950801 12.094529 6.902693 2.49925 12.317655 6.292699 16.24505 11.38046 3.927394 5.087761 5.891062 11.380423 5.891062 18.878176 0 11.603665-4.462881 20.886457-13.388777 27.848656-8.925897 6.962199-20.648397 10.443246-35.167855 10.443246-8.509354 0-16.408654-1.621513-23.698135-4.864589-7.289482-3.243075-12.808578-7.735709-16.557455-13.478035C2.87441 110.535044 1 104.004361 1 96.685127h30.258636c0 3.9869 1.606637 7.438195 4.81996 10.353987 3.213322 2.915793 7.17041 4.373668 11.871382 4.373668 5.296032 0 9.520893-1.472751 12.674709-4.418297 3.153817-2.945546 4.730701-6.709242 4.730701-11.291202 0-6.545657-1.636389-11.187053-4.909218-13.924328-3.272828-2.737275-7.795215-4.105892-13.567294-4.105892H32.24048V55.269176zm168.609332 24.456833c0 17.554262-3.942211 31.091668-11.826753 40.612624-7.884541 9.520956-18.997115 14.281362-33.338055 14.281362-14.459951 0-25.646906-4.790159-33.561201-14.370621-7.914294-9.580461-11.871382-23.088115-11.871382-40.523365V55.983244c0-17.554262 3.942211-31.091668 11.826753-40.612623 7.884541-9.520956 19.026868-14.281362 33.427313-14.281362 14.400446 0 25.557649 4.790159 33.471943 14.37062 7.914294 9.580462 11.871382 23.117868 11.871382 40.612624v23.653506zm-30.080119-27.580881c0-9.342437-1.219854-16.319408-3.659599-20.931121-2.439745-4.611713-6.307575-6.917535-11.603607-6.917535-5.177019 0-8.940716 2.142183-11.291202 6.426613-2.350486 4.28443-3.614969 10.770484-3.793486 19.458356v33.204167c0 9.699474 1.219854 16.795455 3.659599 21.288156 2.439744 4.492701 6.307575 6.739018 11.603606 6.739018 5.117514 0 8.896087-2.186812 11.335832-6.560501 2.439745-4.373689 3.689351-11.23165 3.748857-20.574088V52.145128zm47.48553 17.137635l7.944007-66.408334h75.958995v23.38573h-51.502162l-2.945531 25.795711c2.142215-1.249626 4.95383-2.35047 8.43493-3.302565 3.481099-.952096 6.887765-1.428136 10.220099-1.428136 12.912797 0 22.835269 3.823201 29.767715 11.469719 6.932446 7.646517 10.398617 18.372308 10.398617 32.177694 0 8.330836-1.859534 15.873105-5.578657 22.627033-3.719124 6.753928-8.940695 11.945746-15.66487 15.575611-6.724175 3.629864-14.668103 5.444769-23.832023 5.444769-8.152318 0-15.798721-1.681018-22.939438-5.043106-7.140717-3.362087-12.734194-7.973731-16.7806-13.83507-4.046407-5.861338-6.039827-12.481278-5.980321-19.860019h30.169378c.29753 4.760478 1.814909 8.539051 4.552184 11.335831 2.737275 2.796781 6.337332 4.195151 10.80028 4.195151 10.116016 0 15.173948-7.497641 15.173948-22.493146 0-13.864892-6.188529-20.797234-18.565771-20.797234-7.021705 0-12.258152 2.261193-15.709499 6.783647l-23.921281-5.623286z', stroke-width='.5', fill='none', fill-rule='evenodd')
            figcaption.in-numbers__caption Реализованных проектов

        li.in-numbers__item.in-numbers__item--employees
          figure.in-numbers__figure
            svg(width='260', height='113', viewBox='0 0 305 135' xmlns='http://www.w3.org/2000/svg')
              path(d='M94.001156 132.321899H3.667337v-19.560472l41.61046-43.744329C55.532278 57.34003 60.659441 48.063717 60.659441 41.18788c0-5.571799-1.215108-9.809859-3.645361-12.714307-2.430252-2.904449-5.95703-4.356651-10.580437-4.356651-4.564133 0-8.268731 1.941209-11.113905 5.823686-2.845174 3.882477-4.267739 8.728091-4.267739 14.536988H1c0-7.942777 1.985664-15.277881 5.957053-22.005532 3.971389-6.727651 9.48383-11.98818 16.53749-15.781745C30.548204 2.896754 38.431588 1 47.144933 1c13.988771 0 24.761742 3.230409 32.319235 9.691325 7.557493 6.460916 11.336183 15.737229 11.336183 27.829218 0 5.097603-.948377 10.061764-2.84516 14.892632-1.896782 4.830868-4.845642 9.898758-8.846668 15.203822-4.001026 5.305064-10.447026 12.403073-19.338194 21.294242l-16.715313 19.293738h50.94614v23.116922zm42.499572-77.263866h14.136887c11.202872 0 16.804224-5.482805 16.804224-16.448579 0-4.267761-1.333655-7.750083-4.001006-10.447071-2.66735-2.696987-6.431222-4.045461-11.291727-4.045461-3.971389 0-7.424074 1.155835-10.35816 3.467538-2.934085 2.311704-4.401106 5.186472-4.401106 8.624391h-29.963087c0-6.816563 1.896754-12.892103 5.690319-18.226804 3.793565-5.334701 9.054094-9.498669 15.781745-12.492029C135.626467 2.496658 143.020845 1 151.082171 1c14.403693 0 25.724944 3.289683 33.964093 9.869147 8.239149 6.579465 12.358662 15.618684 12.358662 27.117928 0 5.571799-1.704115 10.832328-5.112396 15.781745-3.408281 4.949417-8.372442 8.965201-14.892633 12.047473 6.875837 2.489527 12.269732 6.268217 16.181846 11.336183 3.912114 5.067966 5.868142 11.336145 5.868142 18.804727 0 11.558519-4.445518 20.805195-13.336686 27.740306-8.891168 6.935112-20.568061 10.402615-35.031028 10.402615-8.476247 0-16.344813-1.615204-23.605934-4.845662-7.261121-3.230458-12.758744-7.705612-16.493035-13.425597-3.73429-5.719985-5.601408-12.225259-5.601408-19.516017h30.14091c0 3.971388 1.600386 7.409255 4.801207 10.313704 3.200821 2.904448 7.142513 4.35665 11.825195 4.35665 5.275426 0 9.483849-1.467021 12.625396-4.401106 3.141546-2.934086 4.712295-6.683139 4.712295-11.247272 0-6.52019-1.630023-11.143528-4.890118-13.870153-3.260095-2.726625-7.764886-4.089917-13.514508-4.089917h-14.581443V55.058033zM304.54297 18.871159l-48.367715 113.45074h-31.652401l48.456625-106.337841h-61.7044V2.867136h93.267891v16.004023z', stroke-width='.5', fill='none', fill-rule='evenodd')
            figcaption.in-numbers__caption Сотрудников в компании

        li.in-numbers__item.in-numbers__item--years
          figure.in-numbers__figure
            svg(width='162', height='113', viewBox='0 0 194 135' xmlns='http://www.w3.org/2000/svg')
              path(d='M61.47812 134.322669H30.96826V37.196608L1 45.952396V22.844337L58.67988 2.895583h2.79824v131.427086zm131.79532 0h-91.71011v-19.858488l42.24442-44.410801c10.41071-11.854975 15.61599-21.272619 15.61599-28.253213 0-5.656689-1.23362-9.959318-3.7009-12.908017-2.46728-2.9487-6.04779-4.423027-10.74164-4.423027-4.63367 0-8.39471 1.970784-11.28323 5.912413-2.88852 3.941629-4.33276 8.861069-4.33276 14.758468H98.85535c0-8.06379 2.01592-15.510649 6.04781-22.3408 4.0319-6.83015 9.62833-12.170827 16.78945-16.022189C128.85374 2.925652 136.85723 1 145.70333 1c14.2019 0 25.139 3.279627 32.81164 9.838978 7.67264 6.559352 11.5089 15.976995 11.5089 28.253213 0 5.175269-.96283 10.215062-2.88851 15.119531-1.92568 4.90447-4.91947 10.049572-8.98145 15.435462-4.06199 5.385889-10.6062 12.592041-19.63283 21.618672l-16.96998 19.587691h51.72234v23.469122z', stroke-width='.5', fill='none', fill-rule='evenodd')
            figcaption.in-numbers__caption Лет лидеры на рынке
