mixin ar()

  //- Usage:
    +ar

  .ar
    .ar__inner
      .ar__desc
        .ar__desc-content
          p.
            Чтобы просмотреть наши модели в режиме дополненной реальности:
          ol
            li.
              Откройте данную страницу на смартфоне с помощью браузеров Chrome, Opera на Android и Safari на устройствах IOS;
            li.
              Откройте QR-код доступной в полной версии сайта или в печатном варианте;
            li.
              Запустите режим дополненной реальности на смартфоне.
        .ar__helper-links
      .ar__slider
        +owl-carousel('ar-slider')
          div.ar__slide
            .ar__slide-inner
              .ar__project-name Михайловский ГОК
              .ar__model Модель 3980
              btn.ar__qr-code(
                type='button',
                data-toggle='modal',
                data-target='#myModal'
              ) QR Code
              a.ar__go-to-project(href='/') Посмотреть
          div.ar__slide(style='background-image: url("https://images.unsplash.com/photo-1504870712357-65ea720d6078?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d91ffea4f802668c524df165caf52704&auto=format&fit=crop&w=800&q=60");')
            .ar__slide-inner
              .ar__project-name Карьер Куркенпахк
              .ar__model Модель 7690
              btn.ar__qr-code(
                type='button',
                data-toggle='modal',
                data-target='#myModal'
              ) QR Code
              a.ar__go-to-project(href='/') Посмотреть
          div.ar__slide(style='background-image: url("https://images.unsplash.com/photo-1503293317069-f8ea8304b4f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=01398ed1d22b64d780f90d6106a93202&auto=format&fit=crop&w=800&q=60");')
            .ar__slide-inner
              .ar__project-name Конюхтинский-Западный
              .ar__model Модель 1089
              btn.ar__qr-code(
                type='button',
                data-toggle='modal',
                data-target='#myModal'
              ) QR Code
              a.ar__go-to-project(href='/') Посмотреть
          div.ar__slide(style='background-image: url("https://images.unsplash.com/photo-1497448834886-dbb127e464c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a44dcd71fdab3dd6e55f211c234ed9b&auto=format&fit=crop&w=800&q=60");')
            .ar__slide-inner
              .ar__project-name Михайловский ГОК
              .ar__model Модель 3980
              btn.ar__qr-code(
                type='button',
                data-toggle='modal',
                data-target='#myModal'
              ) QR Code
              a.ar__go-to-project(href='/') Посмотреть
          div.ar__slide(style='background-image: url("https://images.unsplash.com/photo-1504870712357-65ea720d6078?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d91ffea4f802668c524df165caf52704&auto=format&fit=crop&w=800&q=60");')
            .ar__slide-inner
              .ar__project-name Карьер Куркенпахк
              .ar__model Модель 3980
              btn.ar__qr-code(
                type='button',
                data-toggle='modal',
                data-target='#myModal'
              ) QR Code
              a.ar__go-to-project(href='/') Посмотреть

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            h3.subtitle Просмотр объекта в режиме дополненной реальности:
            p Откройте текущую страницу с мобильного телефона с помощью браузера. Рекомендуемые браузеры: Google Chrome, Safari. Нажмите на кнопку ниже «Перейти в AR» Наведите камеру смартфона на маркер модели
            img(src='img/qr-code.png', alt='qr-code')