@keyframes waveColors {
  0% { background-position: 0% 5%; }
  50% { background-position: 98% 94%; }
  100% { background-position: 0% 5%; }
}

.ar {
  position: relative;
  width: 100%;

  &__inner {
    position: relative;
    color: $text-color--lighter;
    min-height: 100vh;
    padding: 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  &__desc {
    padding: 3rem;

    @media (min-width: $screen-lg) {
      width: $screen-lg;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__desc-content {
    max-width: 34em;
  }

  &__helper-links {

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__slider {

    .owl-theme .owl-dots .owl-dot span {
      height: 2px;
      width: 2rem;
      margin: 0.5rem 0.25rem;
      border-radius: $border-radius;
      background-color: currentColor;
      opacity: 0.5;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      opacity: 1;
    }
  }

  &__slide {
    background-color: lightblue;
    position: relative;
    height: 16rem;
    margin: 1.75rem 0.5rem;
    box-shadow: 0 5px 40px 0 #24272a;
    border-radius: $border-radius;
    background-image: url(../img/ar-bg-example.jpg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }

  &__slide-inner {
    position: absolute;
    font-weight: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    padding-bottom: 5rem;
    background-image:
      linear-gradient(
        to -45deg,
        hsla(0,0%,0%,0.6),
        ease-in-out,
        hsla(0,0%,0%,0.2)
    );

    @media (min-width: $screen-sm) {
      padding: 2rem;
      padding-bottom: 5rem;
    }
  }

  &__project-name {
    font-size: 1.125rem;
  }

  &__model {
    opacity: 0.7;
  }

  &__qr-code {
    color: currentColor;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    background-color: transparent;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 1px;
      bottom: -0.25rem;
      background: linear-gradient(-25deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
      background-size: 200% 200%;
      animation: waveColors 5s ease infinite;
    }
  }

  &__go-to-project {
    position: absolute;
    min-width: 10rem;
    bottom: 1.5rem;
    left: 1.5rem;
    display: inline-block;
    background-color: rgba($white, 0.8);
    background-image: none;
    color: $text-color;
    margin: 0;
    margin-top: 2rem;
    padding: 1.275em 1.75em 1.125em;
    border-radius: $border-radius;
    font-size: $font-size--small;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;

    @media (min-width: $screen-sm) {
      bottom: 2rem;
      left: 2rem;
    }
  }

  // Changing bootstrap modal default style
  .modal-content {
    border-radius: $border-radius;
    border: 0;
    box-shadow: 0 20px 60px 0 #24272a;
    background-color: #f6f6f7;
    padding-top: 3rem;

    @media (min-width: $screen-sm) {
      padding: 2rem;
    }

    button.close {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 2rem;
      background-color: transparent;
      opacity: 0.7;
      cursor: pointer;
      padding: 0;
    }

    .subtitle {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    img {
      margin-top: 1rem;
    }
  }
}