.s-field-text {
  display: block;
  margin-bottom: 1rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
    // border-bottom: 1px solid rgba($text-color, 0.25);
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      bottom: 0;
      left: 0;
      width: 0;
      display: block;
      background-color: $text-color;
    }

    &:focus {

      &::after {
        width: 100%;
      }
    }
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-size: 1em;
    font-family: inherit;
    background-color: inherit;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba($text-color, 0.25);
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: 5rem;
      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
