mixin date(input)

  //- Param:
    date - {string} date in YYYY-MM-DD format

  //- Use:
    +date('2018-07-18')

  - var date = new Date(input)
  - var months = [ 'янаваря', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря' ]

  time(datetime=JSON.parse(JSON.stringify(date)))&attributes(attributes)=date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()