//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/promo/promo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/pagination/pagination.pug
include ../blocks/table/table.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/slick-carousel/slick-carousel.pug
include ../blocks/date/date.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/external-link/external-link.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/directions/directions.pug
include ../blocks/software-usage/software-usage.pug
include ../blocks/services/services.pug
include ../blocks/tabs/tabs.pug
include ../blocks/promo-news/promo-news.pug
include ../blocks/main-subtitle/main-subtitle.pug
include ../blocks/ar/ar.pug
include ../blocks/section/section.pug
include ../blocks/news-card/news-card.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/feedback/feedback.pug
include ../blocks/promo-testimonials/promo-testimonials.pug
include ../blocks/testimonial-quote/testimonial-quote.pug
include ../blocks/promo-team/promo-team.pug
include ../blocks/promo-team-card/promo-team-card.pug
include ../blocks/promo-software-usage/promo-software-usage.pug
include ../blocks/promo-object-map/promo-object-map.pug
include ../blocks/in-numbers/in-numbers.pug
include ../blocks/key-directions/key-directions.pug
include ../blocks/about-promo/about-promo.pug
include ../blocks/company-structure/company-structure.pug
include ../blocks/slogan/slogan.pug
include ../blocks/advantages/advantages.pug
include ../blocks/our-mission/our-mission.pug
include ../blocks/bim-leader/bim-leader.pug
include ../blocks/label/label.pug
include ../blocks/clients/clients.pug
include ../blocks/standarts/standarts.pug
include ../blocks/chronicle/chronicle.pug
include ../blocks/timeline/timeline.pug
