.promo-team {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-7deg);
    transform-origin: 0;
    background-color: $bg-color--lighter;
    z-index: -2;
  }

  &__title {

    @media (min-width: $screen-md) {
      text-align: left;
    }

    &::before {
      @include background-svg($promo-team-title-icon);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 55px;
      height: 48px;

      @media (min-width: $screen-md) {
        left: 0;
        transform: translate3d(0.125rem,0,0);
      }
    }
  }

  &__container {
    max-width: $screen-lg + 100px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__info {
    padding: 1rem;
    max-width: 40em;
    margin: 0 auto;
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      text-align: left;
      width: 50%;
      flex-basis: 50%;
      padding: 1rem 2rem;
    }

    @media (min-width: $screen-lg) {
      margin: 0 0 0 auto;
      padding-right: 4rem;
    }
  }

  &__slider {
    position: relative;

    @media (min-width: $screen-md) {
      transform: translate3d(0,0,0);
      width: 50%;
      flex-basis: 50%;
      padding: 7rem 0 1rem;
    }

    // Owl navigation styles

    .owl-nav {
      margin-top: 2rem;
      margin-bottom: 2rem;

      @media (min-width: $screen-lg) {
        position: absolute;
        top: -4rem;
        right: 2rem;
        margin-top: 0;
      }
    }
  }
}