mixin promo-team()

  section.promo-team.section
    .promo-team__stripe
    .promo-team__container
      .promo-team__info
        h2.promo-team__title.main-subtitle Наша команда
        p.
          СПб-Гипрошахт – это команда профессионалов, реализовавших ряд знаковых проектов в России и за рубежом. Используя идеи и знания, собранные по всему миру, обширные деловые связи и собственные достижения, ориентируясь на мнения клиентов и опыт партнеров, мы всегда находим наиболее эффективные решения для самых сложных задач.
      .promo-team__slider
        +owl-carousel('promo-team-slider').main-slider
          div
            +promo-team-card(
              'img/mikhelson.jpg',
              'Ирина Михельсон',
              'Директор по персоналу'
            )
          div
            +promo-team-card(
              'img/beznosenko.jpg',
              'Николай Безносенко',
              'Директор по производству'
            )
          div
            +promo-team-card(
              'img/timokhin.jpg',
              'Вадим Тимохин',
              'Технический директор'
            )
          div
            +promo-team-card(
              'img/markin.jpg',
              'Кирилл Маркин',
              'Коммерческий директор'
            )
          div
            +promo-team-card(
              'img/semenyuk.jpg',
              'Андрей Семенюк',
              'Генеральный директор'
            )