.main-subtitle {
  font-size: 1.5rem;
  line-height: 1.2em;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  position: relative;
  letter-spacing: 0.025em;

  @media (min-width: $screen-sm) {
    font-size: 2.25rem;
  }

  &::before {
    position: absolute;
    content: '';
    left: 50%;
    top: -4rem;
    transform: translate3d(-50%,0,0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}