mixin our-mission()

  //- Usage:
    +our-mission

  section.our-mission.section
    .our-mission__container
      h2.our-mission__title
        | Наша миссия – быть лидерами в созидании. Мы понимаем лидерство в созидании в широком смысле
      +owl-carousel('our-mission-slider').main-slider
        p.our-mission__content.
          В первую очередь это означает, что мы должны созидать стоимость нашей компании опережающими темпами по сравнению с нашими конкурентами. При этом стоимость должна формироваться по всей цепи вертикальной интеграции, начиная от добычи и обогащения природного сырья, заканчивая высокими переделами производства.
        p.our-mission__content.
          Лидерство в созидании – это производство продукции, которая пользуется большим спросом у людей во всем мире в строительстве, энергетике, транспорте, производстве промышленного оборудования и товаров массового потребления.
        p.our-mission__content.
          Лидерство в созидании – это когда каждый из нас ежедневно и ежечасно, выполняя свою работу, предпринимает дополнительные усилия для достижения большего результата, чтобы превзойти ожидания наших клиентов.
        p.our-mission__content.
          Лидерство в созидании – это использование нами знаний и опыта для неуклонного развития и устойчивого роста нашей компании с учетом интересов всех стейкхолдеров, включая акционеров, клиентов, сотрудников, партнеров, местные сообщества и общество в целом.