.our-mission {
  background-color: $bg-color--lighter;
  padding: 3rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 3rem 2rem;
  }

  @media (min-width: $screen-lg) {
    padding: 5rem 1rem;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    max-width: 22em;

    @media (min-width: $screen-sm) {
      padding-left: 1rem;
    }

    @media (min-width: $screen-md) {
      font-size: 1.5rem;
      line-height: 2rem;
      max-width: 28em;
    }

    @media (min-width: $screen-lg) {
      padding-left: 2rem;
    }
  }

  &__container {
    max-width: $screen-sm;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    position: relative;
    padding-left: 1rem;
    max-width: 40em;

    @media (min-width: $screen-lg) {
      padding-left: 2rem;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: $primary-color;
      width: 1px;
      height: 100%;
      left: 0;
      top: 0;

      @media (min-width: $screen-lg) {
        width: 2px;
      }
    }
  }
}