mixin key-directions()

  section.key-directions.section
    .key-directions__header
      h2.key-directions__title Ключевые направления
      p.key-directions__desc.
        Мы помогаем нашим клиентам раскрыть уникальный потенциал минерально-сырьевой базы и повысить эффективность работы предприятий горной промышленности
    .key-directions__container
      +owl-carousel('key-directions-slider').key-directions__slider.main-slider

        figure.key-directions__figure
          a(href='/')
            .key-directions__logo
              img(src='img/exploration.svg', alt='')
          figcaption.key-directions__caption Геологоразведка, оценка месторождений полезных ископаемых

        figure.key-directions__figure
          a(href='/')
            .key-directions__logo
              img(src='img/open-mining.svg', alt='')
          figcaption.key-directions__caption Открытые горные работы

        figure.key-directions__figure
          a(href='/')
            .key-directions__logo
              img(src='img/mining.svg', alt='')
          figcaption.key-directions__caption Подземные горные работы

        figure.key-directions__figure
          a(href='/')
            .key-directions__logo
              img(src='img/extraction-of-raw-materials.svg', alt='')
          figcaption.key-directions__caption Обогащение добываемого сырья

        figure.key-directions__figure
          a(href='/')
            .key-directions__logo
              img(src='img/infrastructures.svg', alt='')
          figcaption.key-directions__caption Инфраструктурные объекты промышленных предприятий

        figure.key-directions__figure
          a(href='/')
            .key-directions__logo
              img(src='img/linguistics.svg', alt='')
          figcaption.key-directions__caption Торгово-логистические комплексы