.key-directions {
  padding: 3rem 0;

  @media (min-width: $screen-lg) {
    padding: 5rem 1rem;
  }

  &__header {
    padding: 1rem;
  }

  &__title,
  &__desc {
    max-width: 560px;

    @media (min-width: $screen-sm) {
      text-align: center;
    }
  }

  &__title {
    font-size: 1.25rem;
    margin: auto;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      font-size: 1.5rem;
    }
  }

  &__desc {
    margin: 0 auto 4rem auto;
  }

  &__container {
    max-width: 1017px;
    margin-left: auto;
    margin-right: auto;
  }

  &__figure {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__logo {
    margin-bottom: 1.5rem;
    height: 290px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1rem;
  }

  &__caption {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
  }

  &__slider {

    // Owl navigation styles
    .owl-nav {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate3d(0,-50%,0);
      margin: 0;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
    }

    .owl-prev {
      left: 0.5rem;

      @media (min-width: $screen-lg) {
        left: -3.5rem;
      }
    }

    .owl-next {
      right: 0.5rem;

      @media (min-width: $screen-lg) {
        right: -3.5rem;
      }
    }
  }
}