mixin services()

  section.services
    h2.services__title.
      По данному направлению компания осуществляет следующие услуги:
    +tabs([
      {
        'id': 'expert-support',
        'text': 'Сопровождение экспертизы',
        'isActive': true,
      },
      {
        'id': 'pre-design-work',
        'text': 'Предпроектные работы',
      },
      {
        'id': 'spooling',
        'text': 'КМД, Спулинг',
      },
      {
        'id': 'project-documentation',
        'text': 'Проектная документация',
      },
      {
        'id': 'working-documentation',
        'text': 'Рабочая документация',
      }])
      +tabs-item('expert-support', true)
        .services__inner
          .services__info
            .services__info-header
              h3.services__subtitle Сопровождение экспертизы
              p.
                Заказчикам гарантируется прохождение проектами, выполненными ООО «СПб-Гипрошахт», государственных и негосударственных экспертиз в России и странах ближнего зарубежья.
            ul.services__mark-list
              li.services__mark-list-item.
                Федерального автономного учреждения «Главное управление государственной экспертизы» (Главгосэкспертиза)
              li.services__mark-list-item.
                Российской Федерации, экспертиз Федерального бюджетного учреждения — Государственной комиссии по запасам полезных ископаемых (ФБУ «ГКЗ» Роснедр)
              li.services__mark-list-item.
                Экспертиз Центральной комиссии Федерального агентства по недропользованию и комиссий его территориальных органов по разработке месторождений твёрдых полезных ископаемых (ЦКР-ТПИ Роснедр)
              li.services__mark-list-item.
                Экспертиз промышленной безопасности и экологических экспертиз
            +btn('Все услуги')(href='/')
          .services__cover
            svg(height='300', width='300', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 128 128')
              path(d='M73 76c-.1.4.2.8.6.9h.1c.4 0 .7-.3.7-.6 1.3-8 8.8-13.5 16.8-12.2.4.1.8-.2.9-.6.1-.4-.2-.8-.6-.9C82.7 61.1 74.4 67.2 73 76z')
              path(d='M126.3 114.7l-.7-.8-14.2-16.8c-1.1-1.3-2.7-1.7-4.2-1.4l-3.3-3.9c4.1-4.7 5.8-11 4.5-17.2l13.9-13.9c.5-.5.8-1.2.8-1.9s-.3-1.3-.8-1.9c-1-1-2.7-1-3.7 0l-12.2 12.2c-.7-1.2-1.4-2.3-2.3-3.3-1-1.1-2-2.1-3.1-2.9-1.1-.8-2.2-1.5-3.3-2V41.7v-.1-17.1c0-3.4-2.8-6.1-6.1-6.1H21.1c-3.4 0-6.1 2.8-6.1 6.1v92.7c0 3.4 2.8 6.1 6.1 6.1H79.4c.1 0 .2-.1.3-.2l17.6-17.6c.2-.2.3-.5.2-.8v-.1c.1-.1.1-.2.1-.3v-7.8c.6-.3 1.3-.6 1.9-1l3.3 4c-.2.4-.3.9-.4 1.3-.1 1.1.3 2.2 1 3.1l14.9 17.7c1 1.2 2.5 1.9 4 1.9 1.2 0 2.4-.4 3.4-1.2 1.1-.9 1.7-2.2 1.8-3.6.1-1.6-.3-2.9-1.2-4zm-6.8-56.6c.4-.4 1.2-.4 1.6 0 .2.2.3.5.3.8 0 .3-.1.6-.3.8l-30 29.9-11-11c-.4-.4-.4-1.2 0-1.6.2-.2.5-.3.8-.3.3 0 .6.1.8.3l8.9 8.9c.3.3.8.3 1.1 0l27.8-27.8zm-16.7 8.8c.9 1.1 1.7 2.2 2.3 3.4l-14 14-8.4-8.3c-1-1-2.7-1-3.7 0-.5.5-.8 1.2-.8 1.9s.3 1.4.8 1.9l11.5 11.5c.1.1.3.2.5.2s.4-.1.5-.2L107 75.9c1 6.2-1.3 12.5-6.1 16.6-.3.3-.6.5-1 .8-7.6 5.7-18.4 4.5-24.6-2.6-3.2-3.7-4.7-8.4-4.4-13.2.3-4.8 2.6-9.2 6.2-12.4 6.4-5.5 16-5.9 22.8-.8 1 .7 2 1.6 2.9 2.6zm-81.7-47h70.3c2.6 0 4.6 2.1 4.6 4.6v16.3H16.5V24.5c0-2.5 2-4.6 4.6-4.6zm58.7 100.9v-15.1h15.1l-15.1 15.1zM96 104.2H79.1c-.4 0-.8.3-.8.8v16.9H21.1c-2.6 0-4.6-2.1-4.6-4.6V42.4H96v18c-6.6-2.5-14.3-1.3-19.8 3.5-4 3.4-6.4 8.2-6.7 13.4-.4 5.2 1.3 10.3 4.7 14.3 3.9 4.5 9.4 6.8 14.9 6.8 2.3 0 4.7-.4 6.9-1.3v7.1zm7.6-6.1l-2.9-3.4 2.1-1.8 2.9 3.4-.5.4-1.3 1.1-.3.3zm1.2.9l1.6-1.3c.5-.4 1.1-.6 1.7-.6.8 0 1.5.3 2.1 1l13.7 16.3-5.7 4.8-13.8-16.3c-.9-1.2-.7-2.9.4-3.9zm19.9 21.9c-.8.6-1.7.9-2.7.9-1-.1-1.9-.5-2.5-1.3l-.2-.3 5.7-4.8.2.3c.6.8.9 1.7.9 2.7-.2 1-.7 1.9-1.4 2.5z')
              path(d='M105.1 31.7c0-.4-.3-.8-.8-.8s-.8.3-.8.8V41c0 .4.3.8.8.8s.8-.3.8-.8v-9.3zM104.3 43.2c-.4 0-.8.3-.8.8v3c0 .4.3.8.8.8s.8-.3.8-.8v-3c0-.4-.4-.8-.8-.8zM62.1 7.4c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1.1l-1.4-1.4c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.5 1.4zM66.6 11.9c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1.1l-1.4-1.4c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.5 1.4zM61.2 12.1c.2 0 .4-.1.5-.2l1.4-1.4c.3-.3.3-.8 0-1.1-.3-.3-.8-.3-1.1 0l-1.4 1.4c-.3.3-.3.8 0 1.1.2.2.4.2.6.2zM65.8 7.6c.2 0 .4-.1.5-.2L67.7 6c.3-.3.3-.8 0-1.1-.3-.3-.8-.3-1.1 0l-1.4 1.4c-.3.3-.3.8 0 1.1.2.1.4.2.6.2zM117.8 85l-1.4-1.4c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.4 1.4c.1.1.3.2.5.2s.4-.1.5-.2c.4-.3.4-.8.1-1.1zM120.9 88.1c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.4 1.4c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1.1l-1.3-1.4zM116.7 88.1l-1.4 1.4c-.3.3-.3.8 0 1.1.1.1.3.2.5.2s.4-.1.5-.2l1.4-1.4c.3-.3.3-.8 0-1.1-.2-.3-.7-.3-1 0zM122.4 83.6c-.3-.3-.8-.3-1.1 0l-1.4 1.4c-.3.3-.3.8 0 1.1.1.1.3.2.5.2s.4-.1.5-.2l1.4-1.4c.4-.4.4-.8.1-1.1zM113.6 30c0 2.5 2 4.6 4.6 4.6 2.5 0 4.6-2 4.6-4.6 0-2.5-2-4.6-4.6-4.6-2.6.1-4.6 2.1-4.6 4.6zm4.5-3c1.7 0 3.1 1.4 3.1 3.1 0 1.7-1.4 3.1-3.1 3.1-1.7 0-3.1-1.4-3.1-3.1.1-1.8 1.5-3.1 3.1-3.1zM9.3 8.3C7.5 8.3 6 9.8 6 11.6s1.5 3.3 3.3 3.3 3.3-1.5 3.3-3.3-1.4-3.3-3.3-3.3zm0 5c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8 1.8.8 1.8 1.8-.8 1.8-1.8 1.8zM98.8 9.2h11.1c.4 0 .8-.3.8-.8s-.3-.8-.8-.8H98.8c-.5.1-.8.4-.8.8s.3.8.8.8zM113.5 9.2h3.6c.4 0 .8-.3.8-.8s-.3-.8-.8-.8h-3.6c-.4 0-.8.3-.8.8s.4.8.8.8zM117.9 12.2c0-.4-.3-.8-.8-.8h-7.8c-.4 0-.8.3-.8.8s.3.8.8.8h7.8c.5 0 .8-.4.8-.8zM106.8 12.2c0-.4-.3-.8-.8-.8h-2.5c-.4 0-.8.3-.8.8s.3.8.8.8h2.5c.5 0 .8-.4.8-.8zM110.3 120.3H99.2c-.4 0-.8.3-.8.8s.3.8.8.8h11.1c.4 0 .8-.3.8-.8s-.3-.8-.8-.8zM95.6 120.3H92c-.4 0-.8.3-.8.8s.3.8.8.8h3.6c.4 0 .8-.3.8-.8s-.4-.8-.8-.8zM92 118h7.8c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H92c-.4 0-.8.3-.8.8s.3.8.8.8zM105.6 118c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H103c-.4 0-.8.3-.8.8 0 .4.3.8.8.8h2.6zM10 35.9l-4-9.1c-.2-.5-1.1-.5-1.4 0l-4 9.1c-.1.1-.1.3 0 .5V118.8c0 2.5 2 4.5 4.5 4.5h.6c2.5 0 4.5-2 4.5-4.5V36.5v-.1c-.1-.2-.1-.4-.2-.5zm-1.4 74H2V37.2h6.6v72.7zM2 111.4h6.6v3.1H2v-3.1zM5.3 29l3 6.7h-6l3-6.7zm.3 92.8H5c-1.7 0-3-1.4-3-3V116h6.6v2.8c0 1.7-1.4 3-3 3z')
              path(d='M5.3 83c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c0 .5.4.8.8.8zM5.3 52.9c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c0 .5.4.8.8.8zM5.3 63c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c0 .4.4.8.8.8zM5.3 73c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c0 .5.4.8.8.8zM5.3 93.1c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c0 .4.4.8.8.8zM5.3 103.1c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c0 .5.4.8.8.8zM34.5 52.3h53.4c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H34.5c-.4 0-.8.3-.8.8s.4.8.8.8zM28.2 48.2c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4zm0 5.3c-1.1 0-1.9-.9-1.9-1.9 0-1.1.9-1.9 1.9-1.9 1.1 0 1.9.9 1.9 1.9 0 1-.9 1.9-1.9 1.9zM34.5 65.7h35.7c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H34.5c-.4 0-.8.3-.8.8 0 .4.4.8.8.8zM28.2 61.5c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4zm0 5.3c-1.1 0-1.9-.9-1.9-1.9 0-1.1.9-1.9 1.9-1.9 1.1 0 1.9.9 1.9 1.9 0 1.1-.9 1.9-1.9 1.9zM34.5 79h31.6c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H34.5c-.4 0-.8.3-.8.8 0 .4.4.8.8.8zM28.2 74.8c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4zm0 5.3c-1.1 0-1.9-.9-1.9-1.9 0-1.1.9-1.9 1.9-1.9 1.1 0 1.9.9 1.9 1.9 0 1.1-.9 1.9-1.9 1.9zM34.5 92.3h35.7c.4 0 .8-.3.8-.8s-.3-.8-.8-.8H34.5c-.4 0-.8.3-.8.8s.4.8.8.8zM28.2 88.1c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4c0-1.8-1.5-3.4-3.4-3.4zm0 5.4c-1.1 0-1.9-.9-1.9-1.9 0-1.1.9-1.9 1.9-1.9 1.1 0 1.9.9 1.9 1.9 0 1-.9 1.9-1.9 1.9zM74.4 104.1H34.5c-.4 0-.8.3-.8.8 0 .4.3.8.8.8h39.9c.4 0 .8-.3.8-.8-.1-.4-.4-.8-.8-.8zM28.2 101.5c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4zm0 5.3c-1.1 0-1.9-.9-1.9-1.9 0-1.1.9-1.9 1.9-1.9 1.1 0 1.9.9 1.9 1.9 0 1-.9 1.9-1.9 1.9zM51.3 27.9h36.6c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H51.3c-.4 0-.8.3-.8.8.1.5.4.8.8.8zM51.3 34.3h36.6c.4 0 .8-.3.8-.8s-.3-.8-.8-.8H51.3c-.4 0-.8.3-.8.8s.4.8.8.8zM26.4 32l-1.5 4.8c-.1.3 0 .7.3.8.1.1.3.1.4.1.2 0 .3 0 .4-.1l4-2.9 4 2.9c.3.2.6.2.9 0 .3-.2.4-.5.3-.8L33.7 32l4-2.9c.3-.2.4-.5.3-.8-.1-.3-.4-.5-.7-.5h-5L30.8 23c-.1-.3-.4-.5-.7-.5-.3 0-.6.2-.7.5l-1.5 4.8h-5c-.3 0-.6.2-.7.5-.1.3 0 .7.3.8l3.9 2.9zm1.9-2.8c.3 0 .6-.2.7-.5l1-3.1 1 3.1c.1.3.4.5.7.5H35l-2.6 1.9c-.3.2-.4.5-.3.8l1 3.1-2.6-1.9c-.1-.1-.3-.1-.4-.1s-.3 0-.4.1L27 35l1-3.1c.1-.3 0-.7-.3-.8l-2.6-1.9h3.2z')

      +tabs-item('pre-design-work')
        .services__inner
          .services__info
            h3.services__subtitle Предпроектные работы
            p.
              Предпроектная документация — совокупность документов, на основе которых осуществляется предварительное изучение целесообразности инвестиционного проекта, включающая в себя обоснование для строительства, расширения, реконструкции, технического перевооружения промышленных предприятий. На основании предпроектных работ составляется качественная проектная документация, производится получение разрешительных актов на реализацию проектов, апробирование и оценка их технических и экономических характеристик. Предпроектная документация разрабатывается на новое строительство, расширение, реконструкцию и техническое перевооружение объектов. Этапы разработки предпроектной документации — инвестиционная идея, декларация о намерениях, обоснование инвестиций.
            p.
              ООО «СПб-Гипрошахт» выполняет все виды предпроектных работ, относящиеся к обоснованию перспективных проектов в области освоения месторождений минерального сырья. В геологической части предпроектных исследований выполняются и экспертируются проекты геологоразведочных работ, выполняется аудит геологических материалов, производится обоснование временных и постоянных разведочных кондиций на полезные ископаемые, подсчёт запасов и ресурсов полезных ископаемых по месторождениям и геологическим районам.
          .services__cover
            svg(height='300', width='300', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 128 128')
              path(d='M11.5 34.6c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v11c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-11zM10.7 48.5c-.4 0-.7.3-.7.7v3.6c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-3.6c.1-.4-.3-.7-.7-.7zM121.9 53.6c-.4 0-.7.3-.7.7v11c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-11c0-.3-.3-.7-.7-.7zM121.9 68.2c-.4 0-.7.3-.7.7v3.6c0 .4.3.7.7.7.4 0 .7-.3.7-.7V69c0-.4-.3-.8-.7-.8zM14 7.5c0 .4.3.7.7.7h13.2c.4 0 .7-.3.7-.7s-.3-.7-.7-.7H14.7c-.4 0-.7.3-.7.7zM11.1 7.5c0-.4-.3-.7-.7-.7H6.1c-.4 0-.7.3-.7.7s.3.7.7.7h4.3c.4 0 .7-.3.7-.7zM6.1 3.7h9.2c.4 0 .7-.3.7-.7s-.3-.7-.7-.7H6.1c-.4-.1-.7.3-.7.7s.3.7.7.7zM19.3 3.7h3c.4 0 .7-.3.7-.7s-.3-.7-.7-.7h-3c-.4 0-.7.3-.7.7s.3.7.7.7zM111.5 122.2c0-.4-.3-.7-.7-.7H97.6c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h13.2c.4.1.7-.3.7-.7zM119.4 121.5h-4.3c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h4.3c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7zM119.4 126h-9.2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h9.2c.4 0 .7-.3.7-.7 0-.3-.3-.7-.7-.7zM106.3 126h-3c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h3c.4 0 .7-.3.7-.7 0-.3-.3-.7-.7-.7zM111.7 5c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.5-1.5c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.5 1.5zM116.6 9.9c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.5-1.5c-.3-.3-.8-.3-1 0s-.3.8 0 1l1.5 1.5zM110.7 10.2c.2 0 .4-.1.5-.2l1.5-1.5c.3-.3.3-.8 0-1-.3-.3-.8-.3-1 0L110.2 9c-.3.3-.3.8 0 1 .1.1.3.2.5.2zM115.6 5.2c.2 0 .4-.1.5-.2l1.5-1.5c.3-.3.3-.8 0-1-.3-.3-.8-.3-1 0L115.1 4c-.3.3-.3.8 0 1 .1.2.3.2.5.2zM8 117.5c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.5 1.5c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1L8 117.5zM12.9 122.4c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.5 1.5c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.5-1.5zM8.5 122.4L7 123.9c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.5-1.5c.3-.3.3-.8 0-1-.2-.3-.7-.3-1 0zM13.4 117.5l-1.5 1.5c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.5-1.5c.3-.3.3-.8 0-1-.2-.3-.7-.3-1 0zM111.5 38.3c2 0 3.7-1.7 3.7-3.7s-1.7-3.7-3.7-3.7-3.7 1.7-3.7 3.7 1.6 3.7 3.7 3.7zm0-5.9c1.2 0 2.2 1 2.2 2.2 0 1.2-1 2.2-2.2 2.2-1.2 0-2.2-1-2.2-2.2-.1-1.2.9-2.2 2.2-2.2zM11.2 76c-2 0-3.7 1.7-3.7 3.7s1.7 3.7 3.7 3.7 3.7-1.7 3.7-3.7c0-2.1-1.7-3.7-3.7-3.7zm0 5.9c-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2s2.2 1 2.2 2.2c0 1.2-1 2.2-2.2 2.2zM104 115.1v-7.8h8.9c1.5 0 2.8-1.2 2.8-2.8v-13c0-1.5-1.2-2.8-2.8-2.8H104V19c0-2-1.6-3.6-3.6-3.6h-18v-4.2c0-1.6-1.3-3-3-3h-8.6c-.4-4.3-4-7.8-8.5-7.8s-8.1 3.4-8.5 7.8h-8.6c-1.6 0-3 1.3-3 3v4.2h-18c-2 0-3.6 1.6-3.6 3.6v96.1c0 2 1.6 3.6 3.6 3.6h76.1c2.1.1 3.7-1.6 3.7-3.6zm10.3-23.6v13c0 .7-.6 1.3-1.3 1.3H91.7c-.2 0-.3.1-.5.2l-3.4 2.6v-2c0-.4-.3-.7-.7-.7h-2.2c-.7 0-1.3-.6-1.3-1.3v-13c0-.7.6-1.3 1.3-1.3h28c.8 0 1.4.5 1.4 1.2zm-69-81.8h9.3c.4 0 .7-.3.7-.7 0-3.9 3.1-7 7-7s7 3.1 7 7c0 .4.3.7.7.7h9.3c.8 0 1.5.7 1.5 1.5V21c0 .8-.7 1.5-1.5 1.5h-34c-.8 0-1.5-.7-1.5-1.5v-4.8-.1V11.2c0-.8.6-1.5 1.5-1.5zM22.1 115.1V19c0-1.2 1-2.2 2.2-2.2h18V21c0 1.6 1.3 3 3 3h34.2c1.6 0 3-1.3 3-3v-4.2h18c1.2 0 2.2 1 2.2 2.2v69.8H84.9c-1.5 0-2.8 1.2-2.8 2.8v13c0 1.5 1.2 2.8 2.8 2.8h1.4v2.8c0 .3.2.5.4.7.1.1.2.1.3.1.2 0 .3-.1.5-.2l4.3-3.4h10.7v7.8c0 1.2-1 2.2-2.2 2.2h-76c-1.2-.1-2.2-1.1-2.2-2.3z')
              path(d='M62.4 13.7c2.5 0 4.6-2.1 4.6-4.6 0-2.5-2.1-4.6-4.6-4.6-2.5 0-4.6 2.1-4.6 4.6-.1 2.6 2 4.6 4.6 4.6zm0-7.7c1.7 0 3.1 1.4 3.1 3.1s-1.4 3.1-3.1 3.1c-1.7 0-3.1-1.4-3.1-3.1S60.6 6 62.4 6zM94 69.8c2 0 3.5-1.6 3.5-3.5s-1.6-3.5-3.5-3.5c-2 0-3.5 1.6-3.5 3.5 0 .7.2 1.4.6 1.9L79.5 79.7 74.8 75c.4-.6.6-1.2.6-1.9 0-2-1.6-3.5-3.5-3.5-2 0-3.5 1.6-3.5 3.5 0 .7.2 1.4.6 1.9L54 90l-5.5-5.5c.4-.6.6-1.2.6-1.9 0-2-1.6-3.5-3.5-3.5-2 0-3.5 1.6-3.5 3.5 0 .7.2 1.3.5 1.9L32.7 94c-.6-.4-1.2-.6-1.9-.6-2 0-3.5 1.6-3.5 3.5 0 2 1.6 3.5 3.5 3.5 2 0 3.5-1.6 3.5-3.5 0-.7-.2-1.3-.6-1.9l9.7-9.7c.6.4 1.3.6 2 .6s1.4-.2 2-.6l6.1 6.1c.1.1.3.2.5.2s.4-.1.5-.2L69.9 76c.6.4 1.2.6 1.9.6s1.4-.2 1.9-.6l5.2 5.3c.1.1.3.2.5.2s.4-.1.5-.2l12-12c.7.3 1.4.5 2.1.5zM30.7 99.1c-1.1 0-2.1-.9-2.1-2.1s.9-2.1 2.1-2.1c.6 0 1.1.2 1.5.6.4.4.6.9.6 1.5 0 1.2-.9 2.1-2.1 2.1zm13.2-15.2c-.4-.4-.6-.9-.6-1.4 0-1.1.9-2.1 2.1-2.1 1.1 0 2.1.9 2.1 2.1 0 .5-.2 1.1-.6 1.5-.9.7-2.3.7-3-.1zm26.5-9.4c-.4-.4-.6-.9-.6-1.5 0-1.1.9-2.1 2.1-2.1 1.1 0 2.1.9 2.1 2.1 0 .5-.2 1.1-.6 1.5-.9.8-2.2.8-3 0zM94 64.2c1.1 0 2.1.9 2.1 2.1 0 1.1-.9 2.1-2.1 2.1-.6 0-1.1-.2-1.5-.6-.4-.4-.6-.9-.6-1.5 0-1.2.9-2.1 2.1-2.1zM29.7 54.8c.3.9.6 1.7 1 2.6.1.3.3.5.4.8 1.3 2.5 3 4.6 5.3 6.3.1.1.2.1.3.2l.1.1c.7.5 1.4.9 2.2 1.4 1.9 1 4 1.7 6.1 2.1l.8.1c.7.1 1.4.1 2.1.1 3 0 6-.7 8.7-2.1l.1-.1c3.4-1.8 6.2-4.5 8-7.9.1-.2.1-.4.1-.6-.1-.2-.2-.3-.4-.4l-15.7-8.5 2-17.8c0-.4-.2-.8-.7-.8-2.6-.3-5-.1-7.6.7-2.8.8-5.3 2.2-7.4 4.2-1.9 1.7-3.4 3.7-4.4 6-2 4.2-2.3 9-1 13.6zm25.8 10.4c0 .1 0 .1 0 0-3 1.4-6.2 1.9-9.4 1.6l-.8-.1c-2-.3-3.9-.9-5.7-1.9-.7-.4-1.4-.8-2.1-1.3l-.1-.1c-.1 0-.1-.1-.2-.2-2.1-1.6-3.7-3.5-4.9-5.8-.1-.2-.2-.5-.4-.7-.3-.6-.5-1.1-.7-1.7l16.6-5L63 58.2c-1.6 3.1-4.3 5.5-7.5 7zM32 41.8c1-2.1 2.4-4 4.1-5.6 2-1.8 4.3-3.1 6.8-3.9 1.7-.5 3.3-.8 5-.8h1.3l-1.9 17-16.4 4.9c-1-3.7-.6-7.9 1.1-11.6z')
              path(d='M51.1 48.1l16 9c.1.1.2.1.4.1.3 0 .5-.1.6-.4 2.5-4.5 3.1-9.6 1.7-14.5-1.4-4.9-4.6-9-9-11.5-2.3-1.3-4.6-2-7.3-2.3-.4 0-.8.2-.8.7l-2 18.3c0 .1.2.4.4.6zm3-18.1c2.1.3 4 1 6 2.1 4.1 2.3 7.1 6.1 8.3 10.6 1.2 4.3.8 8.8-1.3 12.8L52.3 47l1.8-17zM88.9 96.6H109c.4 0 .7-.3.7-.7s-.3-.7-.7-.7H88.9c-.4 0-.7.3-.7.7s.3.7.7.7zM105.5 99.8H92.4c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h13.1c.4 0 .7-.3.7-.7.1-.4-.3-.7-.7-.7z')

      +tabs-item('spooling')
        .services__inner
          .services__info
            h3.services__subtitle КМД, Спулинг
            p.
              Информационное 3D, 4D, 5D моделирование делаем по всем проектам.
          .services__cover
            svg(height='300', width='300', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 128 128')
              path(d='M65.9 26.1c.4 0 .7-.3.7-.7v-1.9c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v1.9c0 .4.3.7.7.7zM65.9 33.6c.4 0 .7-.3.7-.7V31c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v1.9c0 .4.3.7.7.7zM65.9 82.9c-.4 0-.7.3-.7.7v1.9c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-1.9c.1-.4-.3-.7-.7-.7zM65.9 48.6c.4 0 .7-.3.7-.7V46c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v1.9c0 .4.3.7.7.7zM66.7 68.6c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v1.9c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-1.9zM65.9 90.4c-.4 0-.7.3-.7.7V93c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-1.9c.1-.4-.3-.7-.7-.7zM98 57.5h-2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h2c.4 0 .7-.3.7-.7.1-.4-.3-.7-.7-.7zM89.9 57.5h-2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h2c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7zM79.8 59h2c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-2c-.4 0-.7.3-.7.7 0 .3.3.7.7.7zM52.2 57.5h-2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h2c.4 0 .7-.3.7-.7.1-.4-.2-.7-.7-.7zM34 59h2c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-2c-.4 0-.7.3-.7.7 0 .3.3.7.7.7zM27.8 59c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-2c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h2zM125 72.9c-.4 0-.7.3-.7.7V85c0 .4.3.7.7.7.4 0 .7-.3.7-.7V73.6c.1-.4-.3-.7-.7-.7zM125 88c-.4 0-.7.3-.7.7v3.7c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-3.7c.1-.3-.3-.7-.7-.7zM10.4 45c-.4 0-.7.3-.7.7v11.4c0 .4.3.7.7.7.4 0 .7-.3.7-.7V45.7c0-.4-.3-.7-.7-.7zM10.4 60.2c-.4 0-.7.3-.7.7v3.7c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-3.7c0-.4-.3-.7-.7-.7zM119.9 19.8c-.3-.3-.8-.3-1 0s-.3.8 0 1l1.7 1.7c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.7-1.7zM125.6 25.5c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.7 1.7c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.7-1.7zM120.6 25.5l-1.7 1.7c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.7-1.7c.3-.3.3-.8 0-1s-.7-.3-1 0zM125 22.8c.2 0 .4-.1.5-.2l1.7-1.7c.3-.3.3-.8 0-1-.3-.3-.8-.3-1 0l-1.7 1.7c-.3.3-.3.8 0 1 .2.2.3.2.5.2zM62.8 114.6c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.7 1.7c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.7-1.7zM68.4 120.2c-.3-.3-.8-.3-1 0s-.3.8 0 1l1.7 1.7c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.7-1.7zM63.5 120.2l-1.7 1.7c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.7-1.7c.3-.3.3-.8 0-1s-.8-.3-1 0zM69.1 114.6l-1.7 1.7c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.7-1.7c.3-.3.3-.8 0-1-.3-.3-.7-.3-1 0zM1.8 78.8c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.7 1.7c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.7-1.7zM7.4 84.5c-.3-.3-.8-.3-1 0s-.3.8 0 1l1.7 1.7c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.7-1.7zM2.5 84.5L.8 86.2c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.7-1.7c.3-.3.3-.8 0-1s-.8-.3-1 0zM8.1 78.8l-1.7 1.7c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.7-1.7c.3-.3.3-.8 0-1-.3-.3-.7-.3-1 0zM14.8 115.1c-2 0-3.6 1.6-3.6 3.6s1.6 3.6 3.6 3.6 3.6-1.6 3.6-3.6c0-1.9-1.6-3.6-3.6-3.6zm0 5.8c-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2 1.2 0 2.2 1 2.2 2.2 0 1.3-1 2.2-2.2 2.2zM83.2 12.1c2 0 3.6-1.6 3.6-3.6s-1.6-3.6-3.6-3.6-3.6 1.6-3.6 3.6 1.6 3.6 3.6 3.6zm0-5.8c1.2 0 2.2 1 2.2 2.2 0 1.2-1 2.2-2.2 2.2-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2zM11.2 13.1c0 .4.3.7.7.7h13.7c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H11.9c-.4 0-.7.3-.7.7zM3 13.9h4.4c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H3c-.4 0-.7.3-.7.7-.1.4.3.7.7.7zM3 9.2h9.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H3c-.4-.1-.8.2-.8.6 0 .5.4.8.8.8zM16.6 9.2h3.1c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-3.1c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zM110 114.1c0-.4-.3-.7-.7-.7H95.5c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h13.7c.4 0 .8-.3.8-.7zM113.7 114.8h4.4c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-4.4c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zM118.2 118h-9.6c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h9.6c.4 0 .7-.3.7-.7 0-.3-.3-.7-.7-.7zM104.5 118h-3.1c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h3.1c.4 0 .7-.3.7-.7 0-.3-.3-.7-.7-.7z')
              path(d='M103.8 82.8c.8.6 1.8.9 2.9.9h.1c2.7-.1 4.9-2.3 4.9-5 0-1.3-.5-2.6-1.5-3.5-.8-.8-1.7-1.2-2.8-1.4V21.7c2.4-.4 4.2-2.4 4.2-4.9 0-1.4-.5-2.6-1.5-3.5-.9-.9-2.2-1.5-3.5-1.5-2.6 0-4.6 1.9-4.9 4.4H66.2c-.1 0-.2-.1-.3-.1-.1 0-.2 0-.3.1H49.4c-.1-1.1-.6-2.2-1.4-2.9-.9-.9-2.2-1.5-3.5-1.5-2.7 0-4.9 2.1-5 4.9v.1c0 1.1.4 2.2 1.1 3.1L26.8 33.5c-.8-.6-1.9-1-2.9-1-2.7 0-4.9 2.2-5 4.9v.1c0 2.5 1.8 4.5 4.2 4.9v52.2c-2.3.4-4.1 2.4-4.2 4.8v.1c0 2.7 2.2 5 5 5h.1c2.5-.1 4.4-1.9 4.8-4.2H81.1c.4 2.4 2.4 4.2 4.9 4.2h.1c2.7-.1 4.9-2.3 4.9-5 0-1.1-.4-2.1-1-2.9l13.8-13.8zM81 98.9H66.6v-.2c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v.2H28.8c-.1-.8-.4-1.6-.9-2.2L41.7 83c.8.5 1.8.9 2.8.9h.1c2.4-.1 4.3-1.8 4.7-4.1h36v14.9c-2.2.2-4 1.9-4.3 4.2zM24.6 42.4c2.1-.3 3.8-2 4.2-4.2h15v19.3h-1.6c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h1.6v14.9c-2.4.3-4.2 2.4-4.3 4.8v.1c0 1.2.4 2.2 1.1 3.1L26.9 95.6c-.7-.5-1.4-.8-2.2-.9V42.4zm19.2-20.7v15.1h-15c-.1-.8-.4-1.6-.9-2.2l13.8-13.7c.6.4 1.3.7 2.1.8zm5.6-4h15.8v.2c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-.2h35.1c.1.8.5 1.5.9 2.1L88.9 33.5c-.9-.6-1.9-1-3-1-2.5 0-4.5 1.9-4.9 4.2H45.2v-15c2.1-.4 3.8-2 4.2-4zM106 57.5h-1.8c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h1.8v14.9c-2.2.3-4 2.1-4.2 4.4H86.9V42.4C89.2 42 91 40 91 37.5c0-1.1-.4-2.1-1-3l13.8-13.8c.6.5 1.4.8 2.2.9v35.9zM65.9 75.4c-.4 0-.7.3-.7.7V78c0 .1 0 .2.1.3H49.5c-.1-1.1-.6-2.2-1.4-3-.8-.8-1.7-1.2-2.8-1.4V38.3h20c0 .1-.1.2-.1.3v1.9c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-1.9c0-.1 0-.2-.1-.3H81c.3 2.2 2.1 3.9 4.3 4.2v35.8H66.5c0-.1.1-.2.1-.3v-1.9c.1-.4-.3-.7-.7-.7zM41 78.8c0-2 1.6-3.5 3.5-3.5.9 0 1.8.4 2.4 1 .6.6 1 1.5 1 2.5v.2c-.1 1.8-1.6 3.2-3.4 3.3h-.1c-1.9 0-3.4-1.6-3.4-3.5zM88.4 35c.7.7 1 1.5 1 2.5 0 1.9-1.5 3.4-3.3 3.5h-.2c-1.9 0-3.5-1.6-3.5-3.5v-.1c0-1.9 1.6-3.4 3.5-3.4 1 0 1.8.4 2.5 1zm-1.6 44.7h15c.2.8.5 1.5.9 2.1L88.9 95.6c-.6-.5-1.3-.8-2.1-.9v-15zm23.4-.9c0 1.9-1.5 3.5-3.4 3.5h-.1c-1.9 0-3.4-1.4-3.5-3.3V78.7c0-1.8 1.5-3.3 3.3-3.4h.4c.9 0 1.7.4 2.3 1 .6.6 1 1.5 1 2.5zm-7-62.1c0-1.9 1.6-3.4 3.5-3.4.9 0 1.8.4 2.5 1s1 1.5 1 2.5c0 1.9-1.5 3.5-3.4 3.5h-.1c-.9 0-1.8-.4-2.4-1-.7-.7-1-1.5-1.1-2.4v-.2zm-62.2 0c0-1.9 1.6-3.4 3.5-3.4.9 0 1.8.4 2.5 1s1 1.5 1 2.5v.1h-.1c0 1.9-1.5 3.4-3.4 3.4h-.1c-.8 0-1.5-.3-2.2-.8 0-.1-.1-.2-.1-.2-.1-.1-.2-.1-.3-.2-.6-.6-.9-1.5-.9-2.3v-.1zM20.4 37.5c0-2 1.6-3.5 3.5-3.5.9 0 1.8.3 2.4 1v.1s.1 0 .1.1c.6.6.9 1.4 1 2.3v.1c0 1.9-1.5 3.5-3.4 3.5h-.1c-1.9-.1-3.5-1.6-3.5-3.6zm3.6 65.6h-.1c-1.9 0-3.5-1.6-3.5-3.5v-.1c0-1.9 1.6-3.4 3.5-3.4.9 0 1.8.4 2.5 1 .6.6 1 1.5 1 2.5v.1c0 1.8-1.5 3.3-3.4 3.4zm62 0h-.1c-1.9 0-3.5-1.5-3.5-3.4v-.2c0-1.9 1.6-3.4 3.5-3.4h.1c.9 0 1.7.4 2.3 1 .6.6 1 1.5 1 2.5.1 1.8-1.4 3.4-3.3 3.5z')
              path(d='M71.6 64.7c.4 0 .7-.3.7-.7v-5h1.2c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-1.2v-5c0-.4-.3-.7-.7-.7H60.2c-.4 0-.7.3-.7.7v5h-1c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h1v5c0 .4.3.7.7.7h11.4zM60.9 59h1.9c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-1.9v-4.3h4.3v2.2c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-2.2h4.3v4.3H69c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h1.9v4.3h-4.3v-2.2c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.2h-4.3V59z')

      +tabs-item('project-documentation')
        .services__inner
          .services__info
            h3.services__subtitle Проектная документация
            p.
              Проектная документация — документация, содержащая текстовые и графические материалы и определяющая архитектурные, функционально-технологические, конструктивные и инженерно-технические решения для обеспечения строительства и реконструкции объектов капитального строительства. Виды работ по подготовке проектной документации, которые оказывают влияние на безопасность объектов капитального строительства, выполняются юридическими лицами, имеющими выданные саморегулируемой организацией свидетельства о допуске к таким видам работ.
            p.
              ООО «СПб-Гипрошахт» выполняет все виды проектной документации, относящиеся к подземным и открытым горным работам, обогатительным и перерабатывающим минеральное сырьё производствам, в том числе — выщелачиванию полезных компонентов, строительству и оборудованию железных и автомобильных дорог, линий электропередач, связи; объектам ремонтно-строительного хозяйства, строительству и реконструкции промышленных зданий и сооружений с соответствующими предварительными обследованиями их состояния.
          .services__cover
            svg(height='300', width='300', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 128 128')
              path(d='M32.3 47.1h9.8c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-9.8c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zM32.3 52.3h22.4c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H32.3c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zM32.3 57.5h11.8c.4 0 .7-.3.7-.7s-.3-.8-.7-.8H32.3c-.4 0-.7.3-.7.7s.3.8.7.8zM32.3 35.7h11.8c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H32.3c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zM32.3 62.7h23.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H32.3c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zM32.3 68h19.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H32.3c-.4 0-.7.3-.7.7 0 .3.3.7.7.7zM82.2 60.4c.4 0 .7-.3.7-.7v-2.9c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.4.3.7.7.7zM82.2 68.2c.4 0 .7-.3.7-.7v-2.9c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.3.3.7.7.7zM82.2 52.7c.4 0 .7-.3.7-.7v-3c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.5.3.8.7.8zM82.2 44.9c.4 0 .7-.3.7-.7v-2.9c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.4.3.7.7.7zM76.6 60.4c.4 0 .7-.3.7-.7v-2.9c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.4.3.7.7.7zM76.6 68.2c.4 0 .7-.3.7-.7v-2.9c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.3.3.7.7.7zM76.6 52.7c.4 0 .7-.3.7-.7v-3c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.5.3.8.7.8zM76.6 44.9c.4 0 .7-.3.7-.7v-2.9c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v2.9c-.1.4.3.7.7.7z')
              path(d='M29.6 27.8c-1.9 0-3.4 1.5-3.4 3.4v8H20c-3 0-5.4 2.4-5.4 5.4v52c0 .4.3.7.7.7H112c.4 0 .7-.3.7-.7v-52c0-3-2.4-5.4-5.4-5.4h-6.2v-7.3c0-1.6-1.3-2.9-2.9-2.9H72.6s-1.5.1-2.4-1.1c-.4-.5-.8-1-1.2-1.4-.6-.7-1.2-1.4-1.6-2-.6-.9-1.7-1.4-2.8-1.4H39.9c-1.9 0-3.4 1.5-3.4 3.4v1.3h-6.9zm-2 3.4c0-1.1.9-2 2-2h24.7c.6 0 1.2.3 1.6.8.4.6 1 1.3 1.7 2.1.4.5.8 1 1.2 1.4 1.4 1.8 3.6 1.6 3.6 1.6h13.5v1.3c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-1.3h4.1v1.3c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-1.3h5c.8 0 1.5.7 1.5 1.5v34.9c0 .8-.7 1.5-1.5 1.5h-5v-.7c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v.7h-4.1v-.7c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v.7H29.1c-.8 0-1.5-.7-1.5-1.5V31.2zm79.8 9.5c2.2 0 3.9 1.8 3.9 3.9v51.2H16V44.6c0-2.2 1.8-3.9 3.9-3.9h6.2v30.9c0 1.6 1.3 2.9 2.9 2.9h58.8c1.6 0 2.9-1.3 2.9-2.9v-1.8h7.4c1.6 0 2.9-1.3 2.9-2.9V40.7h6.4zM38 26.4c0-1.1.9-2 2-2h24.7c.6 0 1.2.3 1.6.8.4.6 1 1.3 1.7 2.1.4.5.8 1 1.2 1.4 1.4 1.8 3.6 1.6 3.6 1.6h25.5c.8 0 1.5.7 1.5 1.5v34.9c0 .8-.7 1.5-1.5 1.5h-7.4V36.6c0-1.6-1.3-2.9-2.9-2.9H62.4s-1.5.1-2.4-1.1c-.4-.5-.8-1-1.2-1.4-.6-.7-1.2-1.4-1.6-2-.6-.9-1.7-1.4-2.8-1.4H38v-1.4zM120.4 41.5l-1.6-1.6c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.6 1.6c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.7 0-1zM125.7 46.8l-1.6-1.6c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.6 1.6c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1zM120.4 45.1c-.3-.3-.8-.3-1 0l-1.6 1.6c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.6-1.6c.3-.2.3-.7 0-1zM123 42.5c.1.1.3.2.5.2s.4-.1.5-.2l1.6-1.6c.3-.3.3-.8 0-1-.3-.3-.8-.3-1 0l-1.6 1.6c-.3.3-.3.7 0 1zM1.8 115.9c-.3-.3-.8-.3-1 0s-.3.8 0 1l1.6 1.6c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1l-1.6-1.6zM7 121.2c-.3-.3-.8-.3-1 0-.3.3-.3.8 0 1l1.6 1.6c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1L7 121.2zM2.3 121.2l-1.6 1.6c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.6-1.6c.3-.3.3-.8 0-1-.2-.3-.7-.3-1 0zM7.6 115.9L6 117.6c-.3.3-.3.8 0 1 .1.1.3.2.5.2s.4-.1.5-.2l1.6-1.6c.3-.3.3-.8 0-1-.2-.4-.7-.4-1-.1zM2.9 41.7c.4 0 .7-.3.7-.7V29c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v12c-.1.4.3.7.7.7zM2.9 51.6c.4 0 .7-.3.7-.7v-4.3c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v4.3c-.1.4.3.7.7.7zM119.8 62c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v12c0 .4.3.7.7.7.4 0 .7-.3.7-.7V62zM119.1 78.8c-.4 0-.7.3-.7.7v4.3c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-4.3c0-.3-.3-.7-.7-.7zM85 17.8c1.9 0 3.5-1.6 3.5-3.5s-1.6-3.5-3.5-3.5-3.5 1.6-3.5 3.5 1.5 3.5 3.5 3.5zm0-5.5c1.1 0 2.1.9 2.1 2.1 0 1.1-.9 2.1-2.1 2.1-1.1 0-2.1-.9-2.1-2.1 0-1.2.9-2.1 2.1-2.1zM68.8 113.6c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.5-3.5-3.5-3.5zm0 5.6c-1.1 0-2.1-.9-2.1-2.1 0-1.1.9-2.1 2.1-2.1 1.1 0 2.1.9 2.1 2.1 0 1.1-.9 2.1-2.1 2.1zM9.8 80c0-1.9-1.6-3.5-3.5-3.5S2.8 78.1 2.8 80s1.6 3.5 3.5 3.5c2 0 3.5-1.6 3.5-3.5zm-5.5 0c0-1.1.9-2.1 2.1-2.1 1.1 0 2.1.9 2.1 2.1 0 1.1-.9 2.1-2.1 2.1-1.2-.1-2.1-1-2.1-2.1zM19.2 12.5c0 .4.3.7.7.7h15.7c.4 0 .7-.3.7-.7s-.3-.7-.7-.7H19.9c-.4 0-.7.3-.7.7zM9.7 13.3h5.1c.4 0 .7-.3.7-.7s-.3-.7-.7-.7H9.7c-.4 0-.7.3-.7.7s.3.7.7.7zM9.7 7.9h10.9c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H9.7c-.4-.1-.7.3-.7.7 0 .4.3.7.7.7zM25.3 7.9h3.5c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-3.5c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zM117.3 117.1c0-.4-.3-.7-.7-.7H101c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h15.6c.4 0 .7-.3.7-.7zM121 117.1c0 .4.3.7.7.7h5.1c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-5.1c-.4 0-.7.3-.7.7zM126.8 121.7h-10.9c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h10.9c.4 0 .7-.3.7-.7 0-.3-.3-.7-.7-.7zM111.2 121.7h-3.5c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h3.5c.4 0 .7-.3.7-.7 0-.3-.3-.7-.7-.7zM121.7 104.3l1.1-1.9c.2-.4.3-.9 0-1.3-.2-.4-.7-.7-1.1-.7H5.6c-.5 0-.9.3-1.1.7-.2.4-.2.9 0 1.3l1.1 1.9c2 3.3 5.5 5.3 9.4 5.3h97.4c3.7 0 7.3-2 9.3-5.3zm-114.8-.7l-1-1.6h115.5l-1 1.6c-1.7 2.8-4.8 4.6-8.1 4.6H15c-3.3-.1-6.4-1.8-8.1-4.6zM111.4 20.3c.1.2.4.3.6.3.2 0 .5-.1.6-.3l3.9-5.3c.2-.3.2-.8-.2-1-.3-.2-.8-.2-1 .2l-2.5 3.5v-13c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v13l-2.5-3.5c-.2-.3-.7-.4-1-.2-.3.2-.4.7-.2 1l3.7 5.3z')
              path(d='M101.9 24.7H122c.4 0 .7-.3.7-.7v-3.7c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v3h-18.7v-3c0-.4-.3-.7-.7-.7s-.7.3-.7.7V24c0 .4.3.7.7.7z')

      +tabs-item('working-documentation')
        .services__inner
          .services__info
            h3.services__subtitle Рабочая документация
            p.
              Рабочая документация — совокупность текстовых и графических документов, обеспечивающих реализацию принятых в утверждённой проектной документации технических решений объекта капитального строительства, необходимых для производства строительных и монтажных работ, обеспечения строительства оборудованием, изделиями и материалами и/или изготовление строительных изделий.
            p.
              В состав рабочей документации входят основные комплекты рабочих чертежей, спецификации оборудования, изделий и материалов, сметы, другие прилагаемые документы, разработанные в дополнение к рабочим чертежам основного комплекта.
            p.
              ООО «СПб-Гипрошахт» выполняет все виды рабочей документации, относящиеся к подземным и открытым горным работам, капитальному строительству промышленных и гражданских объектов, структурам обогатительного и металлургического производства, спецификации технологических машин и оборудования, в том числе — прямые экономические и сметные расчёты выбранных вариантов.
          .services__cover
            svg(height='300', width='300', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 128 128')
              path(d='M117.2 82.6c.4 0 .8-.3.8-.8V71.7c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v10.2c.1.4.4.7.8.7zM116.5 88.6c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-3.3c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v3.3zM14.1 84.5c-.4 0-.8.3-.8.8v10.2c0 .4.3.8.8.8.4 0 .8-.3.8-.8V85.2c0-.4-.4-.7-.8-.7zM14.1 98.1c-.4 0-.8.3-.8.8v3.3c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-3.3c0-.5-.4-.8-.8-.8zM36.5 27.2l-1.4-1.4c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.4 1.4c.1.1.3.2.5.2s.4-.1.5-.2c.4-.4.4-.8.1-1.1zM39.6 30.3c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.4 1.4c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1.1l-1.3-1.4zM35.4 30.3L34 31.7c-.3.3-.3.8 0 1.1.1.1.3.2.5.2s.4-.1.5-.2l1.4-1.4c.3-.3.3-.8 0-1.1-.2-.3-.7-.3-1 0zM38.6 28.2c.1.1.3.2.5.2s.4-.1.5-.2l1.4-1.4c.3-.3.3-.8 0-1.1-.3-.3-.8-.3-1.1 0l-1.4 1.4c-.2.4-.2.8.1 1.1zM109.4 51.1c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.4 1.4c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1.1l-1.3-1.4zM114.8 58.3c.2 0 .4-.1.5-.2.3-.3.3-.8 0-1.1l-1.4-1.4c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.4 1.4c.3.1.5.2.6.2zM109.8 55.6l-1.4 1.4c-.3.3-.3.8 0 1.1.1.1.3.2.5.2s.4-.1.5-.2l1.4-1.4c.3-.3.3-.8 0-1.1-.3-.3-.7-.3-1 0zM113.4 53.8c.2 0 .4-.1.5-.2l1.4-1.4c.3-.3.3-.8 0-1.1-.3-.3-.8-.3-1.1 0l-1.4 1.4c-.3.3-.3.8 0 1.1.3.1.4.2.6.2zM11.5 61.3l-1.4-1.4c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l1.4 1.4c.1.1.3.2.5.2s.4-.1.5-.2c.4-.3.4-.8.1-1.1zM14.7 64.5c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1L15 67c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8 0-1.1l-1.3-1.4zM10.5 64.5l-1.4 1.4c-.3.3-.3.8 0 1.1.1.1.3.2.5.2s.4-.1.5-.2l1.4-1.4c.3-.3.3-.8 0-1.1-.3-.3-.7-.3-1 0zM15 59.9l-1.4 1.4c-.3.3-.3.8 0 1.1.1.1.3.2.5.2s.4-.1.5-.2L16 61c.3-.3.3-.8 0-1.1-.2-.3-.7-.3-1 0zM36 7.6c1.7 0 3.1-1.4 3.1-3.1S37.7 1.3 36 1.3c-1.7 0-3.1 1.4-3.1 3.1s1.3 3.2 3.1 3.2zm0-4.8c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6-.9 0-1.6-.7-1.6-1.6-.1-.9.7-1.6 1.6-1.6zM117.2 106.6c-1.7 0-3.1 1.4-3.1 3.1s1.4 3.1 3.1 3.1c1.7 0 3.1-1.4 3.1-3.1s-1.3-3.1-3.1-3.1zm0 4.8c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6.9 0 1.6.7 1.6 1.6.1.9-.7 1.6-1.6 1.6zM117.2 26.1c-1.7 0-3.1 1.4-3.1 3.1 0 1.7 1.4 3.1 3.1 3.1 1.7 0 3.1-1.4 3.1-3.1.1-1.7-1.3-3.1-3.1-3.1zm0 4.8c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6.9 0 1.6.7 1.6 1.6.1.9-.7 1.6-1.6 1.6zM10.4 109.1c-2.3 0-4.2 1.9-4.2 4.2 0 2.3 1.9 4.2 4.2 4.2 2.3 0 4.2-1.9 4.2-4.2-.1-2.3-1.9-4.2-4.2-4.2zm0 6.9c-1.5 0-2.7-1.2-2.7-2.7 0-1.5 1.2-2.7 2.7-2.7 1.5 0 2.7 1.2 2.7 2.7-.1 1.5-1.3 2.7-2.7 2.7zM97.8 41.9h11.1c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H97.8c-.4 0-.8.3-.8.8.1.5.4.8.8.8zM90.6 40.4c-.4 0-.8.3-.8.8 0 .4.3.8.8.8h3.6c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8h-3.6zM99.1 37.4c0-.4-.3-.8-.8-.8h-7.7c-.4 0-.8.3-.8.8 0 .4.3.8.8.8h7.7c.4-.1.8-.4.8-.8zM104.1 38.1c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8h-2.5c-.4 0-.8.3-.8.8 0 .4.3.8.8.8h2.5zM16.2 16.1c0 .4.3.8.8.8h11c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H16.9c-.4 0-.7.4-.7.8zM9.7 16.8h3.6c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H9.7c-.4 0-.8.3-.8.8.1.5.4.8.8.8zM9.7 13h7.7c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8H9.7c-.4 0-.8.3-.8.8.1.5.4.8.8.8zM20.7 13h2.5c.4 0 .8-.3.8-.8 0-.4-.3-.8-.8-.8h-2.5c-.4 0-.8.3-.8.8.1.5.4.8.8.8zM12.8 52.4h17.7c2.6 0 4.6-2.1 4.6-4.6 0-2.6-2.1-4.6-4.6-4.6h-1.2v-.3c0-2.3-1.9-4.2-4.2-4.2-1.1 0-2.1.4-2.9 1.2-.3-1-.8-1.7-1.2-2.2-1-1.2-2.6-1.8-4.3-1.8-3.1 0-5.7 2.6-5.7 5.7 0 .7.1 1.3.3 1.9-1.8.6-3.1 2.4-3.1 4.4 0 2.4 2 4.5 4.6 4.5zm-.3-7.8c.3 0 .5-.2.6-.4.1-.2.1-.5 0-.7-.4-.6-.6-1.3-.6-2.1 0-2.3 1.9-4.2 4.2-4.2 1.3 0 2.4.5 3.2 1.3.8.9 1.2 2.1 1.1 3.6v.6c0 .4.3.7.7.8.4 0 .7-.3.8-.7v-.5c.2-1.3 1.3-2.2 2.6-2.2 1.5 0 2.7 1.2 2.7 2.7 0 .3 0 .6-.1.8-.1.2 0 .5.1.7.1.2.4.3.6.3h2.2c1.7 0 3.1 1.4 3.1 3.1 0 1.7-1.4 3.1-3.1 3.1H12.8c-1.7 0-3.1-1.4-3.1-3.1 0-1.6 1.2-2.9 2.8-3.1z')
              path(d='M14.6 42.3h.1c.4-.1.7-.5.6-.9-.1-.4.1-.7.3-.9.3-.3.8-.5 1.3-.4.4 0 .8-.3.8-.7 0-.4-.3-.8-.7-.8-1-.1-1.9.2-2.5.9-.6.6-.8 1.4-.6 2.2 0 .4.3.6.7.6zM94 21.6h22.2c3.1 0 5.6-2.5 5.6-5.6 0-2.5-1.7-4.7-4-5.4.3-.8.5-1.7.5-2.5 0-3.8-3.1-7-7-7-2.1 0-4 .8-5.2 2.2-.6.7-1.2 1.6-1.6 3-.9-1-2.3-1.6-3.7-1.6-2.8 0-5.1 2.3-5.1 5.1v.6H94c-3.1 0-5.6 2.5-5.6 5.6 0 3.1 2.5 5.6 5.6 5.6zm0-9.7h2.7c.2 0 .5-.1.6-.3.1-.2.2-.4.1-.7-.1-.4-.2-.7-.2-1.1 0-2 1.6-3.6 3.5-3.6 1.8 0 3.2 1.3 3.5 3 0 .2 0 .4.1.7 0 .4.4.7.8.7s.7-.4.7-.8c0-.3 0-.5-.1-.8-.1-1.9.4-3.6 1.4-4.7 1-1.1 2.5-1.7 4.1-1.7 3 0 5.5 2.4 5.5 5.5 0 1-.3 1.9-.7 2.7-.1.2-.1.5 0 .7.1.2.3.4.6.4 2.1.2 3.7 2 3.7 4.1 0 2.3-1.8 4.1-4.1 4.1H94c-2.3 0-4.1-1.8-4.1-4.1 0-2.2 1.9-4.1 4.1-4.1z')
              path(d='M111 5.9c1.5 0 2.7 1.2 2.7 2.7 0 .4.3.8.8.8.4 0 .8-.3.8-.8 0-2.3-1.9-4.2-4.2-4.2-.4 0-.8.3-.8.8-.1.4.3.7.7.7zM54.4 70.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.4-.8-.8-.8zM54.4 79.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.4-.8-.8-.8zM54.4 52.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.4-.8-.8-.8zM54.4 88.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.4-.8-.8-.8zM54.4 61.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.4-.8-.8-.8zM54.4 97.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.4-.8-.8-.8zM54.4 43.7c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.4-.8-.8-.8zM54.4 116c-.4 0-.8.3-.8.8v3.4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-3.4c0-.4-.4-.8-.8-.8zM54.4 107c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.4-.8-.8-.8zM61.5 43.7c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM61.5 61.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM61.5 70.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM61.5 52.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM61.5 116c-.4 0-.8.3-.8.8v3.4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-3.4c0-.4-.3-.8-.8-.8zM61.5 79.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM61.5 107c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM61.5 88.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM61.5 97.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM68.6 61.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM68.6 79.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM68.6 70.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM68.6 88.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM68.6 52.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM68.6 43.7c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM68.6 97.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM68.6 116c-.4 0-.8.3-.8.8v3.4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-3.4c0-.4-.3-.8-.8-.8zM68.6 107c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM75.8 88.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.5-.4-.8-.8-.8zM75.8 79.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.5-.4-.8-.8-.8zM75.8 97.9c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.4-.4-.8-.8-.8zM75.8 52.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.5-.4-.8-.8-.8zM75.8 107c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.5-.4-.8-.8-.8zM75.8 43.7c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.4-.4-.8-.8-.8zM75.8 61.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.5-.4-.8-.8-.8zM75.8 116c-.4 0-.8.3-.8.8v3.4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-3.4c-.1-.4-.4-.8-.8-.8zM75.8 70.8c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c-.1-.4-.4-.8-.8-.8zM92.6 72.4c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM92.6 108.5c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM92.6 117.6c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM92.6 99.5c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM92.6 90.4c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM92.6 81.4c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM99.7 99.5c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM99.7 90.4c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM99.7 117.6c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM99.7 81.4c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM99.7 72.4c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.5-.3-.8-.8-.8zM99.7 108.5c-.4 0-.8.3-.8.8v4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8zM30.4 123.1c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.4.4.8.8.8zM30.4 114c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8zM30.4 77.9c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8zM30.4 86.9c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8zM30.4 105c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8zM30.4 96c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.4.4.8.8.8zM37.5 123.1c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.4.4.8.8.8zM37.5 105c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8zM37.5 114c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8zM37.5 96c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.4.4.8.8.8zM37.5 86.9c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8zM37.5 77.9c.4 0 .8-.3.8-.8v-4c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v4c.1.5.4.8.8.8z')
              path(d='M105.1 67.3H84.5V40.2c0-2.5-2-4.5-4.5-4.5h-3.5V11.6c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v24.1h-5.6v-9.9c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v9.9h-5.6V7.1c0-.2-.1-.4-.3-.6L54.7.6c-.2-.2-.5-.2-.8-.1-.3.1-.4.4-.4.7v34.4H50c-2.5 0-4.5 2-4.5 4.5v27.1H25.1c-2.3 0-4.3 1.9-4.3 4.3v55.2c0 .4.3.8.8.8h87.1c.4 0 .8-.3.8-.8V71.6c-.1-2.4-2-4.3-4.4-4.3zM45.7 126H22.3V71.6c0-1.5 1.2-2.8 2.8-2.8h20.6V126zM55.2 2.9l5.6 4.6v28.2h-5.6V2.9zM83 68.1V126H47.2V40.2c0-1.7 1.4-3 3-3H80c1.7 0 3 1.4 3 3v27.9zm24.9 57.9H84.5V68.8h20.6c1.5 0 2.8 1.2 2.8 2.8V126z')