$services-mark-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23"><g fill-rule="nonzero" fill="none"><circle stroke="#005DA3" cx="11.5" cy="11.5" r="11"/><path d="M17.0509 6.2808l-7.304 7.474-1.981-2.242c-.867-.748-2.229.124-1.61 1.246l2.353 3.986c.371.498 1.238.996 2.104 0 .372-.499 7.428-9.343 7.428-9.343.867-.996-.247-1.868-.99-1.121" fill="#005DA3"/></g></svg>';

.services {
  @extend .directions;

  @media (min-width: $screen-md) {
    padding: 3rem 0;
  }

  &__title {
    font-size: 1.25rem;
    margin: auto;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    max-width: $screen-md;

    @media (min-width: $screen-sm) {
      padding-bottom: 4rem;
    }

    @media (min-width: $screen-lg) {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    font-size: 1.125rem;
    margin-bottom: 1rem;

    @media (min-width: $screen-lg) {
      font-size: 1.5rem;
    }
  }

  &__container {
    max-width: 1056px;
    margin-left: auto;
    margin-right: auto;
  }

  &__inner {
    max-width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: flex-start;
    grid-gap: 1rem;
    grid-template: 'service-info service-info' 'service-cover service-cover' / 1fr 1fr;

    @media (min-width: $screen-sm) {
      grid-gap: 1rem;
      grid-template: 'service-info service-cover' / 0.6fr 0.4fr;
    }
  }

  &__info {
    grid-area: service-info;

    @media (min-width: $screen-sm) {
      padding: 0 1rem;
    }
  }

  &__info-header {
    margin-bottom: 2rem;
  }

  &__cover {
    grid-area: service-cover;
    text-align: center;

    @media (max-width: ($screen-md - 1)) {

      svg {
        width: 200px;
        height: 200px;
      }
    }

    @media (min-width: $screen-lg) {
      padding-top: 2rem;
    }
  }

  &__mark-list {
    padding-left: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $screen-lg) {
      padding-left: 0;
    }
  }

  &__mark-list-item {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      @include background-svg($services-mark-icon);
      left: -1.5rem;
      top: 0.4rem;
      transform: translate3d(-50%,0,0);
    }

    @media (min-width: $screen-sm) {
      margin-left: 0;
    }
  }
}