.about-promo {
  background-color: $gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url(../img/about-promo.jpg);

  @media (min-resolution: 192dpi){
    background-image: url(../img/about-promo@2x.jpg);
  }

  &__stripe {
    position: absolute;
    bottom: -40%;
    left: 0;
    width: 100%;
    height: 40%;
    overflow: hidden;
    transform: skewY(-7deg);
    transform-origin: 0;
    background-color: $bg-color--default;
    z-index: -2;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 595px;

    @media (min-width: $screen-sm) {
      min-height: 695px;
    }
  }

  &__content {
    background-color: $bg-color--default;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    width: 100%;
    max-width: 760px;
    margin: 0 auto 1rem auto;
    padding: 1rem;

    @media (min-width: $screen-sm) {
      padding: 2rem;
    }

    @media (min-width: $screen-lg) {
      padding: 2.5rem 3.5rem;
    }
  }
}