mixin about-promo()

  .about-promo
    .about-promo__inner
      .about-promo__content.
        СПб-Гипрошахт проектно-консалтинговая компания, один из лидеров отрасли, заслуженно пользуется авторитетом в области консалтинга и комплексного проектирования предприятий горной промышленности.
    .about-promo__stripe