.testimonial-quote {
  padding: 2rem;

  &__logo {
    width: 100%;
    height: 100px;
    padding: 2rem;
    padding-left: 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 0% 50%;
    }
  }

  &__quote {
    position: relative;
    max-width: 390px;

    @media (min-width: $screen-sm) {
      font-size: 1.125rem;
    }

    &::before {
      content: '“';
      position: absolute;
      color: currentColor;
      left: -0.5em;
    }

    &::after {
      content: '”';
      position: absolute;
      color: currentColor;
      margin-left: 0.125rem;
    }
  }

  &__author,
  &__appointment {
    opacity: 0.7;
  }
}