mixin testimonial-quote(logo)

  //- Usage:
    +testimonial-quote

  .testimonial-quote
    figure.testimonial-quote__logo
      img(src=logo, alt='')
    p.testimonial-quote__quote.
      Хотелось бы отметить глубокую аналитическую работу, которая проводится перед выполнением каждой задачи.
    .testimonial-quote__author.
      Николай Онже
    .testimonial-quote__appointment.
      Неисполнительный директор