mixin tabs(props, mods)

  //- Param:
    props        {array}
      {object}
        id       {string} - link id
        text     {string} - link text
        isActive {bool}   - is active
    mods         {string} - modifiers

  //- Usage:
    +tabs([
      {
        'id': 'tab00',
        'text': 'Link 0',
        'isActive': true,
      },
      {
        'id': 'tab01',
        'text': 'Link 1',
      },
      ], 'some-mod')
      +tabs-item('tab00', true, 'some')
        Tab 0
      +tabs-item('tab01')
        Tab 1

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tabs--' + modsList[i].trim();
      }
    }

  .tabs(class=allMods)&attributes(attributes)
    ul.tabs__links(role='tablist')
      each tab in props
        -
          var isActive = (typeof(tab.isActive) !== 'undefined' && tab.isActive) ? '  tabs__link-wrap--active' : ''
        li.tabs__link-wrap(class=isActive, role='presentation')
          a.tabs__link(href='#'+tab.id, data-toggle='tab', role='tab')!= tab.text
    .tabs__content-wrapper
      block



mixin tabs-item(id, isActive, mods)

  //- Param:
    isActive {bool}   - is active
    mods     {string} - modifiers

  //- Usage:
    +tabs-item('tab01', true, 'some-mod')
      p Tab 0
    +tabs-item('tab02', false)
      p Tab 1

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tabs__content-item--' + modsList[i].trim();
      }
    }
    if (typeof(isActive) !== 'undefined' && isActive)
      allMods = allMods + '  tabs__content-item--active';

  .tabs__content-item(class=allMods, id=id, role='tabpanel')&attributes(attributes)
    block
