.tabs {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;

  &__links {
    position: relative;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      text-align: center;
    }

    @media (min-width: $screen-md) {
      border-top: 2px solid #e5e5e7;
      border-bottom: 2px solid #e5e5e7;
    }

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;
    line-height: 1.3em;

    &:not(:last-child) {

      @media (max-width: ($screen-sm - 1)) {
        margin-bottom: 1rem;
      }
    }

    &:not(.tabs__link-wrap--active) {

      @media (max-width: ($screen-sm - 1)) {
        opacity: 0.5;
      }
    }

    @media (min-width: $screen-sm) {
      padding: 0 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    &::after,
    &::before {
      position: absolute;
      content: '';
      background-color: $primary-color;
      height: 2px;
      bottom: -0.5rem;
      transition: width 0.25s ease-out 0s;
      transform: translate3d(0,2px,0);

      @media (min-width: $screen-sm) {
        bottom: -1rem;
      }

      @media (min-width: $screen-md) {
        bottom: -2rem;
      }
    }

    &::before {
      right: 0;
      width: 0;

      @media (min-width: $screen-sm) {
        right: 50%;
      }
    }

    &::after {
      left: 0;
      width: 0;

      @media (min-width: $screen-sm) {
        left: 50%;
      }
    }

    &--active {

      &::before {

        @media (min-width: $screen-sm) {
          width: 40%;
        }
      }

      &::after {
        width: 6rem;

        @media (min-width: $screen-sm) {
          width: 40%;
        }
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:visited {}
  }

  &__content-wrapper {
    display: block;
    max-width: $screen-md;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
  }

  &__content-item {

    .js & {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &--active {

      .js & {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
      }
    }
  }
}