.standarts {
  background-color: $bg-color--lighter;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    overflow: hidden;
    transform: skewY(-7deg);
    transform-origin: 0;
    background-color: $bg-color--default;
    z-index: -2;
  }

  &__list {
    margin: 0;
    padding: 1rem;
    max-width: 1040px;
    margin: 2rem auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (min-width: $screen-lg) {
      margin: 5rem auto;
    }
  }

  &__item {
    background-color: $bg-color--default;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 100%;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      flex-basis: 470px;
      flex-grow: 0;
      flex-shrink: 1;
      margin: 1rem;
    }

    @media (min-width: $screen-lg) {
      padding: 2rem 2.5rem;
    }
  }

  &__item-title {
    position: relative;
    color: $primary-color;
    margin-bottom: 1rem;
    font-weight: 500;

    &::before {
      position: relative;
      content: '';
      background-color: currentColor;
      width: 3rem;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
      top: -1px;
    }
  }

  &__item-desc {
    margin-bottom: 0;
  }
}