mixin standarts()

  //- Usage:
    +standarts

  .standarts
    .standarts__stripe
    ul.standarts__list
      li.standarts__item
        h3.standarts__item-title 2012
        p.standarts__item-desc.
          Cертифицирована и активно поддерживает систему менеджмента качества в соответствии с требованиями стандарта ISO серии 9001
      li.standarts__item
        h3.standarts__item-title 2017
        p.standarts__item-desc.
          Проведен ресертификационный аудит на соответствие СМК требованиям МС ИСО 9001:2015 в Австралийском органе по сертификации SAI Global.