.logo {
  display: inline-block;
  white-space: nowrap;
  color: currentColor;

  &:hover {
    color: currentColor;
  }

  img {
    display: block;
  }

  > svg {
    transform: translate3d(0,-3px,0);
  }
}