mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner

      .page-footer__logo
        +logo('/')
          +svg-icon('logo', '100px', '22px')

      .page-footer__contact
        ul.page-footer__contact-list
          li.page-footer__contact-item
            a.page-footer__contact-link(href='tel:+78123323092')
              +svg-icon('phone', '11px', '11px')
              | +7 (812) 332-30-92
          li.page-footer__contact-item
            a.page-footer__contact-link(href='emailto:info@spbgipro.ru')
              +svg-icon('mail', '11px', '11px')
              | info@spbgipro.ru
          li.page-footer__contact-item
            +svg-icon('address', '11px', '11px')
            | Санкт-Петербург, ул. Чапаева, 15а

      .page-footer__created-by
        a(href='/')
          +svg-icon('softmate', '150px', '15px')
