.page-footer {
  background-color: $bg-color--default;
  color: $text-color;
  padding: 3rem 1rem;

  @media (min-width: $screen-lg) {
    padding: 2rem 1rem;
  }

  &__inner {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__logo,
  &__contact {

    svg {
      fill: $primary-color;
      vertical-align: middle;
    }
  }

  &__logo {
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      width: 50%;
      flex-basis: 50%;
    }

    @media (min-width: $screen-md) {
      width: 20%;
      flex-basis: 20%;
    }

    @media (min-width: $screen-lg) {
      width: 20%;
      flex-basis: 20%;
      margin-bottom: 0;
    }
  }

  &__contact {
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      width: 50%;
      flex-basis: 50%;
      margin-bottom: 1rem;
    }

    @media (min-width: $screen-md) {
      width: 80%;
      flex-basis: 80%;
    }

    @media (min-width: $screen-lg) {
      width: 60%;
      flex-basis: 60%;
      margin-bottom: 0;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }

  &__contact-list {
    margin: 0;

    @media (min-width: $screen-md) {
      text-align: right;
    }

    @media (min-width: $screen-lg) {
      text-align: center;
    }
  }

  &__contact-item {

    @media (min-width: $screen-md) {
      display: inline-block;
      margin-bottom: 0;

      & + & {
        margin-left: 2rem;
      }
    }
  }

  &__contact-link {
    color: currentColor;
    font-weight: 400;
    transition: all 0.25s ease-out 0s;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }

  &__created-by {

    @media (min-width: $screen-sm) {
      width: 100%;
      flex-basis: 100%;
    }

    @media (min-width: $screen-lg) {
      width: 20%;
      flex-basis: 20%;
      text-align: right;
    }

    svg {
      fill: #cfcfd5;
      vertical-align: middle;
    }
  }

  &--muted {
    background-color: $bg-color--lighter;
  }

  &--separated {
    border-top: 1px solid $border-color;
  }
}