mixin slogan()

  //- Usage:
    +slogan

  .slogan
    p.slogan__content.
      СПб-Гипрошахт — это команда профессионалов, реализовавших ряд знаковых проектов в России и за рубежом. Используя идеи и знания, собранные по всему миру, обширные деловые связи и собственные достижения, ориентируясь на мнения клиентов и опыт партнеров, мы всегда находим наиболее эффективное решение для самых сложных задач.