.slogan {
  background-color: $bg-color--lighter;
  padding: 3rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 5rem 1rem;
  }

  &__content {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 0;
    width: 100%;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media (min-width: $screen-md) {
      max-width: 760px;
      text-align: center;

      &::after {
        position: absolute;
        content: '';
        background-color: $primary-color;
        height: 2px;
        width: 88px;
        bottom: -1rem;
        left: 50%;
        transform: translate3d(-50%,0,0);
      }
    }
  }
}