.promo-object-map {
  background-color: $bg-color--lighter;
  padding: 2rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4rem 1rem;
  }

  &__container {
    max-width: 1069px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  &__btn {
    display: inline-block;
    background-image: none;
    color: $primary-color;
    margin: 0;
    padding: 1.8em 2em 1.7em;
    min-width: 214px;
    border-radius: $border-radius;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    box-shadow: 0 5px 30px 0 rgba(43,66,88,0.30);
    border-radius: $border-radius;
    background-color: $bg-color--default;

    > svg {
      vertical-align: middle;
      stroke: currentColor;
      margin-left: 0.75rem;
      transform: translate3d(0,-1px,0);
    }
  }
}