mixin promo-object-map()

  //- Usage:
    +promo-object-map

  .promo-object-map.section
    .promo-object-map__container
      a.promo-object-map__btn(href='/')
        | Все объекты
        svg(width='25px', height='10px', viewbox='0 0 50 20', xml:space='preserve')
          g(fill='none', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            polyline(points='5,10 45,10')
            polyline(points='37,2 45,10 37,18')
      .promo-object-map__cover
        img(src="img/object-map.svg", alt="")