mixin advantages()

  -
    let advantageData = [
      {
        "title": "Командная работа",
        "desc": "Мы – команда единомышленников. Наши действия основываются на доверии, ответственности, совместной выработке и реализации решений.",
        "blockName": "team"
      },
      {
        "title": "Уважение к людям",
        "desc": "Мы предоставляем достойные условия труда, справедливо оцениваем деятельность сотрудников, создаем условия для их самореализации, инициативы и развития внутри компании.",
        "blockName": "respect"
      },
      {
        "title": "Безопасность",
        "desc": "Мы исходим из того, что никакая цель не может оправдать нарушение требований безопасности. Мы стремимся предупреждать загрязнение окружающей среды, экономно и рационально использовать потребляемую энергию и природные ресурсы.",
        "blockName": "safe"
      },
      {
        "title": "Внимание к клиентам",
        "desc": "Мы осознаем, что компания существует только благодаря клиентам. Мы уважаем и ценим наших клиентов, тщательно изучаем их потребности и оперативно реагируем на их нужды. Мы развиваемся с ними и для них: совершенствуем наши технологии, процессы, выпускаем новые продукты, повышаем уровень сервиса.",
        "blockName": "responsive"
      },
      {
        "title": "Единство",
        "desc": "Единство – фундаментальный принцип для достижения лидерства в создании. Наше единство основано на общих целях, ценностях и стандартах работы.",
        "blockName": "united"
      },
      {
        "title": "Эффективность и оперативность",
        "desc": "Мы стремимся достигать максимального результата, внедрять лучшие мировые практики и инновации, принимать эффективные и своевременные решения.",
        "blockName": "effective"
      },
    ];

  .advantages
    .advantages__container
      ul.advantages__list
        each advantage in advantageData
          +advantages-item(advantage)

mixin advantages-item(advantage)

  -
    let advantageName = ` advantages__item--${advantage.blockName}`;

  li.advantages__item(class= advantageName)
    dl
      dt.advantages__item-title= advantage.title
      dd.advantages__item-desc= advantage.desc