.advantages {
  background-color: $bg-color--default;
  padding: 3rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 5rem 1rem 2rem;
  }

  &__container {
    width: 100%;
    max-width: $screen-xl;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    margin: 0;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item {
    margin-bottom: 3.5rem;
    position: relative;
    padding-top: 3rem;

    @media (min-width: $screen-sm) {
      width: 40%;
      flex-basis: 40%;
      flex-shrink: 1;
      flex-grow: 0;
    }

    @media (min-width: $screen-lg) {
      width: 30%;
      flex-basis: 30%;
      flex-shrink: 1;
      flex-grow: 0;
      padding-top: 0;
      padding-left: 3.5rem;
    }

    &::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      left: 0;
      top: 0;
      width: 35px;
      height: 35px;

      @media (min-width: $screen-lg) {
        top: 3rem;
      }
    }

    &--team {

      &::before {
        @include background-svg($team);
      }
    }

    &--respect {

      &::before {
        @include background-svg($respect);
      }
    }

    &--safe {

      &::before {
        @include background-svg($safe);
      }
    }

    &--responsive {

      &::before {
        @include background-svg($responsive);
      }
    }

    &--united {

      &::before {
        @include background-svg($united);
        left: -5px;
      }
    }

    &--effective {

      &::before {
        @include background-svg($effective);
      }
    }
  }

  &__item-title {
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1rem;
    }
  }

  &__item-desc {
    margin-left: 0;
    font-size: 0.875rem;
    max-width: 30em;
  }
}