mixin chronicle(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' chronicle--' + modsList[i].trim();
      }
    }

  .chronicle(class=allMods)&attributes(attributes)
    .chronicle__wrap
      block
