.chronicle {
  padding: 3rem 1rem;
  overflow: hidden;

  @media (min-width: $screen-lg) {
    padding: 3rem 0;
  }

  &--first {

    @media (min-width: $screen-lg) {
      padding-left: 3%;
    }
  }

  &--second {

    .timeline__item--first {

      &::before {
        position: absolute;
        content: '';
        top: 0.5rem;
        left: -2rem;
        width: 1rem;
        height: 1rem;
        background-color: $bg-color--default;
        @include background-svg($timeline-small-point);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 0 7px $bg-color--default;

        @media (min-width: $screen-md) {
          display: none;
        }

        @media (min-width: $screen-lg) {
          display: block;
          top: auto;
          bottom: -0.5rem;
        }
      }
    }

    @media (min-width: $screen-lg) {

      .timeline {

        &::before {
          left: 0;
        }
      }

      .timeline__list {
        padding: 0 2rem;
      }

      .timeline__item--mark {

        &::before {
          top: -20px;
        }
      }
    }
  }
}