.promo-team-card {
  text-align: center;
  max-width: 227px;
  margin: auto;

  &__photo {
    background-color: $bg-color--default;
    height: 285px;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }

  &__desc {

    span {
      display: block;
      font-weight: 500;
      font-size: 0.75rem;
      opacity: 0.3;
      line-height: 1.25em;
    }
  }
}