mixin promo-team-card(imgSrc, name, appointment)

  figure.promo-team-card
    .promo-team-card__photo
      img(src=imgSrc, alt='')
    figcaption.promo-team-card__desc
      | #{name}
      span #{appointment}