.label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  color: $primary-color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size--small;
  line-height: 1rem;
  white-space: nowrap;
  border-radius: $border-radius;
  border: 1px solid currentColor;
  font-weight: 500;
  letter-spacing: 0.025em;
  width: 10rem;
  padding: 0.35rem 0.5rem 0.25rem;
  display: block;
  margin-bottom: 0.75rem;

  @media (min-width: $screen-sm) {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
