mixin label(text, mods, tag)

  //- Param:
  //-   text  {string} - label text
  //-   mods  {string} - modifiers
  //-   tag   {string}

  //- Usage:
    +label('Label text')
    +label('Label text', 'danger', 'div')
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' label--' + modsList[i].trim();
      }
    }

  if tag
    #{tag}.label(class=allMods)&attributes(attributes)!= text
      block

  else
    span.label(class=allMods)&attributes(attributes)!= text
