.main-slider {

  // Dots styles
  .owl-nav.disabled + .owl-dots,
  .owl-dots {
    margin-top: 1.5rem;
  }

  .owl-dots .owl-dot span {
    background-color: $primary-color;
    width: 0.75rem;
    height: 0.75rem;
    opacity: 0.25;
  }

  .owl-dots .owl-dot.active span,
  .owl-dots .owl-dot:hover span {
    background-color: $primary-color;
    opacity: 1;
  }

  // Nav styles

  .owl-nav [class*=owl-] {

    &:hover {
      background: transparent;
    }
  }

  .owl-nav .disabled {
    opacity: 0.25;

    svg {

      #arrow {
        transform: translate3d(-6px,0,0);
      }

      #line {
        transform: scalex(0.6)
      }
    }
  }

  .owl-prev,
  .owl-next {

    svg {
      vertical-align: middle;
      stroke: $primary-color;

      #line {
        transform-origin: center;
      }

      polyline {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &:hover,
    &:focus {
      outline: none;

      svg {

        polyline {
          stroke-width: 3;
        }
      }
    }

    &:active {

      svg {

        polyline {
          stroke-width: 4;
          transition-property: all;
          transition-duration: .15s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
  }

  .owl-prev {

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}