mixin field-toggler(togglers, title, isRadio)

  //- Param:
    togglers {array}
      {object}
        title: ''         {string} - toggler text
        helpText: ''      {string} - helper text
        mods: ''          {string} - modifiers
        attrs:            {object} - attributes
          name:           {string}
        ...
    title: ''             {string} - heading
    isRadio: false        {bool}   - if it's radio buttons

  //- Use:
      +field-toggler([
        {
          title: 'Checkbox 1',
          helpText: 'Helper text',
          attrs: {
            name: 'check0',
          }
        },
      ])
      +field-toggler([
        {
          title: 'Checkbox 2',
          helpText: 'Helper text',
          attrs: {
            name: 'check1',
            checked: true,
          }
        },
        {
          title: 'Checkbox 3',
          helpText: 'Helper text',
          mods: 'some',
          attrs: {
            name: 'check2',
          }
        },
      ], 'Title (if needed)', isRadio)

  if isRadio
    - var type = 'radio';

  else
    - var type = 'checkbox';

  .s-field-toggler&attributes(attributes)
    if title
      .s-field-toggler__title= title

    each toggler in togglers
      -
        var allMods = '';
        if (typeof(toggler.mods) !== 'undefined' && toggler.mods) {
          var modsList = toggler.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' s-field-toggler__input-wrap--' + modsList[i].trim();
          }
        }

      .s-field-toggler__input-wrap(class=allMods)
        label.s-field-toggler__name
          input.s-field-toggler__input(type=type)&attributes(toggler.attrs)
          span.s-field-toggler__name-text= toggler.title

        if toggler.helpText
          .s-field-toggler__help-text-wrap
            .s-field-toggler__help-text= toggler.helpText
