extends pug/layout.pug

block meta
  - var title = 'About Giproshakht';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  +about-promo

  +chronicle('first')
    .timeline
      ul.timeline__list
        li.timeline__item.timeline__item--first.timeline__item--mark
          span.timeline__date 1928
          p.timeline__desc.
            31 августа основан Государственный проектный институт Гипрошахт
        li.timeline__item.timeline__item--second
          span.timeline__date 1950
          p.timeline__desc.
            Начаты работы по проектированию зарубежных угольных горных предприятий
        li.timeline__item.timeline__item--third
          span.timeline__date 1978
          p.timeline__desc.
            За большой вклад в развитие угольной и сланцевой промышленности в стране Гипрошахт награждён Орденом Трудового Красного Знамени
        li.timeline__item.timeline__item--fourth
          span.timeline__date 2005
          p.timeline__desc.
            Гипрошахт вошел в состав международной горно-металлургической компании Северсталь

  +company-structure
  +slogan
  +advantages
  +our-mission
  +bim-leader
  +clients

  +chronicle('second')
    .timeline
      ul.timeline__list
        li.timeline__item.timeline__item--first
          span.timeline__date 2013
          p.timeline__desc.
            Проект Печорской обогатительной фабрики стал первым проектом, выполненным в 3D
        li.timeline__item.timeline__item--second
          span.timeline__date 2014
          p.timeline__desc.
            СПб-Гипрошахт признан BIM-лидером России
        li.timeline__item.timeline__item--third
          span.timeline__date 2016
          p.timeline__desc.
            СПб-Гипрошахт начал оказывать проектные и консалтинговые  услуги международным EPC-компаниям
        li.timeline__item.timeline__item--fourth.timeline__item--mark
          span.timeline__date 2018
          p.timeline__desc.
            За три года портфель заказов вырос в 1,5 раза

  +standarts

block footer
  +page-footer('muted, separated')