extends pug/layout.pug

block meta
  - var title = 'Activities';
  title= title
  meta(name='description', content='')

block header

block content
  +directions
  +software-usage
  +services

block footer