include pug/mixins.pug

doctype html
html(class='no-js page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google' value='notranslate')
    meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/bootstrap.min.css')
      link(rel='stylesheet', href='css/owl.carousel.css')
      link(rel='stylesheet', href='css/owl.theme.default.css')
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    include ../src/blocks/sprite-svg/img/sprite-svg.svg

    .page__inner.page__inner--ar
      img(
        src='img/ar-bg-example.jpg',
        alt='Nice Mountain')
      .page__content
        block header
          p Header
        block content
          +ar

      .page__footer-wrapper
        block footer
          +page-footer

    block page-bottom
      script(src='js/jquery.min.js')
      script(src='js/jquery-migrate.min.js')
      script(src='js/owl.carousel.min.js')
      script(src='js/transition.js')
      script(src='js/modal.js')
      script(src='js/script.min.js')
