extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header

block content
  +promo
  +key-directions
  +in-numbers
  +promo-object-map
  +promo-software-usage
  +promo-team
  +promo-testimonials
  +feedback
  +promo-news

block footer
  +page-footer('muted, separated')