@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-400-normal.woff2') format('woff2'),
       url('../fonts/roboto-400-normal.woff') format('woff'),
       url('../fonts/roboto-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-500-normal.woff2') format('woff2'),
       url('../fonts/roboto-500-normal.woff') format('woff'),
       url('../fonts/roboto-500-normal.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-700-normal.woff2') format('woff2'),
       url('../fonts/roboto-700-normal.woff') format('woff'),
       url('../fonts/roboto-700-normal.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}