// Width

$screen-xs:                   375px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$primary-color:               #005da3;

$text-color:                  $gray-darker;
$text-color--lighter:         $gray-lighter;

$heading-color:               $gray-darker;
$caption-color:               $gray-light;

$bg-color--default:           $white;
$bg-color--lighter:           #f6f6f7;
$bg-color--darker:            $gray-darker;

$border-color:                #e5e5e7;
$border-radius:               2px;

$opacity:                     0.5;
$box-shadow:                  0 5px 20px 0 rgba(43,66,88,0.15);
