.clients {
  min-height: 40rem;
  background-color: $bg-color--default;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__stripe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30%;
    overflow: hidden;
    transform: skewY(-7deg);
    transform-origin: 0;
    background-color: $bg-color--lighter;
    z-index: -2;
  }

  &__inner {
    padding: 5rem 1rem;
  }

  &__title {
    font-size: 1.125rem;
    line-height: 1.2em;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    position: relative;
    max-width: 34em;
    margin-left: auto;
    margin-right: auto;

    &::before {
      position: absolute;
      content: '';
      left: 50%;
      top: -4rem;
      transform: translate3d(-50%,0,0);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      @include background-svg($clients-title-icon);
      width: 39px;
      height: 39px;
    }
  }

  &__list {
    margin: 0;
    @extend .promo-software-usage__list;
    padding: 1rem;

    @media (min-width: $screen-sm) {
      padding: 0;
    }
  }

  &__item {
    @extend .promo-software-usage__item;
  }
}