mixin clients()

  section.clients
    .clients__stripe
    .clients__inner
      h2.clients__title.
        Наши основные клиенты – предприятия горной промышленности и ЕРС-подрядчики
    .clients__list
      +tabs([
        {
          'id': 'mining-companies',
          'text': 'Горнодобывающие компании',
          'isActive': true,
        },
        {
          'id': 'epc',
          'text': 'ЕРС, ЕРСМ-подрядчики',
        }])
        +tabs-item('mining-companies', true)
          ul.clients__list
            li.clients__item
              img(src='img/suek.png', alt='')
            li.clients__item
              img(src='img/sever.png', alt='')
            li.clients__item
              img(src='img/nordgold.png', alt='')
            li.clients__item
              img(src='img/evraz.png', alt='')
            li.clients__item
              img(src='img/polymetal.png', alt='')
            li.clients__item
              img(src='img/metalinvest.png', alt='')
            li.clients__item
              img(src='img/potash.png', alt='')
            li.clients__item
              img(src='img/nickel.png', alt='')
        +tabs-item('epc')
          ul.clients__list
            li.clients__item
              img(src='img/lincare.jpg', alt='')
            li.clients__item
              img(src='img/tecnimont.jpeg', alt='')
            li.clients__item
              img(src='img/vel.gif', alt='')
            li.clients__item
              img(src='img/technip.png', alt='')
            li.clients__item
              img(src='img/south.jpg', alt='', width='300px')