mixin field-checkbox(checkboxes, title)

  //- Param:
    checkboxes {array}
      {object}
        title: ''         {string} - checkbox text
        helpText: ''      {string} - help text
        mods: ''          {string} - modifiers
        attrs:            {object} - attributes
          name:           {string}
      ...

  //- Use:

    +field-checkbox([
      {
        title: 'Checkbox 0',
        helpText: 'Help text',
        attrs: {
          name: 'check0',
        }
      },
    ])

    +field-checkbox([
      {
        title: 'Checkbox 1',
        helpText: 'Help text',
        mods: 'error',
        attrs: {
          name: 'check1',
          checked: true,
        }
      },
      {
        title: 'Checkbox 2',
        helpText: 'Help text',
        mods: 'error',
        attrs: {
          name: 'check2',
        }
      },
    ], 'Block name (if needed)')

  .s-field-checkbox&attributes(attributes)

    if (typeof(title) !== 'undefined' && title)
      .s-field-checkbox__title!= title

    each checkbox in checkboxes
      -
        var allMods = '';
        if (typeof(checkbox.mods) !== 'undefined' && checkbox.mods) {
          var modsList = checkbox.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' s-field-checkbox__input-wrap--' + modsList[i].trim();
          }
        }

      .s-field-checkbox__input-wrap(class=allMods)
        label.s-field-checkbox__name
          input.s-field-checkbox__input(type='checkbox')&attributes(checkbox.attrs)

          if checkbox.isPrivacy
            span.s-field-checkbox__name-text.s-field-checkbox__name-text--privacy!= checkbox.title
          else
            span.s-field-checkbox__name-text!= checkbox.title

        if (typeof(checkbox.helpText) !== 'undefined' && checkbox.helpText)
          .field-checkbox__help-text-wrap
            .field-checkbox__help-text!= checkbox.helpText
