mixin promo-software-usage()

  //- Usage:
    +promo-software-usage

  include promo-software-usage-list.pug

  .promo-software-usage.section
    .promo-software-usage__container
      h2.promo-software-usage__title.
        Используем лучшее программное обеспечение
      ul.promo-software-usage__list
        each logo in softwareList
          +software-logo(logo)



mixin software-logo(logo)

  li.promo-software-usage__item: img(src=`img/${logo.name}.png`, alt='')