.promo-software-usage {
  background-color: $bg-color--lighter;

  &__title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 1.5rem;
      margin-bottom: 4rem;
    }
  }

  &__container {
    max-width: $screen-md;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    width: 140px;
    flex-basis: 140px;
    flex-shrink: 0;
    flex-grow: 1;
    text-align: center;
    padding: 1rem;

    @media (min-width: $screen-md) {
      width: 200px;
      flex-basis: 200px;
    }
  }
}