-
  var softwareList = [
    {
      "name": "micromine"
    },
    {
      "name": "dassault-systemes"
    },
    {
      "name": "autodesk-navisworks"
    },
    {
      "name": "datamine"
    },
    {
      "name": "robot-structural"
    },
    {
      "name": "scad"
    },
    {
      "name": "sap"
    },
    {
      "name": "idea"
    },
    {
      "name": "autodesk-revit"
    },
    {
      "name": "autocad"
    },
    {
      "name": "tekla"
    },
    {
      "name": "autocad-civil"
    }
  ];